[2015-03-08 11:38] 256dpi opened #1 "Use mqtt-stack & mqtt-spec?"
Hi Matteo,

Just saw that you started that project. Are you considering using the `mqtt-stack` and `mqtt-spec` stuff I started? There is not much missing, I just hadn't the time to finish it yet.

[2015-03-08 11:49] mcollina commented on #1
Aedes is all about speed. So, no framework here. It is going to support
MQTT and MQTT only. Similarly to Mosca, it would support some pluggability.

Regarding mqtt-spec, I plan to use it for the integration tests, probably
to replace what it is in Mosca now.
Il giorno dom 8 mar 2015 alle 12:38 Joël Gähwiler <notifications@github.com>
ha scritto:

[2015-03-08 12:01] 256dpi commented on #1
I think it is possible to build that high-speed MQTT only broker also with `mqtt-stack`. Since the library is just a collection of these middlewares that provide a simple API for implementing the various MQTT features. There is even already an architecture for "plugins": https://github.com/mqttjs/mqtt-stack/blob/master/test/support/memory_backend.js. Do you think that the 2, 3 additional function

[2015-03-08 12:34] mcollina commented on #1
I don't know what will slow things down. I am doing this in Benchmark-Driven-Development, adding feature and checking if I can keep the same level of performance. Normally function calls do not slow things down, but creating functions and/or objects might do. In the composability vs speed battle, here I pick speed.

This approach is paying off: Aedes performs at 70k msg/sec on iojs on my macbook p

[2015-03-10 01:12] 256dpi commented on #1
I like that approach, this kind of research is interesting to follow and already paying off: I used parts of your client implementation to replace `mqtt-connection`. That way `mqtt-stack` seems handling the bombing benchmark now well (before it just corked up :D).

On my macbook-air `aedes` performs with 26'000 msg/s and `mqtt-stack` 12'000 msg/s. However the comparison might be more true when `ae

[2015-03-10 02:21] RangerMauve commented on #1
Definitely leave room for authentication and authorization plugins of some sort, though.

[2015-03-10 08:25] mcollina commented on #1
@RangerMauve @256dpi if you want to contribute, I am _definitely_ accepting pull requests ;).

[2015-05-21 15:18] #1 closed

[2015-06-08 10:01] mcollina opened #2 "Direct publish and subscribe from client"

[2015-11-15 20:50] jeremytregunna opened #7 "client parameter is null on publish event"
Like the title says, when implementing the publish event like this:

[code]

The console will always be `null`. The little documentation that's in place tends to lean towards that `client` should be populated except for internal messages. Is this a wrong assertion? If so, in what cases should the publish event return a client?

[2015-11-15 21:10] mcollina commented on #7
That should be the case, `client` will be populated when there is a client.
If not, that would be a bug.

How do you reproduce?

[2015-11-15 21:16] jeremytregunna commented on #7
So I'm using mosquitto_pub/sub to test. The `client` event shows the client, but when I run:

`mosquitto_pub -t test -m 123`

And in the server code I'm using the above posted code, I always see `client = null` in my console.

[2015-11-16 08:28] #7 closed

[2015-11-16 08:28] mcollina commented on #7
Releases as 0.10.3.

[2015-11-19 10:23] behrad opened #8 "event sequence on reconnect"
In mosca, when an offline client (which is not yet keep-alived in mosca side) tries to reconnect, server emits a `connected` event followed by a `disconnected` for old connection which mosca closes.
This makes it hard for apps to easily recognize correct client status (online/offline) and also produces a race.
How is this in Aedes? and can server first emit disconnected (or even don't emit it in s

[2015-11-19 10:28] mcollina commented on #8
I believe aedes should respect the real order `'clientDisconnect`' first, and then `'client'`. Would you mind contributing a unit test to keep checking that order is preserved?

(it's much easier to tests those cases here, as all the tests do not involve the network)

[2015-11-19 10:39] behrad opened #9 "Authentication Hook"
Another issue with Mosca is the race with plugging authentication hook, and that is because of setting auth handler after server boot, not as an configuration option.

[code]

This will be important on server restarts in production (with heavy connected clients)

[2015-11-19 10:53] behrad commented on #8
Can we add a reason to `clientDisconnect` then?
(connect also can have more detailed info, like `ipaddress`)

I will give it a try to write a test when I'm more idle, but currently too busy.

[2015-11-19 10:55] behrad opened #10 "Add delivered event"
`delivered` event is not added to aedes yet.

[2015-11-19 11:08] mcollina commented on #9
This won't be true here, as Aedes does not handle the connections.
However I agree we should support setting there in the config.

Would you like to send a PR?

[2015-11-19 11:15] mcollina commented on #8
It would be great to get a PR, It should be easy enough.

What do you think the reason should be? Just a string?

[2015-11-19 11:28] mcollina commented on #10
Yes, it's missing. It should be easy to add though.

Just for a reference, here is where it is originally emitted in Mosca:
https://github.com/mcollina/mosca/blob/2694214e230a6b1febfd40fa55c7d33d40876fb0/lib/client.js#L383

[2015-11-19 11:53] behrad commented on #10
yea, and that line was committed by me if you remember @mcollina :)) same for this topic ;)

I want to make sure the very first version of aedes is feasible for me to port my app on, this is my main concern :+1:

[2015-11-19 11:57] behrad commented on #8
Can you enumerate some? like normal (client closes the connection normally), reconnect (the same scenario as I mentioned above), error (protocol errors, ... ), ... !?

[2015-11-19 11:59] behrad commented on #9
How aedes will handle auth? a plugin-like architecture or a handler function in config?
What is the specification (methods) for such handler?

[2015-11-19 14:19] mcollina commented on #9
Similar to Mosca: https://github.com/mcollina/aedes#instanceauthenticateclient-username-password-doneerr-successful.

[2015-11-19 14:20] mcollina commented on #9
You can override some methods, but I think it might be easier to just provide those functions in the options, rather than override the methods.

[2015-11-19 14:23] mcollina commented on #8
Error will emit `'error'`, and then `'disconnect'`.

Also there are 'wrong user/password' and 'unable to publish'.

[2015-11-24 21:15] jeremytregunna opened #12 "broker keeps dying due to keep alive timeout"
I have aedes running as a broker locally, and whenever a keep alive timeout on the connect handler is missed, it fires an error, as I'd expect. However, that error kills the broker entirely, which is surprising me to me. Is this intended behaviour, and if so, why?

[2015-11-24 21:34] mcollina commented on #12
I would say it is a bug, and it should be easy to fix.Would you like to
send a PR?

Il giorno mar 24 nov 2015 alle 22:15 Jeremy Tregunna <
notifications@github.com> ha scritto:

[2015-11-24 22:33] jeremytregunna commented on #12
Actually, this issue is a bit misleading, it involves the packet timeout, and I'm not entirely sure if aedes is doing something buggy or if the keep alive timeout in a packet just doesn't make sense for a QoS0 packet. When I change my packet's keep alive to 0, the problem disappears, client has no connection issues even over long time ranges with inactivity. I'm thinking this might be something I'

[2015-11-24 23:10] mcollina commented on #12
Aedes shuould not crash for a wrong packet. Can you please attach the
stacktrace?
Il giorno mar 24 nov 2015 alle 23:33 Jeremy Tregunna <
notifications@github.com> ha scritto:

[2015-11-24 23:11] jeremytregunna commented on #12
Yeah it's below if it helps:

[code]

[2015-11-24 23:29] jeremytregunna commented on #12
Also related:

[code]

[2015-11-25 08:20] mcollina commented on #12
Confirmed the first one (that lead to a crash).

Here is the client to reproduce:

[code]

[2015-11-25 08:23] mcollina commented on #12
Actually this is not a bug, it's me that left a `throw` in the example (https://github.com/mcollina/aedes/blob/master/example.js#L13).

This disappears removing that throw.

[2015-11-25 08:24] #12 closed

[2015-12-05 19:39] mcollina commented on #2
Already implemented

[2015-12-05 19:39] #2 closed

[2015-12-14 19:47] cefn opened #14 "Aedes chokes on numerical topic subpaths in retained messages"
I modified the https://github.com/mcollina/aedes/blob/master/benchmarks/pingpong.js benchmark as follows...

    client.publish('test', JSON.stringify(process.hrtime()), { qos: 1})

...changed to...

    client.publish(('/' + sent), JSON.stringify(process.hrtime()), { qos: 1, retain:true})

...and...

    client.subscribe('test', { qos: 1 }, publish)

...modified to...

    client.subscribe('#', {

[2015-12-14 20:12] cefn opened #15 "Latencies report strangely in pingpong.js"
I found myself inspecting the contents of the latencies array after seeing strange numbers reported.

After a few numbers which look sensible, (though slow, assuming this should be interpreted in milliseconds), the following numbers seem to go a bit crazy. See this snapshot from different positions in the latencies array. I suspect this is to do with interactions between hrtime calls and convert-h

[2015-12-14 20:54] mcollina commented on #14
In fact, it's not about numerical paths. It's about retained messages and QoS 1. Thanks for spotting this, I will get it fixed.

Beware that the in-memory storage for Aedes is definitely not optimized for storing 10k messages.

[2015-12-14 21:00] mcollina commented on #15
There is a bug with the '#' subscription, it forwards $SYS topics right now. Possibly some bad things comes down and get parsed.

[2015-12-16 03:47] wedgwood opened #16 "conflict id problem"
I guess there may be security issues. Any client could connect to server with any id, and then kick other cients.

[2015-12-16 15:59] mcollina commented on #16
This is not an issue, the check happens after the user has successfully authenticated, so you just need to specify the auth functions to avoid that. However we have #6, that I need to investigate.

[2015-12-16 15:59] #16 closed

[2015-12-16 17:51] #15 closed

[2015-12-16 22:35] mcollina commented on #14
This should be fixed by #17. Please test and reopen in case.

[2015-12-30 23:07] chiradip opened #18 "TLS Options while creating sever"
How can I use PFX option as in regular NodeJS TLS
Like the following.
var options = {
  pfx: fs.readFileSync('client.pfx')
};

Besides pfx/pkcs, the following parameters are necessary to have at the minimum -  crl, passphrase, requestCert, rejectUnauthorized. Ideally the whole TLS options should be available in the same way regular TLS options work. If already possible - please provide an example.

[2015-12-30 23:13] chiradip opened #19 "wbsocket support"
Can we get something like attachHttp available in Mosca? WebSocekt should have all the regular options available like full security options - tls cert, client cert etc.

[2015-12-30 23:34] mcollina commented on #19
Mosca would move to Aedes soon. Aedes would remain a stream-based module.

Websocket is already supported, you just need to use [websocket-stream](http://npm.im/websocket-stream).

[2015-12-30 23:34] #19 closed

[2015-12-30 23:35] mcollina commented on #18
Aedes is _just_ a module. Mosca will adopt Aedes soon, and these will be provided there.
You can roll those by using the `tls` module yourself: Aedes works on any stream server.

[2015-12-30 23:35] #18 closed

[2015-12-31 01:49] cefn opened #20 "Aedes fails retained messages stressMQTT tests"
Reporting as requested. Focusing on low numbers of topics for now.

Currently Aedes at https://github.com/mcollina/aedes/commit/2e25a0b4107a8f85bd8844625b8ecb748479faac (installed by softlinking the git repo directly into my project's node_modules folder) is failing to deliver any retained messages at all within the test suite https://github.com/cefn/stressMQTT/

The test "Wildcard subscription of

[2015-12-31 09:17] #20 closed

[2015-12-31 09:18] mcollina commented on #20
All your tests now passes on Aedes 0.12.

[2015-12-31 09:18] mcollina commented on #20
That was a really good catch of an edge case I did not though about.

[2015-12-31 09:19] #14 closed

[2016-01-01 00:23] cefn opened #21 "Issue remains with edge cases"
I still seem to be hitting the same scenario where ```client._keepaliveTimer === null``` at line 19 in index.js

    client._keepaliveTimer.reschedule(client._keepaliveInterval)

It's hard to recreate the exact conditions as this is in our production system, but the packet which is being handled at that moment is...

{"cmd":"puback","retain":false,"qos":0,"dup":false,"length":2,"topic":null,"paylo

[2016-01-01 11:13] mcollina commented on #21
Oh, Aedes is at best beta software. It did not go through all the hardening that real-world did with Mosca.

Anyway, PR is coming for you to test.

[2016-01-05 08:49] #21 closed

[2016-01-06 00:47] marvinroger commented on #9
So basically, add `authenticate`, `authorizePublish` and `authorizeSubscribe` to `aedes()` options?

[2016-01-10 05:01] guptaashishiitr commented on #10
@mcollina : Do you know when can we have delivered event?

[2016-01-10 05:03] guptaashishiitr opened #23 "MongoDB Persistence"
@mcollina : We are using mongodb for persistence with mosca and want to use the same with aedes as well. Do you know when can we have that?

[2016-01-10 06:53] behrad commented on #10
I'll create a PR this week @guptaashishiitr

[2016-01-10 19:43] guptaashishiitr opened #24 ""no such packet" errors in clientError event"
Clients keeps throwing error. Do you know what it means?
Also sometimes I get 10s/100s of subscription logs for same client and topic whereas frontend only tried once as below:

2016-01-10T19:58:28.221Z - info: Client: andr_d1e5c1622809744e, Topic: <topic name>, Method: authorizeSubscribe; Subscription successful
2016-01-10T19:58:28.221Z - info: Client: andr_d1e5c1622809744e, Topic: <topic name>,

[2016-01-10 20:39] mcollina commented on #24
Regarding the `'no such packet'` error: it happens when a client has a subscription (even offline, with `clean: false`), and it sends a PUBACK (or QoS 2 equivalents) with an unknown messageId. This can be either a bug on this broker or on your client lib.

In your case, I think you are using `clean: false`, and the client is disconnected by the broker when it cannot match. The subscription cycle h

[2016-01-10 22:38] guptaashishiitr commented on #24
Do you have a blog that explains mqtt basics clearly with different options we should be using?
I know clean:false is mainly used for persistence sessions and we were using clean:false which when we changed to clean:true one extra step is getting completed. Also we are using QOS2.

Error Stack Trace

2016-01-10T22:34:01.804Z - error:  Error: no such packet
    at MemoryPersistence.outgoingUpdate (

[2016-01-10 22:41] guptaashishiitr commented on #24
Also this particular message is sent from aedes client library to publish using the aedes broker to the topic where above client (poho on android) is subscribed to

[2016-01-11 11:27] mcollina commented on #24
That is helpful @guptaashishiitr.

I will work on this and get it fixed. I know what is happening, but I do not know why and how to fix this. I will investigate.

[2016-01-11 14:17] guptaashishiitr commented on #24
@mcollina  - Appreciate the help. We are planning to launch our startup end of Jan. Not trying to push anything but we want to check if this is something that can be addressed soon. Let me know if I can help in any way. Thanks again.

[2016-01-11 14:37] mcollina commented on #24
Are you able to replicate the problem using MQTT.js or just mqtt-packet? I'm having trouble in replicating it in my unit tests.

Which version of Aedes are you running? Also, check what version of aedes-persistence is installed.

As a "quick fix", you can run on QoS 1.

[2016-01-11 20:07] guptaashishiitr commented on #24
@mcollina  I wanted to check this with you that you asked for mqtt-packet in publish method but I am sending normal packet json with topic, qos etc should I create it using mqtt-packet? (converting it to buffer?)  I am using 0.12.3 and I dont have aedes-persistence installed

[2016-01-11 20:35] mcollina commented on #24
@guptaashishiitr no need, I've just find a way to reproduce. The fix is along the way, but I'm currently busy, so it might take a couple of days (but I hope for tomorrow).

[2016-01-11 21:39] guptaashishiitr commented on #24
@mcollina  - Thank you very much. Appreciate the help.

[2016-01-11 21:41] #24 closed

[2016-01-11 21:43] mcollina commented on #24
Released as 0.12.4.

[2016-01-11 22:55] rushidesai commented on #23
Watch this project: https://github.com/mcollina/aedes-persistence-mongodb

[2016-01-12 12:45] guptaashishiitr commented on #24
hi
Thanks I tested it but starting to get client disconnects now

1452602353596 INFO new client andr_3e619e2221571966
1452602353597 INFO message published from broker to  $SYS/EkYCGyCDl/new/clients 0
1452602353841 INFO Subscription Package:
        {"topic":"user/10204470020541040/trip/5694f3e7c6fbf8144fd4c654/riderequests","qos":2}
1452602353841 INFO Client: andr_3e619e2221571966, Topic: user/102

[2016-01-12 12:56] mcollina commented on #24
Please open a different issue, with steps to reproduce.

[2016-01-12 13:14] guptaashishiitr opened #25 "Latest commit 0.12.4 issue"
Hi
I am getting client disconnect errors quite frequently now

1452602353596 INFO new client andr_3e619e2221571966
1452602353597 INFO message published from broker to $SYS/EkYCGyCDl/new/clients 0
1452602353841 INFO Subscription Package:
{"topic":"user/10204470020541040/trip/5694f3e7c6fbf8144fd4c654/riderequests","qos":2}
1452602353841 INFO Client: andr_3e619e2221571966, Topic: user/102044700205410

[2016-01-12 13:18] mcollina commented on #25
It's really hard to help. Please provide steps to reproduce.

[2016-01-12 17:19] behrad opened #26 "Bunyan support"
Bunyan log/stream support in Mosca was very helpful in my production system. Are you planning to also add it to Aedes @mcollina ? or alternative currently available inside?

[2016-01-12 17:31] mcollina commented on #26
Aedes will not do any logging, it needs to come separately. Most of the relevant data should be already being published as events in the Aedes or Client objects, if not we'll need to add what is missing. If you are willing to help supporting that, just setup a repo and implement it :D. Otherwise I will get that done anyway (it will be bundled in Mosca) - after I finish MongoDB persistence.

[2016-01-12 17:34] behrad commented on #26
Great @mcollina ,

Are you planning to refactor Mosca on top of Aedes?

[2016-01-12 17:41] mcollina commented on #26
That's the end goal.

[2016-01-12 17:49] behrad commented on #26
For migration of my current app there are missing parts now: mosca-like JSON Authentication, HTTP port, Bunyan streams & stats.

[2016-01-15 15:29] #25 closed

[2016-01-15 15:30] guptaashishiitr commented on #25
Found issue with mqtt client. Sorry for the trouble,

[2016-01-24 19:54] guptaashishiitr commented on #23
Any updates? Also a quick question does qos 2 make sense without db persistence?
How are offline messages handled?

[2016-01-25 08:23] mcollina commented on #23
@guptaashishiitr 1) not really, it's done when it's done. Lot's of refactoring. 2) qos 2 makes almost no sense, but you can use redis or level 3) yes.

[2016-01-25 08:23] #26 closed

[2016-01-25 08:24] mcollina commented on #9
@marvinroger that would be the desired behavior, I'll accept a PR on that if you would like to contribute. Currently you have to override.

[2016-01-26 12:51] guptaashishiitr opened #27 "Help with qos 2"
I am trying to implement qos 2 and using aedes persistence lib for in memory persistence just for proof of concept that it works. Code below:

In one of the js files I call below: (aedesServer is instance aedesServer which is a separate configuration file)
[code]
In message I am setting messageId 22 jst to test and found that
[code]
always has messageId 0 .

Q1 -> Is messageId added and tracked by

[2016-01-26 12:55] guptaashishiitr commented on #23
Thanks a lot @mcollina
We will use in mem to test and then move to redis

[2016-01-26 13:50] mcollina commented on #27
Q1: regarding messgeId, it's 0 by design. Don't worry about it, and never specify it.
Q2: your MQTT client should take care of that, if not, you should do it by implementing the MQTT spec. MQTT.js does it for you.
Q3: no, check out how the "clean" flag works in the MQTT spec for QoS 1 and 2. Also read about the retain flag.

[2016-01-26 13:50] #27 closed

[2016-02-03 13:02] litbak opened #28 "clientDisconnect emited twice"
when a client disconnects abnormally without a disconnect message, the clientDisconnect event emited twice, which also infulence connected client count.

aedes.on('clientDisconnect', function(client) {
    console.log('Client Disconnected: ' + client.id + ' total: ' + aedes.connectedClients);
});

[2016-02-03 13:05] mcollina commented on #28
this should be easy to fix, would you mind sending a PR?

[2016-02-05 18:01] behrad opened #29 "backpressure support in server.publish"
`server.publish` is mentioned to be backpressure supported.
Can you elaborate on this @mcollina ?

[2016-02-06 10:58] mcollina commented on #29
Possibly it's not correctly phrased. In the in-memory implementation https://github.com/mcollina/mqemitter, the callback is called when the message has been sent to delivery to each subscribing client. In other implementations, it is called when the message has been sent to the upstream pubsub broker.

It would be great if you could send a PR to the README, maybe wording all of this a little bette

[2016-02-06 10:58] #29 closed

[2016-02-12 06:20] guptaashishiitr opened #31 "KeepAlive Timeouts"
We have suddenly started getting keep alive timeouts suddenly.  It might be a client issue but can you check if latest commit caused anything

2016-02-12T06:06:17.805Z - error:  Error: keep alive timeout
    at keepaliveTimeout (/app/nodeApp/hopponnodejs/HopponSimulator/node_modules/aedes/lib/handlers/connect.js:43:28)
    at timerWrapper [as _onTimeout] (/app/nodeApp/hopponnodejs/HopponSimulator/

[2016-02-14 11:52] mcollina commented on #31
the tests are passing fine, so maybe it's a client issue. What are you using? how long is your keepalive?

[2016-02-14 16:26] guptaashishiitr commented on #31
Paho Android service is what we are using and pinger class in that is scheduled to send it every 5 seconds.
Also connectTimeout is set to 3 min in aedes but still for some reason it just disconnects after 11-15 seconds. I have authorize publish method and I send console logs for every topic but I don't see keep alive topics there except for broker ones for clustering but none from client side. Let

[2016-02-14 19:54] mcollina commented on #31
What is the Android Service doing? Just sitting there and keeping the connection idle? Is it doing anything every 11-15 seconds?

There are no keep alive topics, but only PING and PINGRESP commands that are being sent as part of the wire protocol

[2016-02-17 20:24] Debdutto opened #33 "Issue with memory persistence, messages getting redelivered"
So, I'm using aedes for testing so that we can shift to aedes from mosca. I have two node processes, one serving as the receiver and another one serving as the sender.

I'm sending around 2000 messages to the receiver. All messages are getting delivered successfully. But, if I'm disconnecting the receiver and connecting again, messages are getting delivered again in chunks following which the serv

[2016-02-17 21:07] mcollina commented on #33
Can you please send me an example client that is triggering the issue? How
can I reproduce?
Il giorno mer 17 feb 2016 alle 20:24 Debdutto Chakraborty <
notifications@github.com> ha scritto:

[2016-02-18 08:18] Debdutto commented on #33
Here's the code to reproduce the issue. I've also tried with different concurrency values also. I'm using the default in-memory persistence for this. Running on a Mac Pro, i5,  8GB RAM

https://gist.github.com/Debdutto/acca3b8a8fe8b6dff438

[2016-02-18 09:51] mcollina commented on #33
It is a known issue. The redis/level persistences do not have this problem, and memory is highly discouraged for heavy loads (because you might end up filling up your memory anyway).

A quick solution is to increase the stack size with `node --stack_size NUM`.

You might want to send a PR to https://github.com/mcollina/aedes-persistence.

[2016-02-18 09:54] Debdutto commented on #33
Okay. Thanks. I was just trying it out. Will anyway have to move to Redis or Aerospike.

[2016-02-18 10:07] mcollina commented on #33
Reopening, it needs a fix :)

[2016-02-18 16:28] #33 closed

[2016-02-18 16:29] mcollina commented on #33
Fixed in aedes-persistence 1.2.4.

[2016-02-18 16:30] mcollina commented on #33
This solves the problem on my side :).

[2016-02-25 16:24] pkinney opened #34 "Client is not passed to server.published method when message has QoS 2"
When a message is sent with QoS of 2, the client object is not passed to the `published` method.  The code below demonstrates this behavior.

[code]

Outputs:

[code]

[2016-02-26 03:14] pkinney commented on #9
Made a PR (#36) to attempt to address this.

[2016-02-26 08:10] #34 closed

[2016-02-26 08:23] mcollina commented on #9
Released as 0.13.0.

[2016-02-26 08:23] #9 closed

[2016-03-01 10:08] mcollina opened #37 "Deduplicate message on multiple subscriptions"
If a message matches multiple subscriptions, only one copy must be delivered.

[2016-03-03 08:54] debjeet-sarkar opened #38 "Unable to attach a http server with aedes server , like mosca's attachHttpServer . Any workaround ?"

[2016-03-03 09:00] mcollina commented on #38
This is not in the scope of this project, and it will be integrated with Mosca soon. You can achieve the same thing by using http://npm.im/websocket-stream.

[2016-03-03 09:00] #38 closed

[2016-03-03 13:19] debjeet-sarkar commented on #38
I am sending my client side packet using mows.js and I am trying to pass the incoming stream to aedes using websocket-stream . Here is my code snippet

`var http = require('http')
var websocket = require('websocket-stream')
var RedisPersistence = require('aedes-persistence-redis')()
var aedes = require('aedes')({
	concurrency: 1000,
	persistence : RedisPersistence
})

var httpServ = http.createSer

[2016-03-03 16:59] behrad commented on #31
Are you sure android is not stopping your service, or it isn't cause of phone going to sleep or power saving mode?

[2016-03-03 20:10] guptaashishiitr commented on #31
Issue was related to keepalive being set to a very low value. I will close
out the issue.

*Thanks & Regards*

*Ashish Gupta* | AVP |* JPMorgan Chase & Co.* | Cedar Knolls, NJ, USA
B.Tech. Electrical Engineering, IIT Rookee, Roorkee, India

Mobile : +1 973 234 0078

* ashish.xx.gupta@jpmchase.com <shikha.v.gupta@jpmorgan.com> |
www.jpmorgan.com

On 3 March 2016 at 11:59, Behrad <notifications@gith

[2016-03-03 20:11] #31 closed

[2016-03-04 22:08] alliv8 commented on #38
You have to bind aedes to wss, not a new tcp server.

[code]

This should work

[2016-03-07 10:04] mcollina commented on #38
@alliv8 explained it perfectly.

[2016-03-07 15:20] debjeet-sarkar commented on #38
Got a clear idea , Thanks @alliv8  .

[2016-03-16 18:34] pkinney commented on #10
Submitted a PR #39 that should address this.  Let me know if this is the desired behavior.  I tried to repeat what was done in Mosca referenced above.

[2016-03-21 04:16] #23 closed

[2016-03-21 04:17] guptaashishiitr opened #40 "Resilient Environment"
Hi
We are using aedes-redis persistence and want to check if we can use multiple nodes running broker with a load balancer that routes TCP traffic accordingly or will there be any issues with it?

Thanks,
Ashish

[2016-03-29 09:39] mcollina commented on #40
You can use http://www.haproxy.org/ or AWS ELB without issues. I would recommend to do all TLS terminantion in there.

[2016-03-29 09:39] #40 closed

[2016-04-16 15:12] behrad commented on #10
Current `ack`event is passing the `puback` packet instead of the original packet delivered. Mosca is passing the original packet, so that application can use `topic/payload` to know which published message the ack is associated to.

Another nice solution could be the `packet.messageId` however application is un-aware of that id in publish event listener, in the latter case Aedes should also pass b

[2016-04-18 07:23] mcollina commented on #10
@behrad you are right. This change requires a change in the persistences modules, mainly the call to https://github.com/mcollina/aedes-persistence#instanceoutgoingclearmessageidclient-packet-callbackerr need to also return the packet.

Moreover, for QoS 2 we need to change https://github.com/mcollina/aedes-persistence#instanceoutgoingupdateclient-packet-callbackerr to retain the original packet (c

[2016-04-20 13:01] cristian-stoicescu opened #42 "Client subscribed over multiple devices"
Hello.

I was wondering how should I proceed if I wanted to publish a packet to a topic, and would want all the users to receive the publish ,except the devices the original users is connected on.

As a use case, I would want to implement a notifications system over MQTT, but if a user published a packet on a topic, I don't want him to receive the notification of the client's action on the users o

[2016-04-20 13:22] mcollina commented on #42
What you want is https://github.com/mqtt/mqtt.github.io/wiki/bridge_protocol.

Unfortunately, this is not currently supported in Mosca.

[2016-04-20 13:40] cristian-stoicescu commented on #42
I`m not so sure this would be a good fix.
I`m referring to the possibility of ignoring certain subscribed clients which meet a specific criteria, when publishing a certain message from the broker ( all clients are connected to the same broker )
So basically, adding some sort of filter ( probably based on id, regex maybe ? ) when publishing a message from the broker to subscribed clients

[2016-04-20 13:41] mcollina commented on #42
In mosca there is authorizeForward. I will probably add the same thing here.

[2016-04-21 01:24] stoiKris commented on #42
Ok. So, instead of directly forwarding, it should call the authorizeForward, which in turn may call the forward callback, right ?

[2016-04-21 06:53] mcollina commented on #42
That's in Mosca, yes.

[2016-04-21 15:52] cristian-stoicescu commented on #42
Yes, in mosca terms. In aedes terms, I`m thinking a callback should be added to the publishActions array ( [https://github.com/mcollina/aedes/blob/master/lib/handlers/publish.js#L15](url) )
I'll have a look when I have some time, and maybe I can manage implementing it :)

[2016-04-21 21:03] stoiKris commented on #42
I looked around, and from what I can gather, `Aedes.prototype.subscribe` should recieve the client, in order to be able to do any fine grained filtering on the notify method added in `MQEmitter.prototype.on` method.

However, I'd like to hear your input before I change anything.

[2016-04-22 09:42] cristian-stoicescu commented on #42
I looked around, and from what I can gather, `Aedes.prototype.subscribe` should recieve the client, in order to be able to do any fine grained filtering based on it and send it further down towards the notify function added in `MQEmitter.prototype.on` function.
Then, more or less wrap every call to the matched topic methods to a `authorizeForward` function

However, I'd like to hear your input bef

[2016-04-22 09:58] cristian-stoicescu opened #43 "Replicating on multi core cpu"
I'm currently looking into using aedes for a web / mobile based chat platform.
However, due to node's limitation of using only 1 CPU core, I need to scale this at least to use all the cores. I tried to spawn the processes using redis persistence, but between clients, publishes were not shared.

Any tips ?

[2016-04-23 07:35] mcollina commented on #43
You should also use https://github.com/mcollina/mqemitter-redis in the `mq` option.

[2016-04-23 07:35] #43 closed

[2016-04-23 07:52] mcollina commented on #42
I agree with your evaluation on performance, and that's why I did not do it in the first place here.

However, if you can come up with a way that implements this without affecting performance and it's valid, I'll be more than happy to merge it.

I suggest you to put it in https://github.com/mcollina/aedes/blob/master/lib/client.js#L71-L86, and https://github.com/mcollina/aedes/blob/master/aedes.js

[2016-04-24 21:37] cristian-stoicescu commented on #42
Ok, I'll look into it and add some tests once  I get it working

[2016-04-28 21:25] mcollina commented on #42
Released in 0.16.0.

[2016-04-28 21:25] #42 closed

[2016-04-29 07:23] #37 closed

[2016-05-03 03:19] tianyayouxiaer opened #46 "does aedis can be deploy distributed?"
1、aedes can  be deploy many instances by pm2 in one pc?
2、aedes can  be deploy on many pc distributed?
3、is needed bridges if deploy on many pc?

[2016-05-03 06:26] mcollina commented on #46
1. aedes has currently no support for node cluster module, you will need to rely on the setup for 2.
2. yes, here is an example with redis: https://gist.github.com/mcollina/a37f135136192d9c58a4
3. no

[2016-05-03 06:26] #46 closed

[2016-05-03 08:35] tianyayouxiaer commented on #46
I can open the link you give above,because I,m not in  US,the dist is blocked in our Country，could you give me a another link，thanks ！

[2016-05-04 04:45] tianyayouxiaer commented on #46
dear：
I want use your project aedes in my work，because one machine can not meet the need（many clients），so I want use the method in the picture bottom，
1、I use redis as you tell me https://gist.github.com/mcollina/a37f135136192d9c58a4
2、I use ngix to do the tcp proxy
3、I use three machin to run aedes
4、on every machin，I use pm2 to run 4 instance of aedes
5、in sum，there are 12 aedes instance in the

[2016-05-04 04:57] mcollina commented on #46
use Haproxy instead of Nginx. You will need a Redis instance also.

[2016-05-05 13:55] tianyayouxiaer opened #47 "cluster mode"
I have see that the heartbeatInterval is for cluster,so can I consider that the aedes will be support cluster mode? and how long time it will come to become reality!
thanks very much!

[2016-05-05 14:10] mcollina commented on #47
You can already use this on top of redis or mongo. The cluster module support will come soon.

[2016-05-06 14:24] tianyayouxiaer commented on #47
thank you for your reply,does aedes can support  multi-core use it on top of redis now,or when it support the cluster mode ,it will can be support multi-core?

[2016-05-06 16:39] mcollina commented on #47
you can run as many processes with aedes running on top of redis, they will communicate between each other via redis.

[2016-05-06 16:39] #47 closed

[2016-05-07 13:18] tianyayouxiaer commented on #47
thank  you for your reply,I test the websocket connection from  web just as the mosca does,and I find that it can not work ,does the aedes  not support websocket client now?

[2016-05-07 14:36] mcollina commented on #47
aedes runs on top of streams. You need to use websocket-stream

[2016-05-07 15:51] tianyayouxiaer commented on #12
when I use pm2  to start up 4 aedes instanst,the aedes broker always print "client error SUB_1 keep alive timeout" (SUB_1 is my client.id),so I don,t know why it is !

[2016-05-07 16:12] mcollina commented on #12
your client is not sending a keepalive message in time.
Il giorno sab 7 mag 2016 alle 17:51 tianyayouxiaer <notifications@github.com>
ha scritto:

[2016-05-09 16:12] rahulbhanushali opened #48 "authorizeSubscribe, cannot restrict client from subscribing"
I am trying to restrict subscriptions to specific topics on aedes using the authorizeSubscribe method.

I tried the example code shown in the documentation, however was not able to restrict users from subscribing.

Can you please help me in implementing this?

[2016-05-09 16:32] mcollina commented on #48
You should probably attach an example here.
Il giorno lun 9 mag 2016 alle 18:12 Rahul Bhanushali <
notifications@github.com> ha scritto:

[2016-05-09 17:16] rahulbhanushali commented on #48
I tried multiple variations as demonstrated in readme file.

I tried this code snippet but was still able to receive messages when someone published message
to the topic 'bbb'

[code]

The following code snippet causes the client to reconnect again and again

[code]

None of the above methods seem to work.

[2016-05-09 17:20] #48 closed

[2016-05-09 17:21] mcollina commented on #48
The latter is expected, as the subscription is causing an error.

There previous example is wrong (even in the README), you need to set `sub` to false to negate.

[2016-05-09 17:47] rahulbhanushali commented on #48
Setting sub to null works, thanks :)

[2016-05-10 10:08] mohkar opened #49 "unable to unsubscribe topics after client disconnects"
Hi Mcollina,

I want to unsubscribe to all the topics a client has subscribed to when he disconnects. After I reconnect I should not get messages of those topics unless I subscribe again. In order to achieve this on 'clientDisconnect' and 'clientError' events I am trying to explicitly unsubscribe to  the topics. However, on these events I am getting 'subscriptions' object of the client as empty. B

[2016-05-10 10:10] mcollina commented on #49
Just use `cleansession: true` on the the client, that will do.

What code are you using to achieve this? It _should_ work even if it was not intended to be used that way.

[2016-05-10 11:01] mohkar commented on #49
Yes, I am aware of that, but 'cleansession : true' will not hold messages if the client ungracefully disconnects which is something I would not want.
My main concern was, client object is not containing subscriptions in 'subscriptions' field of client on 'clientDisconnect' event.

[2016-05-10 11:09] mcollina commented on #49
Those would already be gone, as with the 'clientDisconnect' event the client has no live subscriptions (that is used for live subscriptions). At the moment, that fied is not part of the public API and it is used internally.

I am fine in exposing this, but it would require a bit of work around doc and testing. The idea should be to have that flushed if the client is clean, but to maintain the stat

[2016-05-10 19:52] bblumberg opened #50 "repeated connects/disconnects..."
I am using aedes with mqtt.js on 1 machine. I can get aedes into a state where the client connects and then  immediately disconnects. The connection appears to be successful (i.e., i get back a successful connection). It seems to occur when there is either a heavy load on aedes (for example, when I am creating 20 clients all at one time), but can also happen sometimes when in the connect handler,

[2016-05-10 21:57] mcollina commented on #50
Thanks! Aedes _will_ become the core of Mosca soon, and thanks for trying it out. The current version of Mosca has been battle tested, while this is still new (and a complete rewrite).

I don't have much time to look into this right now, I hope to have some time in the next couple of weeks.
In the meantime, you can try without using redis or level, just because it might be a bug there.

[2016-05-10 22:26] bblumberg commented on #50
Totally understand. For what it is worth it seems to be closing the client
because onend() in end-of-stream is being called. When you get to it maybe
that will help.

Thanks for your great work!!!

bb

On Tuesday, May 10, 2016, Matteo Collina <notifications@github.com> wrote:

--

*. **.* *.*
* Bruce Blumberg *|  Principal Software Engineer
*Rethink Robotics, Inc *
main: 617.500.2487  | cell: 978.

[2016-05-12 09:53] mohkar commented on #49
Hi mcollina,
As you mentioned, I tried deleting subscriptions from redis manually. I did following:
On unsubscribing I deleted client key that is - 'client:sub:{client}' and
removed client entry from subscribed channels - 'sub:client:{subscription}'
However, the aedes is somehow still holding subscriptions and fetching me all the retained messages.

Could you please suggest me how to remove subscr

[2016-05-12 10:40] mcollina commented on #49
You must use the persistence api: https://github.com/mcollina/aedes-persistence
In particular, you need to use: https://github.com/mcollina/aedes-persistence#instancecleansubscriptionsclient-callbackerr-client

(all persistences implement the same API).

[2016-05-12 15:13] GavinDmello opened #51 "Possible memory leak"
I surfaced a possible memory leak in aedes while sending 20,000 messages in a one to one setup (one sender,one receiver)

I got the following warning
[code]

I'm think the listener drain in the write.js file isn't removed. The issue however subsided when I added client.conn.removeAllListeners('drain') . Here

[code]
Any sort of assistance would be helpful

[2016-05-12 15:20] mcollina commented on #51
What are you using to send those messages? I couldn't replicate that behavior myself.

Have you seen an increase in memory?

Your fix will likely create a memory leak, because those callbacks needs to be callled.

[2016-05-12 15:29] mcollina commented on #51
What are you using to send those messages? I couldn't replicate that behavior myself.

Have you seen an increase in memory?

Your fix will likely create a memory leak, because those callbacks needs to be callled.

[2016-05-12 15:32] GavinDmello commented on #51
I'm using the standard mqtt client(Mqtt.js) and No significant changes in memory

[2016-05-13 07:07] mcollina commented on #51
Can you please upload your script, so I can reproduce?

[2016-05-13 08:22] GavinDmello commented on #51
Here is the link of the sample clients I'm trying to connect with :

https://gist.github.com/GavinDmello/d614940e0f89383f3f471b90ec121360

[2016-05-13 08:24] mcollina commented on #51
I will have a look. BTW, a latency tester is a nice OSS project that might benefit the community.
Also, check out https://github.com/mcollina/native-hdr-histogram.

[2016-05-20 13:39] mohkar commented on #49
I tried using instancecleansubscription() method and I was able to completely remove clients subscriptions.
Thanks.

[2016-05-20 13:47] #49 closed

[2016-05-22 08:32] mcollina commented on #50
There was a problem in your script, as the `clientId` were not really unique, and there were quite a few duplicates.

This is not causing the issue:

[code]

[2016-05-22 08:32] #50 closed

[2016-05-22 08:51] mcollina commented on #28
I've tried hard to reproduce this, and I couldn't.
Can you please add steps to reproduce?

Closing for now

[2016-05-22 08:51] #28 closed

[2016-05-22 08:56] mcollina commented on #51
@GavinDmello can you please upload the code of your broker? because of this line https://github.com/mcollina/aedes/blob/master/aedes.js#L43 the warning should not appear.
(try increasing that factor, that is the correct way to do it)

[2016-05-23 14:28] GavinDmello commented on #51
I increased the concurrency factor to 1000 which solved the issue. What should the ideal factor be if I'm expecting a  max concurrency of 50k messages/sec .

[2016-05-23 14:36] mcollina commented on #51
The value should be dimensioned on how slow your clients are.
This is a bug, in the sense that it should not be shown as a warning, but rather through some events and the like. I'll put some thinking into it.

[2016-06-07 19:22] bblumberg opened #52 "persistence does not work as expected..."
Attached is a simple test case that does not exhibit expected persistence with either level, redis or in-memory based persistence using aedes but does so with mosca and mosquitto.

1. Run the test case
2. Quit
3. Restart and you should see the  values for 'device/tester/status' and 'device/tester/variable' from the previous run  as well as the newly published values. Instead you only see the new v

[2016-06-10 12:29] #52 closed

[2016-06-16 14:15] mcollina commented on #10
Can you give some help in this one? It will probably require a bit of rework on the persistences.

[2016-06-16 14:28] behrad commented on #10
Sure, I'll check this.

[2016-06-17 11:27] behrad commented on #10
for QOS 2 shouldn't we ack on PUBCOMP instead?

[2016-06-17 11:33] behrad commented on #10
I don't see how `emit('ack')` is called for QOS 2 now in aedes!? @mcollina

[2016-06-17 11:50] behrad commented on #10
Please first merge https://github.com/mcollina/aedes-persistence/pull/2
After updating aedes-persistence inside, #54 will pass :)

[2016-06-17 11:57] mcollina commented on #10
@behrad

Both pubcomp and puback are handled in the same way.
https://github.com/mcollina/aedes/blob/fd95dfc065243d150285f477b6adcd0aff10dbb1/lib/handlers/index.js#L35-L38

[2016-06-17 12:01] behrad commented on #10
Ok great, I was looking for a pubcomp.js file in handlers ;)

[2016-06-17 16:31] behrad commented on #10
I also filed https://github.com/mcollina/aedes-persistence-redis/pull/5, do you think these 3 PRs can now be merged  @mcollina ?

[2016-06-17 17:41] behrad opened #55 "More events"
In Mosca, I've configured a custom bunyan-stream module to capture `keepalive timeout` & `setting keepalive time` events since these are logged using bunyan.

Can we add two more `emit`s for these in aedes @mcollina ?

[2016-06-17 17:49] mcollina commented on #55
yeah, no problem in more emits.

Aedes and mosca v2 will use pino. It's 4-5 time faster than bunyan. I have
a snippet for mosca v1 if you want.
Il giorno ven 17 giu 2016 alle 19:41 Behrad <notifications@github.com> ha
scritto:

[2016-06-17 17:58] behrad commented on #55
And this is with high verbose levels? Or even if log level is ERROR?

What snippet?

[2016-06-17 18:14] mcollina commented on #55
Yes, you can high verbosity without a huge impact on perf: replacing
winston in a normal web app gives 20-50% throughput boost. I'm not at my
laptop, I'll send the snippet for mosca v1 soon.
Il giorno ven 17 giu 2016 alle 19:58 Behrad <notifications@github.com> ha
scritto:

[2016-06-18 10:23] #10 closed

[2016-06-18 10:24] mcollina commented on #10
Releasing now (aedes is 0.19.0).

[2016-06-30 23:30] dottgonzo opened #58 "ip address"
hi @matteo,
is possible to get the ip addess of a client? Or can you suggest me where is convenient to edit aedes or its modules, to add more information about the client (as the ip address) when the server parse the messages coming from mosca or other mqtt clients?

[2016-07-01 05:20] mcollina commented on #58
The underlining stream is available at https://github.com/mcollina/aedes/blob/master/lib/client.js#L21.
Refer to the stream (net, ssl, websocket-stream, etc) to how to get that information.

[2016-07-01 05:20] #58 closed

[2016-07-01 05:20] mcollina commented on #58
If you want to send a PR to make that easier, please do :).

[2016-07-05 03:59] marqueeeeeee opened #59 "Will this work with clients using websockets just like mosca?"
Will this work with clients using websockets just like mosca? i have a mosca server setup right now and it's doing okay but QoS 2 is a nice thing to have but our applications is using websockets to connect to a mqtt broker (mosca). thank you so much for this.

[2016-07-05 05:57] marqueeeeeee commented on #59
nevermind, i found your answer in the other thread :D

i used websocket stream:
var ws  = require("websocket-stream");
var wss = ws.createServer({port:"3000"}, aedes.handle)

thank you!

[2016-07-05 05:57] #59 closed

[2016-07-05 08:46] marqueeeeeee opened #60 "Maximum call stack size exceeded"
I was trying to send a multiple message using QoS 2 in one topic while the receiver is offline. When i reconnect the receiver with un-clean session i throws an error and after a few errors aedes will crash.

`C:\nodejs\node_modules\aedes\node_modules\aedes-persistence\persistence.js:74
    return {
    ^

RangeError: Maximum call stack size exceeded
    at mapSub (C:\nodejs\node_modules\aedes\node

[2016-07-09 14:47] mcollina commented on #60
Can you please specify a way to reproduce?

[2016-07-14 11:08] laszbalo opened #61 "Websockets"
Hi,

I am trying to use aedes with websockets like this:

[code]

in the browser I implemented a basic client with Paho, that can publish and subscribe to messages from the same topic.

However, when I send MQTT messages to Aedes this is what is coming back from the broker:

After the first message, I got back a 2 bytes long payload: 0 followed by the first character of the original message sent.

[2016-07-14 11:31] mcollina commented on #61
I don't think the code is correct, as you need to pass an instance of httpServer to ws.

[2016-07-14 15:43] laszbalo commented on #61
I have tried with passing a reference to a httpServer instance, as you suggested, but still getting the same error. If you could have a quick look at it,  I created a small repo [here](https://github.com/laszbalo/aedes-websockets-paho) .

[2016-07-14 17:45] mcollina commented on #61
I've tested your script, and it is received the first message and not the second. I'm not exactly sure what's going on. Can you check with MQTT.js if you have the same behavior?

[2016-07-15 12:46] laszbalo commented on #61
I have tried MQTT.js as well and it works with booth Aedes and Mosquitto.
I intend to use mqtt from the browser, therefore I'd try to avoid MQTT.js, because of it's massive file size.

I did a quick comparison by watching the number of frames and frame sizes inside the Chrome's network panel, and found that Mosquitoo sends back only one frame, while Aedes split up the response, and in my case, sen

[2016-07-15 13:43] mcollina commented on #61
According to http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718127, packets can be divided between multiple frames.

[2016-07-15 13:56] laszbalo commented on #61
Thank you for your help, in that case I will open a new issue at the Paho's issue tracking page.

[2016-07-15 14:06] laszbalo commented on #61
I have got just one more question about control packets and topic name.

Aedes sends back the topic name in plain text. Is the topic name is part of the control packet?

[2016-07-15 14:09] mcollina commented on #61
@laszbalo yes.

[2016-07-15 14:21] laszbalo commented on #61
In that case, should Aedes not send the topic name in a binary frame instead of a text frame? It seems that Paho does the right thing when it closes the connection upon the arrival of a text frame.

[2016-07-15 14:34] mcollina commented on #61
Sorry, the topic name is UTF-8, and it should be part of a MQTT packet sent as binary.

However
https://github.com/maxogden/websocket-stream/blob/master/stream.js#L72

is not specifying that the packet is binary:
https://github.com/websockets/ws#sending-binary-data

Either paho.js is very strict, or there is a bug in websocket-stream.

[2016-07-15 15:00] laszbalo commented on #61
To quickly check, I've changed https://github.com/maxogden/websocket-stream/blob/master/stream.js#L62 to
[code]
with this modification Paho works fine with Aedes.

[2016-07-15 16:57] mcollina commented on #61
Can you please send a PR against websocket-stream, making that configurable?

[2016-07-15 17:19] laszbalo commented on #61
Sure, I will give it a go tonight or tomorrow.

[2016-07-18 17:57] laszbalo commented on #61
Sorry for the late reply, but life overrode my timetable for the weekend. PR sent.

[2016-08-03 06:58] mcollina commented on #51
Closing, as I think this was solved. Feel free to reopen.

[2016-08-03 06:58] #51 closed

[2016-08-14 18:02] guptaashishiitr opened #63 "Why are messages with qos 2 stuck on redis when we have that client connected and subscribled?"
Hi
We have scenario as below
1. ClientA connects with qos2 and subscribes to /user/testtopic
2. ClientB publishes Message1 and it is delieverd fine
3. ClientA turns off internet
4. ClientB publishes Message2,Message3 etc
5. ClientA turns internet on
6. Client ONLY GETS ONE MESSAGE and rest all are stuck in redis

If client A turns off internet again and turns it on again it gets couple of messages

[2016-08-14 22:19] mcollina commented on #63
Can you please upload a client & server to reproduce? Ideally in Node.js.

[2016-08-15 06:40] guptaashishiitr commented on #63
1. QOS 2
2. Clean : true
3. KeepAlive - 300
(We have connect auth also but you can skip that)
Steps
1. Subscrible client 1 to a topic (Redis will show cached subscriptions and client)
2. Disconnect and connect client 2 (Redis will show cached subscriptions and client)
3. Publish to topic client 1 has above about 10 mesages with qos 2 / retained as false
4. Disconnect and connect back as client 1 a

[2016-08-15 07:41] mcollina commented on #63
I cannot reproduce, things works smoothly here. Please upload a test client that makes the server exhibit the bug.

I am publishing a QoS 2 message with `retain:false` using MQTT.js.

Which version of Redis are you using? I'm testing on 3.2.0.

[2016-08-16 05:43] guptaashishiitr commented on #63
I am using redis version 3.0.3
I will replicate it with MQTT.js and paste details here

[2016-08-21 23:12] guptaashishiitr commented on #63
@mcollina  We were facing a lot of issues and have switched to mosquitto and we have had no problems since then. I definitely want to contribute to this amazing project and will add sample client files to replicate the issues but to summarize issue is -

QOS2 offline messages are not delivered in order and all of them are not delivered but in chunks of 4 or less. So if I sent 10 messages when clie

[2016-08-22 05:51] sfsw opened #64 "about subscribed clients list"
hi, is that any way to check how many client subscribed a topic?

[2016-08-22 06:37] GavinDmello commented on #64
Hi, If you're using aedes with redis-persistence then you can get the the list of clientIds against a hash key which looks like `sub:client:topic`

[2016-08-22 06:44] mcollina commented on #63
I've done another round of testing, confirmed odd behavior both with redis and without.

Thanks for reporting, I'll look into it as soon as possible (it might take a while).

[2016-08-22 06:44] mcollina commented on #64
It would be a nice PR for aedes-persistence.

[2016-08-22 06:53] sfsw commented on #64
thanks GavinDmello, i found that `aedes.clients` saved all clients info.

this code is what i want:
`aedes.clients[Object.keys(aedes.clients)].subscriptions`

is that ok ?

[2016-08-22 10:13] GavinDmello commented on #64
This approach will work if you have one client subscribing, may not work for multiple clients.

[2016-08-22 14:41] sfsw commented on #64
@GavinDmello yeah! thanks for help

[2016-08-22 14:42] #64 closed

[2016-09-02 06:13] mcollina commented on #61
This was fixed in websocket-stream.

[2016-09-02 06:13] #61 closed

[2016-09-02 06:14] mcollina commented on #60
Closing for no activity, feel free to reopen.

[2016-09-02 06:14] #60 closed

[2016-09-02 06:14] #8 closed

[2016-09-02 06:14] #55 closed

[2016-09-22 09:42] eladnava opened #66 "100% CPU and server crashes after connecting 10k clients"
Hi @mcollina =)

Getting a strange crash and CPU halt with the latest Aedes (0.21.0):

[code]

Before the server crashes, the process consumed 100% CPU and is completely unresponsive.

This happens after about 10k clients connect. Keepalive interval is set at 5 minutes. Using MemoryPersistence.

Most clients do not subscribe to anything, by the way.

Oh, and I set the `concurrency` to 10,000. Didn

[2016-09-22 09:49] mcollina commented on #66
Yes, this is perfectly "normal", and described in #60.
Most of the code is highly synchronous for performance reason, but it might use a `process.nextTick` in a couple of places (like in the memory persistence).

PR is welcomed.

[2016-09-22 09:50] eladnava commented on #66
@mcollina It's normal that Aedes is unable to handle 10k connections? Am I doing something wrong?

Or is the MemoryPersistence unable to handle 10k connections?

[2016-09-22 10:19] mcollina commented on #66
It's normal that it crashes with `RangeError: Maximum call stack size exceeded`.
It's not looping, Aedes works heavily on the stack, specially with the in-memory mq and persistence.

`node --stack-size=X` solves this, where X is big enough.

wrapping the callbacks in `process.nextTick` in the memory persistence will probably solve your issue.

[2016-09-22 10:50] yentsun opened #67 "Inflight messages / QoS 1 support for instance.publish()"
Hi, Matteo!

I appreciate your work very much since Mosca, and having an embedded broker with custom auth is awesome!

I'm having some issues with achieving QoS 1 behavior when publishing from the broker (not from a client) though. I've set up `aedes-redis-persistence` and retained messages work fine:

     instance.publish({topic: 'cloud/update', payload: buffer, retain: true})

 and I can see th

[2016-09-22 11:09] mcollina commented on #67
You need to subscribe your clients with clean:false.

[2016-09-22 11:13] yentsun commented on #67
@mcollina thanks for the quick response! I guess I'm doing it already (I'm using the mqtt-spy client). Ok, I will conduct more tests with different clients.

[2016-09-22 12:09] yentsun commented on #67
the first test with mqtt.js:

[code]

...proved the outgoing messages do work, could see them in Redis too.

As for anybody using mqtt-spy, `Clean session` checkbox doesn't seem to work:

![selection_051](https://cloud.githubusercontent.com/assets/630971/18747466/b9ddb21e-80f7-11e6-9e51-7773951dc8ed.png)

Thanks, Matteo! Sorry to bother with this.

[2016-09-22 12:12] #67 closed

[2016-09-22 12:13] mcollina commented on #67
No problem @yentsun!

[2016-09-23 11:10] eladnava commented on #66
I ended up going with [mqtt-connection](https://www.npmjs.com/package/mqtt-connection) since I don't need any kind of persistence. Seems to work well so far for me.

[2016-09-23 12:19] mcollina commented on #66
Perfect, I'm closing this now.

[2016-09-23 12:19] #66 closed

[2016-09-25 16:36] arisi opened #68 "aedes with websocket?"
Perhaps a silly question, but how does one create a websocket server that
can accept aedes `instance.handle()` ?

There seems to be no ws analogue for
`var server = require('net').createServer(aedes.handle)`

Which of the numerous websocket nodejs modules is the optimal for aedes?

And thank you for great work on Mosca and now Aedes !

[2016-09-25 17:01] arisi commented on #68
Ok, this seems to work:

`aedes = require('aedes')()`
`ws=require 'websocket-stream'`
`server = ws.createServer({port: 8001}, aedes.handle)`

[2016-09-25 17:11] mcollina commented on #68
That's exactly what I use! Maybe it might make sense to contribute an example with it, would you like to send a PR?

[2016-09-25 17:52] arisi commented on #68
Ok, here is a minimal working mqtt+ws broker (following your mqtt-example) :

*var aedes, port, server, ws, ws_port, ws_server;*

*aedes = require('aedes')();*

*ws = require('websocket-stream');*

*port = 1883;*

*ws_port = 8080;*

*server = require('net').createServer(aedes.handle);*

*ws_server = ws.createServer({*
*  port: ws_port*
*}, aedes.handle);*

*server.listen(port, function() {*
*  ret

[2016-09-27 20:48] mcollina commented on #68
I've added it to master.

[2016-09-27 20:48] #68 closed

[2016-10-04 19:23] cendrizzi opened #71 "This and mosca, a little guidance..."
This is not a real issue but a question for guidance. I've played with Mosca and everything worked well. I was curious about QOS 2, and then found this project as a result (it implements it where the Mosca did not, even though I don't need it).

At the bottom of the readme for aedes it says "This addresses your concerns about performance and stability.".

I was curious if this could be elaborated

[2016-10-04 21:26] mcollina commented on #71
@cendrizzi Aedes is mosca++. It will be the same small layer, but faster, and easier to build and test. It's break down in lots of small modules that can be tested and released independently.

It is hard to contribute to Mosca. This project should lower that barrier as well.

Mosca has lots of internal quirks and if-then-else because of some poor choices of the internal data structures it is using

[2016-10-04 21:26] #71 closed

[2016-10-05 14:52] cendrizzi commented on #71
Thanks for the explanation!

[2016-10-20 15:29] wuhkuh opened #72 "KeepaliveInterval multiplication"
Good afternoon,

as I was wondering how you implemented the keepalive functionality I noticed this piece of code:

[code]
after some thinking what the 1501 factor was, I came up with this.
1.5 (maximum keepalive until disconnect) * 1000 (milliseconds) + 1 (exceed 1 and get disconnected)

The problem with the current implementation is that if a client has a huge keepalive sent with the connect pack

[2016-10-20 16:21] mcollina commented on #72
@wuhkuh please do, you are right!

[2016-10-20 16:48] wuhkuh commented on #72
Fixed in #73

[2016-10-20 16:48] #72 closed

[2016-10-23 13:07] cordovapolymer opened #74 "Publishing 2048 bytes messages at a high rate, they are lost at all QOS"
I'm trying to switch to aedes from mosquitto.
Using your example.js.
I'm publishing 667 2048bytes messages with QOS 2,1 or 0 at a high rate. I publish via mqtt, and receive both via mqtt and websocket, all messages are lost.
This warning is show in the output several times in between of 'message from client' messages.
`Warning: Possible EventEmitter memory leak detected. 201 drain listeners added.

[2016-10-23 13:36] rahulbhanushali commented on #74
With a minor tweak to EventEmitter settings, this can be avoided.  More on this [here](https://nodejs.org/docs/latest/api/events.html#events_emitter_setmaxlisteners_n).

To solve the issue you could add this line to your index file:

`process.setMaxListeners(0) `

If that doesn't solve the problem, you could also add this line in the `connackSent` event handler:

`client.conn._maxListeners = 500;`

[2016-10-23 13:46] GavinDmello commented on #74
@cordovapolymer  You can try bumping the `concurrency` param in the Aedes options to a sufficient amount to avoid the warning, but in which ways messages shouldn't be dropped.

[2016-10-23 13:52] mcollina commented on #74
can you please a testing script so we can easily reproduce?

[2016-10-24 01:46] cordovapolymer commented on #74
@rahulbhanushali tryed process.setMaxListeners(0), seems that the warning was suppressed, but messages are still not delivered.
@GavinDmello tried setting concurrency param to 1000 and 10000, nothing changed.
@mcollina

`// mqtt.js
/*jslint node: true, esversion: 6 */
'use strict';
console.log("loading mqtt-test module");

module.exports = class Mqtt {
    constructor() {
      console.log("instan

[2016-10-24 07:50] GavinDmello commented on #74
@cordovapolymer I wasn't able to detect any problem at my end.  Is the receiver is offline when these messages are published ? If so, try using clean false. Also it would be a good idea to defer your publishes to on connect-`Just a suggestion`.

[2016-10-24 16:20] mcollina commented on #74
@cordovapolymer it seems your code is supposed to be used required by some other module? Can you make it so that we can just run it?

It would be easier to reproduce the problem.

[2016-10-25 00:07] cordovapolymer commented on #74
@mcollina , I've updated the code to run standalone. Narrowing the problem- as I've found out 2773 messages are successfully received via mqtt protocol, but are not via websocket.
I'm using standart [mqtt.js](https://github.com/mqttjs/MQTT.js) client.
When changing maximum message length in ` if(jsonMessage.length >= 2048){
        var messageChunks = this.chunkSubstr(jsonMessage, 2048);` to 20480

[2016-10-25 15:32] igormontella opened #76 "Cluster support"
There is a roadmap or a due date for the cluster support become available? Is there any simple alternative that I could implement to solve this point?

[2016-10-25 20:52] mcollina commented on #76
So, it just needs some testing. It should already be possible with the combination of:

https://github.com/mcollina/mqemitter-child-process
https://github.com/mcollina/aedes-persistence-level
https://www.npmjs.com/package/level-party

There might be bugs, and I have never tried it.

Please open bugs if you find them.

[2016-10-25 23:03] igormontella commented on #76
Do you recommend any tests? I'm a bit lost in what kind of test I should do.

[2016-10-26 09:13] mcollina commented on #76
Write a file where you use all three, and check if it works with cluster.
Put it on a gist, so I can easily check what's going on, and help if needed.

[2016-10-26 09:20] behrad commented on #76
1) Can https://github.com/mcollina/mqemitter-child-process be used with redis-persistence?

2) it seems https://github.com/mcollina/mqemitter-child-process only scales-up, what about scaling out (clustering against different machines)?

[2016-10-26 09:24] mcollina commented on #76
1. yes.
2. currently not. Performance-wise, you are much better in using redis for everything if you are on multiple machines. However, you can send a PR and make this configurable https://github.com/mcollina/mqemitter-child-process/blob/master/index.js#L43.

[2016-10-26 09:33] behrad commented on #76
child-process seems to share an extra process containing actual subscription trie (which may be huge in production) between local processes of broker. This should improve startup time and memory efficiency if so!

what about extending `aedes-persistence-redis` to support redis cluster for sharded subscriptions? this seems another approach... Any plans on your side for this?

[2016-10-26 09:34] mcollina commented on #76
@behrad yes you are right.

[2016-10-26 09:34] behrad commented on #76
what about extending `aedes-persistence-redis` to support redis cluster for sharded subscriptions? this seems another approach... Any plans on your side for this?

[2016-10-26 09:37] mcollina commented on #76
what do you mean sharded subscriptions?

[2016-10-26 09:41] behrad commented on #76
instead of keeping a whole trie in a single redis instance and a clone of that inside each broker node memory, we shard them inside a cluster of redis instances. Each broker node will manage it's own shard of trie...  nodes will use redis pub/sub for inter-node publishes across the whole logical trie... broker nodes should be multi master.

[2016-10-26 09:45] mcollina commented on #76
that is implemented on https://github.com/mcollina/upring-pubsub. No need for Redis.

[2016-10-26 10:38] behrad commented on #76
Interesting module @mcollina
Can you elaborate more on this? never heart of word `upring`.
Is this playing the role of a backend only? what about persistence?

[2016-10-26 10:43] mcollina commented on #76
the moment I get time to do it, we will have it also for persistence.
It's based on a consistent hashring and the dynamo paper http://s3.amazonaws.com/AllThingsDistributed/sosp/amazon-dynamo-sosp2007.pdf.

[2016-10-26 11:18] wuhkuh commented on #76
I deem it wise to make a separate branch for this, as clustering the aedes could have some complications like race conditions, until the very moment it is deemed stable enough to be pushed to master. This way we can implement some tests for the cluster module as well.

But this is of course from a sideline perspective, I don't know how far @mcollina already is in the development process.

[2016-10-26 11:37] mcollina commented on #76
Aedes does not need a separate branch.
All needs to be handled in the packages that I mentioned before.
Feel free to wrap everything in an easy-to-use fashion, and do the testing there.

[2016-10-26 16:32] mcollina commented on #74
On my tests, I am getting exactly 2773 messages over ws. Can you please a full project that exhibit this issue? Is this happening on the browser?

[2016-11-03 05:39] igormontella commented on #76
I've used aedes-persistence-redis, mqemitter-redis and HAProxy, works fine.

[2016-11-03 05:39] #76 closed

[2016-11-07 02:44] cordovapolymer commented on #74
@mcollina
I will publish it a bit later because I'll have to prepare it, last week I've been trying to solve another issue which I'm going to publish right now.

[2016-11-07 02:52] cordovapolymer opened #77 "aedes-5 RangeError: Maximum call stack size exceeded"
I'm trying to get aedes working with QOS 0 and then move to QOS 2. I'm using the example.js with {concurrency: 1000} option to run aedes server.

I've encountered this issue, which happens on all QOS levels:

Aedes normally consumes 50-60MB of RAM, then one of websocket clients(`client2` here) gets disconnected, and when it reconnects aedes starts eating memory till it runs into `aedes-5 RangeErro

[2016-11-09 19:57] cordovapolymer commented on #77
@mcollina any hope to solve this issue?

[2016-11-09 20:56] mcollina commented on #77
Just to clarify: this is open source. I accept contributions, and I review them swiftly.
So, when and if I will have time, I will adress this issue if no one had.
Complaining about it does not solve the bug.
I am not paid to maintain this project, and I do it in my own time.

[2016-11-10 09:23] cordovapolymer commented on #77
LOL, we appreciate it, when I was considering what to use **mosca** or **aedes** I followed your recommendation in the mosca issue list to use aedes because its design is better and its implementing considering mosca experience, Although I've now switched to mosca I like aedes design decisions and it's support of QOS2 so I'd like to use it in the future.

If you could give me a tip how to debug th

[2016-11-14 17:49] mcollina commented on #77
@cordovapolymer it would be really awesome to have a script to reproduce this. Would you mind uploading one?

[2016-11-14 18:00] mcollina commented on #74
Ping, any update on the example to replicate?

[2016-11-15 18:52] igormontella commented on #63
Hello @mcollina, could you describe the error, I'm facing the same problem, the clients are receiving the same message multiple times.
If could you describe it a bit, I could help and make a PR.

Thanks!

[2016-11-16 08:33] mcollina commented on #63
@igormontella thanks! Really, I have just tested the above code. This needs to be triaged and debugged, feel free to dig into it and report with any questions, it will make solving this much quicker.

[2016-12-15 19:06] GavinDmello commented on #63
@guptaashishiitr @igormontella We made some change in aedes-persistence redis. Could you guys check if you're still facing this issue ?

[2016-12-16 07:02] GavinDmello commented on #66
Hey, I'm facing a similar issue after 15k connections.The process becomes unresponsive for quite some time and then starts working again. I'm not sure if `gc` is the culprit here as it is synchronous and takes quite a bit of time.

[2016-12-16 07:10] mcollina commented on #66
@GavinDmello with the same error? what is the memory usage? Can you produce a script to reproduce artificially?

[2016-12-16 08:45] GavinDmello commented on #66
The server doesn't crash in my case and memory is well under control. It's just the CPU which is cranking up to 100 % and stays there with nothing happening(no logs) and comes back to normal after some time.

[2016-12-16 08:57] mcollina commented on #66
@GavinDmello if I can reproduce, I can help fixing it. Tools like http://npm.im/0x, dtrace, perf, etc, are built to solve those kind of issues.

[2017-01-17 12:32] rasalasantosh commented on #63
@GavinDmello , Offline messages are not delivered in order ,tested with both QoS1 and Qos2 .

[2017-01-17 12:56] GavinDmello commented on #63
@rasalasantosh  Are you getting all of them though ?

[2017-01-17 12:57] rasalasantosh commented on #63
@GavinDmello ,yes all are delivered.

[2017-01-17 13:37] GavinDmello commented on #63
@rasalasantosh  Got it @mcollina I think scan returns data in random order

[2017-01-17 14:41] mcollina commented on #63
I'm starting to think that using SCAN was not a good idea in the first place. Maybe we should go for the same approach of Mosca.

[2017-01-22 08:23] yentsun opened #80 "retain messages are sent in parallel with CONNACK on re-connect"
If a client re-connects to Aedes broker and has subscriptions with *retain* messages stored in session, it receives those messages in parallel with CONNACK. This probably violates MQTT 3.1.1 specs:
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.pdf (string 657)

While we don't have troubles with that with mqtt.js client:
[code]

 Go (Paho) client responds with an error:
[code]

[2017-01-22 17:16] mcollina commented on #80
wow, good catch! The problem arises because the clients sends a CONNECT and a SUBSCRIBE in parallel, and then the result is not deterministic, and it depends on your own hooks.

Would you mind in sending me a simple example using just mqtt-packet? Or maybe send a pull request to fix the issue?

Yes, MQTT.js is very lightweight in its checks on the spec from the server, there are plenty of implemen

[2017-01-23 06:47] yentsun commented on #80
I guess not. Our js-client is essentially this:
[code]
It has no subscribes at all, but still receives subscriptions (along with CONNACK) from the previous set of experiments done with Paho client. So it seems like broker restores subscriptions, not the client, and this is the expected broker behavior, I guess.

Anyway we are thinking of a way to avoid retain topics permanent subscription so we wo

[2017-01-23 12:14] yentsun commented on #80
or maybe client initializes re-subscriptions in the background?

[2017-01-24 18:16] mcollina commented on #80
@yentsun yes! The problem is related to retain messages being set and offline subscriptions (clean=false).

See https://github.com/mcollina/aedes/blob/master/lib/handlers/connect.js#L109-L115 and https://github.com/mcollina/aedes/blob/master/lib/handlers/subscribe.js#L105-L119

[2017-01-26 00:32] roopeshchoiwal opened #81 "do we have ssl/tls support for aedes ?"
Is ssl/tls supported, and how to configure. Thanks !

[2017-01-26 04:18] rahulbhanushali commented on #81
Yes, tls is supported.

[code]

[2017-01-26 06:07] mcollina commented on #81
Thanks @rahulbhanushali!

[2017-01-26 06:07] #81 closed

[2017-01-27 04:58] yentsun commented on #80
Ok, I see. True, the mqtt.js client does re-subscribe on re-connect:
https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L192-L197

For now we solved this with  subscribe-receive-unsubscribe mechanic for 'retain' topics, so the client does not resubscribe/receive anything on reconnect, but I still will be trying to suggest a fix for Aedes.

Thanks, Matteo!

[2017-01-27 07:35] mcollina commented on #80
@yentsun the `'connect'` event is fired after CONNACK in MQTT.js
https://github.com/mqttjs/MQTT.js/blob/master/lib/client.js#L757

The problem is that the server restores the subscriptions after connect if clean=false.
A fix would be highly welcomed.

[2017-02-01 15:29] battuashwik opened #83 "no such packet Error: no such packet"
Sending message via client.publish with qos 2 and retain false. Client connects with cleanSession true. Also using in memory store.

[2017-02-01 15:31] mcollina commented on #83
@battuashwik can you please upload a full example to reproduce?

[2017-02-01 15:33] battuashwik commented on #83
`var aedes = require('aedes')()
var server = require('net').createServer(aedes.handle)
var port = 1883;
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min)) + min;
}

aedes.on('clientError', function (client, err) {
  console.log('client error', client.id, err.message, err.stack)
})

aedes.on('publish', function (packet

[2017-02-01 15:42] battuashwik commented on #83
This is the complete example. @mcollina Can u please help with this, its the only thing blocking to use aedes for me, need to integrate asap.

[2017-02-01 15:51] mcollina commented on #83
@battuashwik I currently have no time to try a fix, would you like to send a pull request? let me know if you have any questions.

[2017-02-01 15:56] battuashwik commented on #83
Can u guide me about the fix, I am more than happy to raise a pull request.

[2017-02-01 17:04] GavinDmello commented on #83
@battuashwik @mcollina  I think the issue is clean true. Outgoing enqueue is missed and  doesn't find the client in the outgoing object during `outgoing-update` , Here `https://github.com/mcollina/aedes-persistence/blob/master/persistence.js#L187`. We could just forward packets with clean true

[code]
I think this should fix it

[2017-02-01 17:08] battuashwik commented on #83
@GavinDmello  Hey, yep just realised that, went through the source. Thanks a lot.

[2017-02-01 17:18] mcollina commented on #83
It seems this line is never tested: https://coveralls.io/builds/9871412/source?filename=lib%2Fclient.js#L167.

I would start writing a failing unit test, and adding it to https://github.com/mcollina/aedes/blob/master/test/client-pub-sub.js or https://github.com/mcollina/aedes/blob/master/test/qos2.js.

I think this https://github.com/mcollina/aedes/blob/master/lib/client.js#L157 is wrong, and we s

[2017-02-07 10:42] #83 closed

[2017-02-21 02:25] cordovapolymer commented on #83
this is a great fix, aedes is much more stable now.
How can such error be fixed for a situation when a client has published a message and server has been restarted that moment, so server doesn't know about the packet, and a client still waits for it?

[2017-02-21 02:26] cordovapolymer opened #87 "no such packet Error: no such packet, after server restart"
https://github.com/mcollina/aedes/issues/83 is a great fix, aedes is much more stable now.

How can such error be fixed for a situation when a client has published a message and server has been restarted that moment, so server doesn't know about the packet, and a client still waits for it?

[2017-02-21 07:43] mcollina commented on #87
Can you attach a script to reproduce that case?

[2017-02-22 13:40] yutter opened #88 "Aedes stops responding after 99 messages when a client has overlapping subscriptions"
If a create an Aedes broker and have two clients, one publishing and one subscribing and the subscribing client has overlapping subscriptions such as:

  client.subscribe('000001/021/#');
  client.subscribe('000001/021/000B/0001/01');

the hub stops responding after 99 messages.

This is not the case when I use mosca as the broker. I have attached my test files

[Archive.zip](https://github.com/mc

[2017-02-22 21:00] cordovapolymer commented on #88
I can confirm the issue, your test is reaching 99 and hangs.

[2017-02-23 06:01] GavinDmello commented on #88
@cordovapolymer is right. You might have to bump the concurrency value to something according to your requirement.
You can set it to 0 but I don't think that's a good idea.

[2017-02-23 09:49] yutter commented on #88
Thanks for confirming it and testing against concurrency. If I get time I will try to debug it this weekend.

[2017-02-23 11:48] cordovapolymer commented on #88
@GavinDmello the issue is that, once it hits the concurrency limit it hangs completely. Today I've encountered it in my production with concurrency 1000, I've increased it to 5000, hope @yutter will find the way to handle this situation.

[2017-02-23 12:02] GavinDmello commented on #88
@cordovapolymer  Have you tried {concurrency: 0}
Again, Not the best of ideas as this may lead to a leak, I think
I think @mcollina would suggest a better solution.

[2017-02-23 13:15] cordovapolymer commented on #88
@GavinDmello , of course it will lead to a leak, as we can see from @yutter test once setMaxListeners limit is hit it stops accepting new messages, and it doesn't flush already sent ones or resets count.

[2017-02-24 01:25] cordovapolymer commented on #51
Possibly this is the same issue as https://github.com/mcollina/aedes/issues/88

[2017-02-28 02:06] cordovapolymer commented on #66
related to https://github.com/mcollina/aedes/issues/88

[2017-02-28 20:47] cordovapolymer commented on #88
@mcollina @GavinDmello @pkinney @dpatekar @eladnava @renatoc @behrad @ovhemert @ralphtheninja @wuhkuh
Any hope that someone will look deeper into this? The issue is very old and it blocks from using aedes in production and development.

[2017-02-28 23:19] wuhkuh commented on #88
@cordovapolymer
Yeah, after some debugging it seems that there is a massive desync when the concurrency limit is reached. Packets are still being 'processed' but don't seem to get published.

Can you confirm that the publish events don't seem to work either? These start working once I reset the server, where it will throw a large chunk of missing packets.

I might have more time to look into this

[2017-03-01 01:26] cordovapolymer commented on #88
What do you mean by resetting the server?

If you mean aedes broker process restart, yes it doesn't recover unless restarted. In the case it's restarted when it's receiving qos 2 packets, it throws `no such packet Error: no such packet`.
I have described this in https://github.com/mcollina/aedes/issues/87

[2017-03-01 05:52] GavinDmello commented on #88
@cordovapolymer Have you tried the solution which I mentioned in the PR with { concurrency : 0 }
. Also, it would be great if you tell me at what point (or how many messages it becomes unresponsive)

[2017-03-01 06:30] wuhkuh commented on #88
@cordovapolymer
With resetting I mean shutting down the process and restarting it using the console.

@GavinDmello
While it seems like a fun benchmark, it probably is not going to solve the underlying cause.

So here's what I'm interested in:
- server works 'kind of' normal (aedes publish event doesn't work?)
- when the amount of published packets exceed the concurrency number, no more packets are

[2017-03-01 06:46] GavinDmello commented on #88
The issue is not the listeners , (atleast in this case it isn't, we mind need more that the default listeners for drain).
The messages are still published and they are queued by Aedes. Using 0 with my solution won't queue and deliver directly. The problem with using { concurrency : 0} before was that it could've created a memory leak because of the tight coupling.

[2017-03-01 19:29] wuhkuh commented on #88
@GavinDmello
I can confirm. The problem is that the MQEmitter isn't being drained when it starts to fill.

[2017-03-02 02:50] cordovapolymer commented on #88
@GavinDmello yes, try it yourself with @yutter demo, you can see it doesn't work. Also I've reviewed your latest PR.
@wuhkuh is it a bug in MQEmitter?

[2017-03-02 06:59] wuhkuh commented on #88
@cordovapolymer
At this moment I'm not sure, as I have yet to dig deeper. The problem could be more complex as this might also be the reason events are broken.
It is possible though, because at first sight it seems that the emitter should drain itself to the subscribers.

More on this issue later today.

[2017-03-02 13:23] wuhkuh commented on #88
Yes, this bug is in MQEmitter. I will send a PR over to the MQEmitter package.
Check the PR over there and copy and paste the code in order to get it working at your spot.

There's more to fix; events in particular, so it's not a production-ready branch yet.

[2017-03-02 14:19] GavinDmello commented on #88
@wuhkuh Nice catch

[2017-03-02 17:53] wuhkuh opened #90 "Subscription breaks broker events"
**Problem:**
Aedes publish events break on client subscription

**Reproduction:**
- Use the testing suite from #88, and add the line
`aedes.on('publish', (x) => console.log('EVENT: publish', x.payload.toString()))`
to the aedesbroker.js file.
- Start the broker.
- Connect as many publishing clients (client2.js) as you want.
- Check the broker console and view the output: loads of packets coming th

[2017-03-02 18:27] cordovapolymer commented on #90
Very interesting, I have seen this behavior on client reconnection, I described it in https://github.com/mcollina/aedes/issues/77

[2017-03-02 20:43] GavinDmello commented on #90
The issue in fast-parallel where the final callback does not get called after calling the deliver Qos functions.

[2017-03-03 04:07] mcollina commented on #88
Aedes is fast because it respect backpressure, e.g. it does not accept new messages if its internal queue is full. But that means we should clear it in any case. It seems there is a problem with overlapping subscriptions where things are not properly cleared.

[2017-03-03 06:19] wuhkuh commented on #88
Yeah, only to find out this is intended. The queue has to be emptied on aedes' side.
Why it worked? It limited the queue to 150 instead of limiting the concurrency.

[2017-03-03 20:50] GavinDmello commented on #90
@mcollina I think <a>https://github.com/mcollina/aedes/blob/master/lib/client.js#L86</a> this callback should be called no matter what the result of toForward is.
This is called the final callback which will emit the publish event

[2017-03-04 20:01] #88 closed

[2017-03-04 20:06] mcollina commented on #90
This should be fixed in #91

[2017-03-04 20:06] #90 closed

[2017-03-05 01:45] cordovapolymer commented on #87
cannot reproduce the issue, still got it in production after update to 0.25.1 . It happened this way, I stopped mosca which was serving multiple clients, and started update aedes which started outputting hundreds of
` client error e9803d1f no such packet Error: no such packet
    at MemoryPersistence.incomingDelPacket (/home/app/node_modules/aedes-persistence/persistence.js:257:11)
    at ClientPa

[2017-03-05 09:46] GavinDmello commented on #87
@cordovapolymer Are these clients connected with clean true ?

[2017-03-05 13:47] cordovapolymer commented on #87
@GavinDmello yes

[2017-03-05 18:44] GavinDmello commented on #87
@cordovapolymer Could you provide the server & script with basic settings ?
It's very difficult to reproduce otherwise.

[2017-03-07 12:40] kareha opened #92 "TypeError when using mqemitter-mongodb"
I get an Error every time I publish a message with Aedes, and answer from client to the same topic:

[code]

My Aedes Broker:

[code]

My Client:

[code]

Any idea what I'm doing wrong here? :) Thx

[2017-03-08 06:47] GavinDmello commented on #92
@kareha Thanks for reporting this.
This is bug in mqemitter-mongodb

[2017-03-08 09:22] kareha commented on #92
Ok, thank you. Should I open an issue at mqemitter-mongodb?
Since it is the same developer :)

[2017-03-08 09:24] mcollina commented on #92
See https://github.com/mcollina/mqemitter-mongodb/pull/4.

Very happy for any contributions really! I'll have an hard time contributing till next week.

[2017-03-08 09:28] kareha commented on #92
Thank you very much for quick response :)
You can close this issue here then.

[2017-03-08 10:36] #92 closed

[2017-03-09 19:59] mcollina commented on #92
All of that is released, thanks to @GavinDmello!

[2017-03-23 08:05] yentsun commented on #80
@mcollina Hi Matteo. Simply rearranging actions in `lib/handlers/connect.js`:

[code]
fixes the issue as we do CONNACK before restoring subscriptions (which if have retained messages in them violate the protocol) but breaks a couple of tests:
[code]
which I can't easily fix. I actually don't understand why is QoS expected to degrade during the test.

Can you give me a hint here?

[2017-03-23 08:45] mcollina commented on #80
@yentsun that test checks that retained messages are delivered _before_ offline messages. You should swap the check between the two `'data'`  events.

Would you mind to send a PR with a test for this case? We can work on it there together.

[2017-03-23 08:53] yentsun commented on #80
@mcollina kk, I'll prepare the test case now

[2017-03-23 09:19] arden opened #93 "could support websocket?"
could support websocket?

[2017-03-23 09:19] #93 closed

[2017-03-23 11:06] yentsun commented on #80
@mcollina true - MQTT.js client seems to handle subscriptions *after* connack and I can't reproduce the behavior with it. Trying to add go-paho client to the test case...

[2017-03-23 11:10] mcollina commented on #80
@yentsun you can use https://github.com/mqttjs/mqtt-connection, which is what aedes using internally for its tests: https://github.com/mcollina/aedes/blob/master/test/helper.js#L3-L8.

[2017-03-24 03:30] cordovapolymer commented on #87
@GavinDmello , try to reproduce it this way:
1) start a client1 and client2 both in QOS2 mode from [ @yutter testsuite](https://github.com/mcollina/aedes/issues/88#issue-209456899) together with mosca
2) stop mosca and start aedes
you will see the no such packet error.

[2017-03-24 03:31] cordovapolymer commented on #93
@arden , yes chech the [example](https://github.com/mcollina/aedes/blob/master/example.js)

[2017-03-24 06:18] GavinDmello commented on #87
@cordovapolymer Still can't reproduce it.

[2017-03-24 10:38] yentsun commented on #80
@mcollina ok, I made a PR here https://github.com/mcollina/aedes/pull/94

[2017-03-24 14:44] arden opened #95 "aedes could support uWebsockets?"
aedes could support https://github.com/uWebSockets/uWebSockets ?

[2017-03-24 16:04] mcollina commented on #95
Aedes runs on any node stream, you will need the equivalent of websocket-stream on top of uws.

[2017-03-24 16:04] #95 closed

[2017-03-27 04:13] yentsun commented on #80
@mcollina you think I'll be able to reproduce the behavior with mqtt-connection and not bother with Go client? will try...

[2017-03-30 11:06] arden opened #97 "run aedes on websocket must use websocket-stream?"
run aedes on websocket must use websocket-stream?
now, websocket-stream is use ws 1.0, and ws is 2.0 released now.

[2017-03-30 11:24] GavinDmello commented on #97
@arden ws 2.0 has quite a few breaking changes. You can try making websocket stream work with it and make a PR there if issues.

[2017-03-30 12:42] mcollina commented on #97
ws 2.0 runs only on node >= 4.5, not 4.0.

@GavinDmello there is already some work done https://github.com/maxogden/websocket-stream/pull/106

[2017-03-31 20:08] GavinDmello commented on #97
@mcollina Nice work 👍

[2017-04-02 06:45] nguyenthenguyen commented on #97
@mcollina I am really enjoying your work with aedes!
How do we can run  aedes with both websocket and websocket ssl?
[code]
This conflict port error

[code]

[2017-04-02 10:52] cordovapolymer commented on #97
@nguyenthenguyen try changing wsPort, it's already in use by some service, maybe another instance of aedes

[2017-04-03 11:13] nguyenthenguyen commented on #97
@cordovapolymer Yeb! wsPort it's already in use by another service. Thanks 👯

[2017-04-03 15:03] anani112 opened #99 "client._keepaliveInterval is -1 after connection"
I have an embedded client setup with a keepalive timeout of 120 seconds. I have confirmed that the client sends a ping packet every 60 seconds. However, my broker throws a "keep alive timeout" error 180 seconds after connection. I edited the library to keep track of the client._keepaliveInterval variable and it turns out that even though it is correctly setup in https://github.com/mcollina/aedes/b

[2017-04-03 15:59] mcollina commented on #99
can you send a PR with a broken unit test to reproduce?

[2017-04-03 20:26] anani112 commented on #99
I tried replicating the issue with the mqtt.js client but couldn't. It's probably an issue with my embedded mqtt client library. https://github.com/mcollina/aedes/blob/9771fd7967112c28e9670b6df04cce38b1e59d59/lib/client.js#L119 this line gets called multiple times even after successful connection and that's why the first keep-alive timer doesn't get rescheduled when a ping or any other packet is r

[2017-04-05 05:17] arden opened #100 "only have user/password auth? there no way to support clientid auth?"
only have user/password auth? there no way to support clientid auth?

[2017-04-05 06:52] mcollina commented on #100
there is a `client` object, with an `id`  property, which is exactly what you are looking for: https://github.com/mcollina/aedes#clientid

[2017-04-05 06:52] #100 closed

[2017-04-05 14:17] mcollina commented on #99
it's hard for me to fix without a way to replicate. You might want to try with http://npm.im/mqtt-connection, which allows you to send individual MQTT packets, and maybe to reproduce the issue.

Mosca is way more battle-tested than Aedes.

[2017-04-06 06:47] arden opened #101 "mosca or aedes, which one is better?"
mosca or aedes, which one is better in production?

[2017-04-06 06:49] mcollina commented on #101
Mosca is more battle tested and more stable. Aedes is more lightweight, fast, but as you have seen it requires more hardening against edge cases.

[2017-04-06 06:49] #101 closed

[2017-04-06 14:03] GavinDmello commented on #99
@mcollina This is amazing. I get something similar in busboy.

[2017-04-07 03:49] arden opened #102 "aedes has currently support for node cluster module, or use pm2 to support multi core?"
aedes has currently support for node cluster module, or use pm2 to support multi core?

[2017-04-07 06:47] mcollina commented on #102
is you use it with redis, you can use cluster or pm2 (they are the same thing underneath).

[2017-04-07 06:47] #102 closed

[2017-04-07 08:10] arden opened #103 "how to check the client online/offline, except the client normally closed?"
If the client, such as mobile phones, the occurrence of a broken network, forced exit, the normal exit and other situations, the server how to capture?  how to know the client was disconnected.

[2017-04-07 08:11] GavinDmello commented on #103
@arden You can use a will message.

[2017-04-07 08:19] #103 closed

[2017-04-10 02:11] arden opened #104 "how to configure the SESSION time out?"
when i'm set clean=false on client, and how to configure the SESSION time out on the aedes broker?

[2017-04-10 07:08] GavinDmello commented on #104
try configuring a keepalive on the client you're using. The broker should accept it.

[2017-04-10 07:16] GavinDmello commented on #99
@anani112 Just a bit curious. Does your client send `pingreqs` ?
You might have find something checking the packets you get mqtt.js (if it works) and checking what packets you don't get on your client.

[2017-04-20 11:26] kareha opened #106 "authorizePublish method - TypeError: Cannot read property 'length' of null"
Hi,
when I use this authorizePublish Method

[code]

and then publish a message with an unauthorized/wrong topic:

`mosquitto_pub  -t "/wrongtopic" -m "foo"`

I get this Error at Aedes:

[code]
/app.js:91:3 is here the line with callback(null) in authorizePublish function.

Is that a aedes issue?

[2017-04-20 11:56] kareha commented on #106
Sorry, my fault.
Put a **return** infront of **callback(new Error('no auth'))**

Nevermind

[2017-04-20 11:57] #106 closed

[2017-04-20 15:07] GavinDmello commented on #63
I think this should be solved in the latest version of redis persistence redis

[2017-04-25 20:23] xiclopex opened #107 "how to create a wss ?"
Hi folks, Aedes is amazing.
I have a question. how to create a wss connection?
I can create a standard ws, and tcp TLS, but I don´t know how to create a wss.

[2017-04-27 01:19] cordovapolymer commented on #107
@xiclopex ,

its the same as ws, just require https module instead of http and specify your certificates in options.

[2017-04-27 01:20] cordovapolymer commented on #107
https://nodejs.org/api/https.html#https_https_createserver_options_requestlistener

[2017-05-01 08:28] mcollina commented on #107
Closing, as it should be solved.

[2017-05-01 08:28] #107 closed

[2017-05-04 19:55] GavinDmello opened #108 "Accept a callback function in authorizeForward"
Authorized forward should accept a callback for asynchronous validations

[2017-05-05 08:28] mcollina commented on #108
I'm actually 👎 on this change. The actual reason for this is performance: by delaying the delivering of messaging, we are reducing the overall latency and throughput of the system. So, we shouldn't check with an async action if a target user can receive a message.

The solution? Fetch the authorization data and attach them to the client object, and publish an internal message to update them.

[2017-05-05 17:56] jyotman commented on #101
@mcollina is Mosca gonna be merged/based on Aedes eventually?

[2017-05-05 17:59] GavinDmello commented on #108
Sounds good

[2017-05-05 17:59] #108 closed

[2017-05-08 11:05] mcollina commented on #101
Big question. In theory yes, but it might also stay two separate things.
Il giorno ven 5 mag 2017 alle 19:56 Jyotman Singh <notifications@github.com>
ha scritto:

[2017-05-10 21:19] jmholzinger opened #109 "Will is forwarded twice (Windows)"
When a client loses connection to the server the will for that client is forwarded to subscribed clients twice. This may be expected if QoS was set to 0 or 1, but the will has QoS 2 and the clients are subscribed with QoS 2. In this scenario I would expect the message would be forwarded exactly once to each subscribed client. I cannot reproduce this issue in a linux environment.

server.js
[code]

[2017-05-16 20:32] kailunc opened #110 "retain flag is always true"
I am trying to differentiate between "live" packets and "stored" packets it receives by using the packet.retain flag but it seems that the retain flag is set to true in both scenarios.

retained message:
`
Packet {
  cmd: 'publish',
  retain: true,
  qos: 0,
  dup: false,
  length: 93,
  topic: 'some topic',
  payload: <some buffer> }
`

newly published message:
`
Packet {
  cmd: 'publish',
  reta

[2017-05-17 09:20] bgau opened #111 "persistent clients not working correctly"
It seems that Aedes doesn't support persistent clients correctly. I am not deep enough into its code yet to propose a fix so I'd appreciate comments and suggestions or, indeed, a fix.

The problem is that a persistent client is not supplied with subscribed QoS 1 or 2 messages which were published during the client's absence.

Here's the sequence:

(1) client A connects with cleanSession=false, id=

[2017-05-17 09:23] mcollina commented on #111
There are plenty of unit tests to cover those cases, so maybe there is something else going on. Which client are you using to do this? What is the configuration of your aedes?

[2017-05-17 09:24] #104 closed

[2017-05-17 09:24] mcollina commented on #99
Any updates on this?

[2017-05-17 09:24] #97 closed

[2017-05-17 09:25] #63 closed

[2017-05-17 09:26] #74 closed

[2017-05-17 09:26] #77 closed

[2017-05-17 09:28] bgau commented on #111
Thanks for feedback. My Aedes instance uses default constructor except for persistence: AedesPersistenceLevel. The exact same test script succeeds with Mosquitto but fails with Aedes, using npmjs.com/package/mqtt for the clients. Which configuration aspect do you have in mind?

[2017-05-17 09:35] mcollina commented on #111
@bgau can you please verify _without_ the level persistence?

[2017-05-17 09:38] bgau commented on #111
Good point. I can confirm that Aedes() without persistence support behaves correctly, and catch-up does occur when client A re-connects.

[2017-05-17 10:15] mcollina commented on #111
@bgau can you please verify if https://github.com/mcollina/aedes-persistence-level/pull/7 solves your problems?

[2017-05-17 13:09] bgau commented on #111
I can confirm the fix with thanks.

[2017-05-17 13:24] #111 closed

[2017-05-17 13:26] mcollina commented on #111
released aedes-persistence-level as v3.0.0

[2017-05-18 14:11] mcollina commented on #110
Very likely this has the same bug that was in Mosca. Would you like to send a PR?

[2017-05-18 14:55] GavinDmello commented on #110
@mcollina  We're sending the same stored packet to emitPacket. So live packets will be retain true as well.

[2017-05-18 16:21] mcollina commented on #110
Yeah 👍 , we need to fix this.

[2017-05-18 17:59] jmholzinger commented on #109
Closing issue as it was resolved in the pull request.

[2017-05-18 17:59] #109 closed

[2017-05-25 16:23] jyotman commented on #46
@mcollina Any specific reason to advice Haproxy over Nginx? Also considering in mind if one wants to setup SSL too, which would be better? Thanks!

[2017-05-26 08:23] mcollina commented on #46
HAProxy is a TCP load balancer that can be HTTP-aware. NGINX is a web server that can load balance TCP. HAProxy is easier to configure for MQTT.

[2017-05-27 15:42] cordovapolymer commented on #46
@mcollina

Does it mean that you can only run one aedes instance on single machine?

So the idea is to have one redis server on main machine and one aedes instance per machine which all use that main redis server?

[2017-05-27 15:48] GavinDmello commented on #46
@cordovapolymer  yes.
I think you can also have different Aedes process' on different ports on the same server and then link them to your LB, depending the type of traffic you get

[2017-05-27 17:24] mcollina commented on #46
It is currently possible to share a mqemitter with multiple processes with:
https://www.npmjs.com/package/mqemitter-child-process (yes, it works with cluster).

However the same capabilities were not developed for persistence (yet!).

[2017-06-06 17:18] anani112 commented on #99
Hey sorry for the delay. I think i found out what's causing the issue I was facing. In my setup I have a load balancer in front of my broker instance (using AWS ELB) but I also need access to the original client IP address instead of the load balancer. So to parse the original client IP address from the incoming TCP connections I use this library: https://github.com/findhit/proxywrap and setup my

[2017-06-06 17:18] #99 closed

[2017-06-06 18:08] mcollina commented on #99
I think there might be a bug in `findhit-proxywrap`, or some bad interaction with the two modules.
I have not many suggestions on this one :(. You might try a debug session on the cloud, and see what causes the timeout to go negative.

[2017-06-07 08:46] arden opened #114 "the client haven't client#unsubscribe(subscriptions, [callback]) ?"
the client have a client#subscribe(subscriptions, [callback])
and haven't  any client#unsubscribe(subscriptions, [callback])  ?

[2017-06-07 08:47] mcollina commented on #114
Yes, I forgot :). Would you like to send a PR to add that?

[2017-06-07 15:56] jyotman opened #117 "Subscribe event called twice on restart"
I'm using MQTT.js (from CLI) to connect to a minimal aedes broker running locally. When I subscribe to the broker for the first time then the *subscribe* event on the broker is called just once as expected after the *connect* event. But if I restart the aedes broker while the client is still connected and subscribed then the *subscribe* event is called twice after a single *connect* event.

Exampl

[2017-06-08 07:34] mcollina commented on #117
which version of MQTT.js are you using? There was a bug there that might be causing this.

[2017-06-08 08:26] jyotman commented on #117
2.8.0

[2017-06-08 09:16] mcollina commented on #117
Does the same thing happens without redis?

[2017-06-08 09:28] jyotman commented on #117
Yes, happening without redis too.

[2017-06-08 09:58] mcollina commented on #117
It's a bug in MQTT.js.

@behrad do you have any clue?

[2017-06-08 11:33] GavinDmello commented on #117
@mcollina It's the store calling it once and the client function itself calling subscribe.
Just checked I get two subscribe packets on the connection.

[2017-06-08 12:15] mcollina commented on #117
@GavinDmello can you assemble a PR?

[2017-06-08 19:24] GavinDmello commented on #117
@mcollina I think it's happening only with the CLI .   How was it solved with simple MQTT.js , Is there some PR I can refer to ?

[2017-06-09 07:20] mcollina commented on #117
@GavinDmello https://github.com/mqttjs/MQTT.js/pull/624 and https://github.com/mqttjs/MQTT.js/pull/631

[2017-06-16 11:56] GavinDmello commented on #117
@jyotman Check with the latest mqtt.js

[2017-06-16 12:05] jyotman commented on #117
Yes, seems to be fixed. :+1:

[2017-06-16 14:24] #117 closed

[2017-06-26 07:04] nguyenthenguyen opened #118 "happy birthday to you!"

[2017-06-26 07:11] mcollina commented on #118
Thanks!

[2017-06-26 07:11] #118 closed

[2017-06-26 07:23] aarsy commented on #118
Happy birthday.

On 26 Jun 2017 12:41 pm, "Matteo Collina" <notifications@github.com> wrote:

[2017-06-26 21:48] cordovapolymer commented on #118
@mcollina
Happy Bday!

[2017-06-30 09:57] bgau opened #119 "new client receives retained messages on not subscribed topics"
My broker is based on aedes with the level-db persistence module. The broker knows of two retained messages. New clients are sent the retained messages even though they never subscribed to the corresponding topic, as illustrated here:

`$ mosquitto_sub -v -t test/0/rq/# -i 300620171045

test/retained/api/0 test 0

test/retained/api/1 test 1
`

This appears to be in violation of the MQTT 3.1.1 prot

[2017-06-30 10:18] mcollina commented on #119
Can you please upload full steps to reproduce, including some example code for your broker?
Is it happening without the level-db persistence?

[2017-06-30 12:41] bgau commented on #119
Steps to reproduce using the mosquitto console client tools:

(a) Publish a retained message:
mosquitto_pub -r -t test/retained/1 -m "test 1"

(b) Connect a new client (this uses cleanSession=true by default). Note that it does not subscribe to the retained topics:
mosquitto_sub -v -t /test/whatever

In step (b), the client receives the retained messages when the level.db persistence driver is ena

[2017-06-30 12:58] mcollina commented on #119
This is a bug in the level persistence, would you mind to attempt a fix?

[2017-06-30 13:12] bgau commented on #119
Fair enough. I was hoping to get away without, of course, but I'll take a look.

[2017-07-01 19:20] behrad opened #122 "createRetainedStream is per topic"
`createRetainedStream` is called per subscription topic, for client's with multiple subscriptions it looks weird. e.g. redis persistence currently runs `hget retained` `n` times for a client connecting with `n` offline subscriptions.
Can we
1. change `createRetainedStream(topic)` to `createRetainedStream(topics)` in persistence api.
2. move [sendRetained](https://github.com/mcollina/aedes/blob/mas

[2017-07-02 12:46] mcollina commented on #122
How big is `n` in your experience? It would be nice to have some numbers before committing.

This would need to be changed in aedes-persistence, and then downstream to all implementors. I'm 👍  if you want to tackle this one.

[2017-07-02 17:31] behrad commented on #122
1. `n >= 3` for each of my clients
2. Bad news is that `sendRetained` runs at the end of handle subscribe, which is called on each CONNECT (on restore sub). So even if clients don't SUBSCRIBE, retained check will be done on each connect.
And in our environment we have a ratio of 100 conn/disconn per sec!

and please clarify something for me, I had checked mqtt spec some time ago, but can't remembe

[2017-07-02 17:34] behrad commented on #122
we had a somehow related disscusion [here](https://github.com/mcollina/mosca/issues/540#issuecomment-246099275) @mcollina, However I'm not sure my statement there was right!

[2017-07-03 06:37] mcollina commented on #122
@behrad the retained check is part of the mqtt implementation decisions :(. Mosquitto implements it the same way we do, resending the retained message on connect. However, the spec is unclear to me.
You might want to ask them, maybe.

@behrad go ahead and start making the changes. However, I would implement it in as a non-breaking changes. Adding a new `createdRetainedStreamCombi(topics)` which in

[2017-07-04 17:05] behrad opened #123 "changing `subscriptionsByTopic`?"
according to [this discussion](subscriptionsByTopic) I'm trying to store only `clientId` in Qlobber instead of `{clientId, qos, topic}` object.
The only barrier here is persistence `subscriptionsByTopic` which is returning those objects in [enqueueOffline](https://github.com/mcollina/aedes/blob/master/aedes.js#L161), however only a list of `clientId`s would suffice.
I trace down for any access to

[2017-07-05 07:12] mcollina commented on #123
The `removeSharp` functionality __must__ stay in, as the `$SYS`  topic is not matched by `#`. It can be moved somewhere else.

I think this change is more articulated than what you describe, because the same object goes into https://github.com/mcollina/aedes-persistence/blob/master/persistence.js#L170. It does not use the topic and QoS either.

[2017-07-05 08:22] behrad commented on #123
Yes, we can change `outgoingEnqueue` spec for the first argument.

I'm not sure where we can move it @mcollina

[2017-07-05 08:25] mcollina commented on #123
I tend to agree, but if we can't move it we can't make this change. If you are subscribing with `#`, `$SYS` topics should not be enqueued.

[2017-07-05 08:30] behrad commented on #123
@mcollina  let me ask:
Do `$SYS` topics ever need to be enqueued?

If not, why not to check packets topic is a SYS instead of checking on Qlobber's client topic.

[2017-07-05 08:37] mcollina commented on #123
I assume so. Mosquitto enqueues them.

[2017-07-05 08:41] behrad commented on #123
I believe we can think to drop support for `qos>0` subscriptions on `$SYS` topics.

A stateful `$SYS` subscriber means not a good idea to me... Broker should not be responsible for offline storage of `$SYS` messages. they can be huge also.

[2017-07-05 08:46] mcollina commented on #123
I think that is needed to support the mosquitto bridge protocol.

Another idea is to block offline storage of messages from a `#` subscription, so a full `#` subscription can only do QoS 0. I think that's more reasonable, even if we want to break from the MQTT spec.

[2017-07-05 08:48] behrad commented on #123
That would need a change to handleSubscribe, yes?

[2017-07-05 08:51] mcollina commented on #123
Yes.

cc @GavinDmello what do you think?

[2017-07-05 08:57] behrad commented on #123
I also referenced the discussion topic about storing values inside Qlobber, which I was against, until @davedoesdev can provide us with a new fast built-in dedup Qlobber. (as fast as QlobberDedup) so we can remove codes like [this](https://github.com/mcollina/aedes-cached-persistence/blob/master/index.js#L171)

[2017-07-05 20:22] GavinDmello commented on #123
@mcollina Could we just remove `#` from qlobber when he subscribes on a `$SYS` topic and vice versa  ? So at a time we can't subscribe to both.
I'm not sure if blocking offline storage for `#` would be right.

I'm 👍 for the QlobberDedup idea. It will give a huge performance boost

[2017-07-05 20:35] davedoesdev commented on #123
@behrad do you have a dataset to benchmark?
`QosQlobber` in the example I linked to is nearly the same as `QlobberDedup`. They both inherit from `Qlobber` but `QosQlobber` uses `Map`s and `QlobberDedup` uses `Set`s.

[2017-07-05 22:36] davedoesdev commented on #123
I added to the benchmarks an example `Qlobber` (like `QlobberQos` in https://github.com/davedoesdev/qlobber/issues/9) but which stores its values in a `Map`.  See https://github.com/davedoesdev/qlobber/blob/custom-qlobber-example/bench/options/_mapval.js

Results are below:

[code]

[2017-07-06 08:04] behrad commented on #123
I'll do a bench and let you know 👍

[2017-07-06 08:15] behrad commented on #123
@davedoesdev based on your bench, will QosQlobber perform badly on wildcard topic publishes? (match-many)
And can you add another bench like `match-add` where a topic is checked before adding, then added if not exists. (this will only be meaningful for default Qlobber)

[2017-07-07 10:54] behrad commented on #123
Adding `2878969` topics @davedoesdev

Qlobber | time | heap
-- | - | -
Qlobber | 100886.361ms | 3052.9MB
QlobberDedup | 114514.373ms | 3525.1MB
MapValQlobber | 185898.631ms | 3608.9MB

I think the best trade of is QlobberDedup, with single clientId values. With should do something to # topic handling @mcollina @GavinDmello

[2017-07-07 13:13] mcollina commented on #123
I'm not sure if blocking offline storage for # would be right.

I do not think this will work, because qlobber will report `#` as matching `$SYS`. But if we can make it work 👍 . We can just refuse the current subscription, not the previous one.

[2017-07-07 19:08] behrad commented on #122
handled in https://github.com/mcollina/aedes/pull/121

[2017-07-07 19:08] #122 closed

[2017-07-07 20:53] davedoesdev commented on #123
@behrad do you have the program for those benchmarks? I'd like to add it to the qlobber tests and see if I can improve things (although it might just be Map overhead).

[2017-07-08 09:00] GavinDmello commented on #123
I thought of removing any subscription with` #` from Qlobber and persistence when the client subscribes with a `$SYS` topic and vice versa, but rejecting the subscription also works.
Let's document the behaviour though

[2017-07-10 10:57] mcollina commented on #87
Closing.

[2017-07-10 10:57] #87 closed

[2017-07-10 10:57] mcollina commented on #119
This is fixed on the latest level persistence.

[2017-07-10 10:57] #119 closed

[2017-07-10 11:26] mcollina commented on #80
I think this might be fixed by #121. Feel free to reopen if it is still an issue.

[2017-07-10 11:26] #80 closed

[2017-07-12 07:52] behrad opened #125 "both error & keepAliveTimeout are emitted"
Is this the desired behavior to emit both [here](https://github.com/mcollina/aedes/blob/master/lib/handlers/connect.js#L43-L44)?

I expected `clientError`, `clientDisconnect` and `keepAliveTimeout` to be exclusive events so that application can be easily decide on the client termination.

[2017-07-12 07:56] mcollina commented on #125
Should it? If keepalive is triggered, I think we should terminate the client anyhow. Why would you prefer otherwise? Firing `'error'` makes the client disconnect abruptly.

A possibility is to fire `'keepAliveTimeout'`, and if there were no listeners to that event fire `'error'`. I'm not keen on this, as I would like to disconnect anyhow.

[2017-07-12 08:03] behrad commented on #125
As far I translate to this:
`clientError` & `clientDisconnect` are mutually exclusive (i.e. only one of them would be emitted on a single client) However for certain cases we have duplicate events like `keepAliveTimeout`.

However application could handle that this way:
[code]

Am I right?

[2017-07-12 08:07] mcollina commented on #125
@behrad yes, I think so. You can't really "handle" those cases, but rather log them and use them for stats. There is not much you can do for those cases.

[2017-07-12 08:10] behrad commented on #125
Thank you @mcollina ,
There's an issue I've seen testing aedes, where
`client` param is null on `clientError` when `err=ECONNRESET`
and `packet` param is null on `ack` !!!
I checked aedes code, no suspects yet.

[2017-07-12 08:34] #125 closed

[2017-07-13 12:25] behrad opened #126 "retained dedup?"
retained packets are disabled for dedup [here](https://github.com/mcollina/aedes/blob/master/lib/handlers/subscribe.js#L146) Why?

Currently retained packets are delivered twice if a `clean=false` client does:

CONNECT
SUBSCRIBE

let's make this configurable for the application atleast @mcollina to choose if they want to dedup retained packets or not.

[2017-07-13 12:36] mcollina commented on #126
technically those are two subscribes, so I think they should be delivered twice. You should not be calling SUBSCRIBE again, if the `sessionPresent` part of the CONNACK packet is set.

[2017-07-13 12:43] behrad commented on #126
Good point, I should recheck the client's behavior on our side 👍

Can you explain what is the job of `dedup` @mcollina ? What's `brokerCounter`?
it seems `dedup` is only deduping for connected clients in current running broker instance. (it doesn't survive broker restarts)

[2017-07-13 12:45] mcollina commented on #126
It's to handle overlapping subscriptions (`a/#` `a/b` ). We need to dedupe, as there are two handlers registered in mqemitter.

[2017-07-13 12:48] behrad commented on #126
It could have a finer qualified function name then ;)
I still like to make dedup retained configurable for the application (as a non-standard option) so that client's don't receive same retained packet on each CONNECT. Can I create a PR if you don't mind @mcollina ?

[2017-07-13 12:51] mcollina commented on #126
@behrad maybe we should not dedupe, or maybe do something different there. Would you mind assembling a unit test for what you think it should happen?

[2017-07-13 13:05] GavinDmello commented on #126
Ideally, on every Subscribe you should get the retained packet for that topic.

[2017-07-13 13:48] behrad commented on #126
In my environment there's a high CONNECT/DISCONNECT rate (a few hundred per second)
When we publish a retained message, all the bandwidth is eaten by retained forwards. If I could turn the `dedup_retained_on_connect` switch on, it would help me so much.

My concern is deduping a retained packet only on CONNECT.

[2017-07-13 14:00] behrad opened #128 "Client Ip"
How can I access the client's IP address on the `client` object in aedes event hooks @mcollina ?

[2017-07-13 14:34] mcollina commented on #128
you'll need to get it from client.stream I think. It would be nice to document it.

[2017-07-13 14:50] behrad commented on #128
it was `client.connection.stream.remoteAddress` in mosca if I remember, however in aedes there's no `client.connection` and I couldn't find it out inside `client.stream` :(

[2017-07-13 14:51] mcollina commented on #126
by deduping you mean the overlapping subscription case?

[2017-07-13 14:51] mcollina commented on #128
it's https://github.com/mcollina/aedes/blob/master/lib/client.js#L22.

We can rename that to `stream`, it might actually be better.

[2017-07-13 14:52] behrad commented on #126
No, I mean deduping on pubacked (packet, clientId) pair, so that a packet is only delivered once to a clientId

[2017-07-13 14:57] behrad commented on #128
it is `client.conn.remoteAddress` 👍

[2017-07-13 14:57] #128 closed

[2017-07-13 15:46] mcollina commented on #126
why are you getting duplicates?

[2017-07-13 15:51] GavinDmello commented on #126
@behrad. Can you check if your client internally resubscribes after a reconnection ? If so, the behaviour is correct.

[2017-07-13 16:14] behrad commented on #126
Yes it does, and as you said this is the correct behavior for that case ( i.e. CONNECT/SUBSCRIBE)
However I'm concerned with a CONNECT only case.

[2017-07-13 16:14] behrad commented on #126
Client is receiving the retained packet on every CONNECT. I define this as duplicate

[2017-07-13 16:24] mcollina commented on #126
So, I think we should just have an option to disable sending retained messages for clean = false clients.

[2017-07-13 16:28] GavinDmello commented on #126
You could also try modifying your client to take an option with switches off the resubscribe and handle all the subs yourself. This way you won't get it on every connect.

[2017-07-13 19:27] behrad commented on #126
But we don't expect `clean=false` clients not to receive retained messages, but also receive them only once @mcollina

[2017-07-13 19:34] behrad commented on #126
I didn't get your point @GavinDmello . Even if I switch off resubscribes, my client will get the packet on every connect.

[2017-07-13 19:57] GavinDmello commented on #126
@behrad Your client should not get the retained message if it doesn't actively subscribe/resubscribe.
If you're getting a retained message by just connecting , something is wrong.

[2017-07-13 20:08] behrad commented on #126
Aedes wise, this is the path: connect -> restoreSubs -> handleSubscribe -> completeSubscribe! and `createRetainedStream` is called there after CONNECT @GavinDmello

MQTT spec wise, I hadn't have a chance to ask this in their list to find out whats the correct behavior?

[2017-07-13 20:09] behrad commented on #126
So currently in aedes, client will receive retained message on every CONNECT.
if the client does a SUBSCRIBE after that, it will again receive retained message.

[2017-07-13 20:32] mcollina commented on #126
I am not sure that disabling that flag would help. The way deduping is
implemented relies on the fact that two messages are published in a short
period of time. A retained message could be retrieved after a long period
of time.

You might get away with it by setting the brokerId to a special id, and
start numbering the packets from 0.

I'm ok if you want to send a PR to have deduping. However, I'd

[2017-07-14 05:24] behrad commented on #126
I won't do a SUB for clean=false clients.

My issue is then is delivering retained messages on every CONNECT of a client. and I can't see how this would help yet @mcollina

[2017-07-14 07:54] behrad opened #129 "[feat] server side triggered subscriptions for clients"
provide functions to add/remove subscriptions for a client like

[code]
the only issue providing these with  the current `aedes.handleSubscribe` is lack of client object in above cases.
Two models I propose:
1. Can we change handleSubscribe to be safe when client object is not a real connected object? in this model if a clientId is connected, broker can provide the client instance.

2. Can we move

[2017-07-14 08:23] mcollina commented on #129
I am +1 with 1, it might be the easier one to implement.

[2017-07-14 08:58] mcollina commented on #126
I'm really not understanding your use case @behrad, would you mind setting up an example on how things currently behave, and telling which messages you would not like to be delivered?

Or, fire a PR and we will discuss there.

[2017-07-14 10:27] GavinDmello commented on #114
@arden  I think this can be closed
Check the latest release

[2017-07-14 10:47] #114 closed

[2017-07-18 05:39] ckrey opened #132 "No topic checking - and crash"
aedes allows using wildcards in PUBLISH:
* `base/#`
* `base/+/sub`

aedes allows using illegal wildcards in SUBSCRIBE and UNSUBSCRIBE:
* `base/#/sub` (multilevel wildcard not last element)
* `base/#sub` (wildcard not alone)
* `base/+xyz/sub` (wildcard not alone)

aedes does not check for empty (zero length) topics:
* in PUBLISH, aedes silently interrupts outgoing client connections (SUBSCRIBE to '

[2017-07-19 22:45] davedoesdev commented on #123
Is there anything I can do with Qlobber? I think MapValQlobber is a reasonable approach and doesn't require changing core. It seems `Map` has quite a bit more overhead than `Set` here.

[2017-07-20 07:57] mcollina opened #133 "restore series (instead of parallel) in SUBSCRIBE"
After https://github.com/mcollina/aedes/pull/120, we can have an unordered granted array.
https://github.com/mcollina/aedes/blob/master/lib/handlers/subscribe.js#L63-L82 needs to be updated.

@behrad can you fire a PR for that?

[2017-07-20 13:01] cordovapolymer commented on #87
the issue has been resolved, running 0.27 and newer version for more than a week in production

[2017-07-20 13:02] cordovapolymer commented on #77
the issue has been resolved, running 0.27 and newer version for more than a week in production

[2017-07-21 08:10] ckrey opened #135 "Topic filter '+' matches $SYS topics"
E.g. SUBSCRIBE to `+/#` and get

[code]

[2017-07-21 08:12] mcollina commented on #135
nice one!

[2017-07-21 08:15] #132 closed

[2017-07-21 09:01] #135 closed

[2017-07-21 09:32] ckrey opened #137 "QoS 2 PUBREC should not be repeated"
aedes treats QoS2 different to a lot of other MQTT brokers:

* client sends PUBLISH
* broker replies with PUBREC

... client does not respond to PUBREC with PUBREL within a certain time

* broker repeats PUBREC
* client replies to first PUBREC with PUBREL
* client replies to the second PUBREC with PUBREL
This causes the following error and subsequent disconnect:
[code]

The MQTT spec is not explic

[2017-07-21 09:47] behrad commented on #133
Are you meaning that: Should the response granted array be ordered?
Why not to reorder them based on input subs array, when parallel is complete? instead of restoring to series?

[2017-07-21 09:48] behrad commented on #133
Can you first add a failing test?

[2017-07-21 09:56] behrad commented on #129
Main point about this is how to call subscribe on the actual client instance in a multi instance environment @mcollina. This can be solved either

1. Providing a core inter-node messaging inside aedes using e.g. the internal `mqemitter` inside aedes! this also can be used for other commiunication needs in a clustered env.

2. calling addSubscriptions with a third kind of a value like `serverSub: t

[2017-07-21 09:59] mcollina commented on #129
I think that's a good use for $SYS topics, so +1 for approach 1.

[2017-07-21 10:05] behrad commented on #137
Hi @ckrey,
Good to see you here man 👍

It seems you are using default memory persistence.
Can you please confirm the same issue exists with a setup with redis-persistence?

[2017-07-21 11:10] ckrey commented on #137
hi @behrad as I am a node novice, I don't see a simple example how to setup aedes with redis-persitence. Maybe you can help out

[2017-07-21 11:17] behrad opened #138 "null client instance on some clientError events"
`CONNRESET` and `connect did not arrive in time` events both has NULL client parameter

[2017-07-21 11:23] behrad opened #139 "Management methods"
Implement more instance functions
- `aedes.instances()`: returns current running brokers list
- `aedes.isConnected(clientId)`: returns if a clientId is currently connected to any aedes instance or not (all aedes instance can currently keep track of connected clientIds)

[2017-07-21 11:29] GavinDmello commented on #139
How are you planning on doing this ?

[2017-07-21 11:31] nguyenthenguyen commented on #139
Should we check list of client instead of one client ?. Ex: `aedes.clientStatus(ids)`, `ids` is a list of client ID

[2017-07-21 12:04] cordovapolymer commented on #139
currently we are managing the list of connected clients in server app and on client side, by publishing a special message on user connect, and using a will message to track disconnections.

[2017-07-21 12:45] mcollina commented on #139
So, `aedes.isConnected(id)` will not work, because a single server can only know about all the clients that have connected _while it was running_. Another option is to make that async, and fire a broadcast to all the servers if it didn't see the client. It's quite an expensive method in the worst case scenario.

I think `aedes.isConnected(id)` can be  implemented in another module.

[2017-07-21 22:56] cordovapolymer commented on #137
same issue as I have experienced in earlier versions https://github.com/mcollina/aedes/issues/87
@ckrey,
to use aedes-persistence-redis just [instantiate it ](https://github.com/mcollina/aedes-persistence-redis#api)and pass as an [option to aedes constructor](https://github.com/mcollina/aedes#aedesopts).
Of course you have to setup [redis](https://redis.io/) as well

this should work (compiled fro

[2017-07-22 04:54] ckrey commented on #137
I can confirm, the error occurs with redis persistence too! I don't think it is a persistence error, but a protocol handling problem

[code]

[2017-07-22 11:34] mcollina commented on #137
I will not have time to work on this, is there anyone that wants to send a PR? I'm ok with the proposed change.

[2017-07-23 07:58] nguyenthenguyen commented on #139
@cordovapolymer When we using will message for connect status, this [issues](https://github.com/mcollina/aedes/pull/105#issuecomment-294077886) will make wrong logic

[2017-07-23 11:35] mcollina commented on #139
That's not clear :/.

[2017-07-23 14:46] nguyenthenguyen commented on #139
@mcollina @cordovapolymer  When we have 2 aedes instance: aedes A and aedes B (A <=> B use mqemiter), client C.
Step 1. C connect to A use will topic mean `c offline`. C have status online
Step 2. A crash => stop
Step 3. C disconnect to A because A crash
Step 4. C auto reconnect to B. C status is online
Step 5. B run `clearWillInterval` publish will topic `c offline`. But C current online

[2017-07-23 17:03] GavinDmello commented on #139
@nguyenthenguyen Are you publishing to the same will topic when the client connects ?
If yes, Have you tried reducing the heartbeatInterval ?

[2017-07-23 17:16] nguyenthenguyen commented on #139
@GavinDmello You can use [this sample](https://github.com/mcollina/aedes/pull/98#issuecomment-291090278) for one aedes instance (will fail logic too) and [my comments](https://github.com/mcollina/aedes/pull/105#issuecomment-294077886)

[2017-07-23 20:58] behrad commented on #137
I'll try it may be in a week...

[2017-07-24 06:23] GavinDmello commented on #139
@nguyenthenguyen  Have you tried publishing a retained message on connect to client1/status ?

[2017-07-24 16:43] nguyenthenguyen commented on #139
@GavinDmello Yes! This happen even if I publish retained message on connect to client1/status. Because after restart, `aedes` have new id and old retain of client status topic belongs to old id, this will run [`checkAndPublish`](https://github.com/mcollina/aedes/blob/master/aedes.js#L93)

**Step to reducing this:**
Step 1: Start server.js
Step 2: start client1.js
Step 3: start client2.js
Step 4: s

[2017-07-24 17:37] GavinDmello commented on #139
@nguyenthenguyen I tried it out . So this is when the client quickly reconnects within the heartbeat interval to another node and then the will is published.
Have you played around with the heartbeatInterval ?  It did not reoccur when I reduced it to 100 ms.

[2017-07-25 02:45] nguyenthenguyen commented on #139
@GavinDmello Not yet! The default `heartbeatInterval` is 60 seconds and after [4*60s ](https://github.com/mcollina/aedes/blob/master/aedes.js#L87) it will happend. How about performance If we change `heartbeatInterval` to 100ms ? This is a bug?

[2017-07-26 07:07] marqueeeeeee opened #141 "Ability to create secure and non secure port"
Hi I'm wondering if it is possible to create two port one with tls security and one non secure. thanks! i'm trying to figure out how.

[2017-07-26 21:03] mcollina commented on #141
You can pass the same `aedes.handle` to both net and tls server.

[2017-07-26 21:03] #141 closed

[2017-07-27 05:14] behrad commented on #123
I ran aedes with Redis persistence under my real-world load yesterday and unfortunately the hot path which was sticking cpu to 100% was https://github.com/mcollina/aedes-cached-persistence/blob/master/index.js#L45 as I expected.

This is no good for me, `QlobberDedup` helped me out in `mosca`, however in aedes we have the issue of keeping objects of subscriptions instead of clientIds in qlobber, o

[2017-07-27 06:35] davedoesdev commented on #123
@behrad Are you still adding many entries with the same topic?

[2017-07-27 20:07] davedoesdev commented on #123
I also have another idea.
What if I added a `test()` method to `Qlobber` (and `QlobberDedup`)? Instead of collating all the matches, it would just check if one matches and return a boolean. The equality test could be a method, overridable for custom equality.

[2017-07-28 22:12] davedoesdev commented on #123
I've published qlobber version 0.12.2 which has a [`test(topic, val)`](https://github.com/davedoesdev/qlobber#qlobberprototypetesttopic-val) which allows you to check whether a value is matched by a topic, without having to retrieve the whole match.

It seems to make a big difference:

[code]

`match_search_many` searches for values by matching first then going through the results.

`test_many` ca

[2017-07-28 22:22] davedoesdev commented on #123
If you change https://github.com/mcollina/aedes-cached-persistence/blob/master/index.js#L45 to call `test()`.

You'll probably have to derive a custom `Qlobber` from `QlobberDedup` and override [`test_values`](https://github.com/davedoesdev/qlobber#qlobberdedupprototypetest_valuesvals-val) to provide an equality function.

[2017-07-30 06:30] behrad commented on #123
then the bottleneck would be moved into `test_values` , since the implementation should iterate over a Set of objects to see whose clientId matches. Am I right @davedoesdev ?
Any fast data structure with direct access based on `clientId` would help, wouldn't?

[2017-07-30 06:37] davedoesdev commented on #123
@behrad correct. But is it possible to customise the derived Qlobber to store indexed by `clientId`? Possibly a two tier structure by `clientId` and subscription?
I'm going to take a look at the aedes code but won't be for a couple of days.

[2017-07-30 07:00] behrad commented on #123
I am still on storing only clientId string in Qlobber and some how handling # topics...
Storing subscription object is creating performance/complexity issues

[2017-07-30 07:10] davedoesdev commented on #123
It would help to have a self-contained test we could benchmark outside aedes which replicates the issue.

[2017-07-30 07:18] behrad commented on #123
I'll try to create one, yes!

What about storing a hash string like `clientId,topic,qos` inside QlobberDedup @davedoesdev ?
considering that e.g. `,` is a separator that won't be used inside clientId and topic

`matcher.add('foo/#', 'test1,foo/#,1')` !?

[2017-07-30 07:21] GavinDmello commented on #123
@behrad Have we considered strigifying  ?

[2017-07-30 07:24] behrad commented on #123
Didn't get it @GavinDmello ?

[2017-07-30 07:27] davedoesdev commented on #123
What is it that needs looking up? What if you stored multiple chained hash tables e.g.

`test1` -> `foo/#` -> `1` ?

[2017-07-30 07:31] GavinDmello commented on #123
I meant instead of creating a custom hash, why not just insert json strings into Qlobberdedup.
There would be some overhead parsing and stringifying but we can avoid using seperators

[2017-07-30 07:32] behrad commented on #123
In real world load, each aedes instance is restoring subs on whole client connects on the cluster (many more than joining/new clients that are adding new subscriptions).
So a tons of `.add` calls will not add since qlobber contains the sub from the aedes _setup @ startup.
Now @davedoesdev What dya propose in such scenario?
`DedupQlobber.add`
`DedupQlobber.test + DedupQlobber.add`
`DedupQlobber.mat

[2017-07-30 07:38] behrad commented on #123
This is a good choice, Using QlobberDedup with clientId strings + storing a hash table inside aedes-cached-persistence as a side lookup to trie, If I'm getting you right?

this way we can take most of QlobberDedup, and also don't change aedes persistence API (we would be able to augment clientId with topic/qos (looking up the side hash table) when returning out. this looks more feasible/performant

[2017-07-30 07:43] behrad commented on #123
sub trie matching would work only based on clientId as mosca @davedoesdev
The only change in aedes related, is that aedes is returning the whole subscription (original topic is needed inside callers above). Client original subscribed topic will then be checked inside aedes router to ensure we are not routing a $SYS topic to a # topic!
I want you to fix me if not guys @GavinDmello @mcollina

[2017-07-30 08:10] davedoesdev commented on #123
@behrad @mcollina I'm keen to make a test case and benchmark in Qlobber. Could what aedes requires be put into such? I can try to guess and paste here if you like, but again it won't be immediately.

[2017-07-31 11:10] mcollina commented on #139
Something like 1s should be better. However, I do not think that's the best approach. We should change that logic so that we do not send the will if the client reconnects in the meantime to another server.

[2017-07-31 12:22] GavinDmello commented on #139
According to the MQTT docs
[code]
It's a bit ambiguous for another broker to send wills for a dead broker.

[2017-07-31 12:42] mcollina commented on #139
One approach could be to check when a client connects if there are will messages to be sent with that clientId.

All aedes broker act in unison, so they should appear like "one".

[2017-07-31 23:17] behrad commented on #123
Why not to marking new/restore subs when publishing $SYS, then cluster nodes would be able to only call `QlobberDedup.add` for new subs! restore subs should be already added upon _setup. Is this ok @mcollina @GavinDmello ?

[2017-08-01 09:46] willin opened #143 "authorizeSubscribe no use"
[code]

[code]

when set `sub =  null`  client can get messages printed

when set `callback` client always reconnect, messages printed

errors never printed.

[2017-08-01 10:39] mcollina commented on #143
the result will be in the `subscribe` callback on the client.

[2017-08-01 10:39] #143 closed

[2017-08-01 15:35] behrad commented on #123
This is my BIG issue now under production, since we have multiple wildcard topics with 1.5 million clients. (3.5 million subscriptions)
I will consider switching to QlobberDedup, and using an external hash table to store subscriptions (I hope the memory overhead be affordable)
I will also take my optimization above into consideration in a new PR.

[2017-08-02 00:55] willin commented on #143
[code]

not print anything too.

[2017-08-02 00:57] willin commented on #143
if `sub = null;`

result: `[ { topic: 'deviceId', qos: 128 } ]`

[2017-08-02 01:03] willin commented on #143
![wx20170802-090314](https://user-images.githubusercontent.com/1890238/28853210-84eb5f86-76f4-11e7-860b-8cf7007a1842.png)

[2017-08-02 01:19] willin opened #144 "TypeError: done is not a function"
[code]

[2017-08-02 05:39] mcollina commented on #143
By the MQTT standard, a QoS of 128 means failed. Feel free to open an issue on MQTT.js if you think we should change this (probably yes).

[2017-08-02 07:43] mcollina commented on #144
Can you please write down instructions to reproduce?

[2017-08-02 07:44] mcollina opened #145 "Emit 'unsubsribe' event when client has clean=true on disconnect"
we should fire 'unsubscribe' for clean = true clients, but not for clean = false clients.

[2017-08-04 14:26] willin commented on #143
128 failed? but i can still get messages...

[2017-08-07 07:59] #133 closed

[2017-08-07 10:05] mcollina opened #146 "Cluster mode support"
This could use a combination of https://www.npmjs.com/package/level-party and https://www.npmjs.com/package/mqemitter-child-process with https://github.com/mcollina/aedes-persistence-level.

It probably just needs some docs and an example.

[2017-08-07 12:49] martindederer opened #147 "Username and password are not provided to some auth methods"
Currently the username and password are not accessible from within the custom authorizePublish and authorizeSubscribe methods.

This becomes an issue when authenticating and authorizing with JWT or similar token based auth schemes is desired. In this case the decision to allow or deny a request to publish or subscribe to a certain MQTT topic depends on the payload of the auth token. The widespread

[2017-08-07 13:45] mcollina commented on #147
@martindederer you can store them in the client object in `authenticate`. You can also add all the state you might need. I think it should be more than enough to validate topics during authorizePublish and authorizeSubscribe.

I prefer _not_ storing the password in the clear in the default implementation.

If would be cool if you release an aedes-jwt integration, I think a lot of people would find

[2017-08-07 14:08] martindederer commented on #147
@mcollina I see, that would probably work. I am usually hesitant to modify structures like the client instance that third party code provides to the consumer code since it is a potential vector for future breakage. I will give it a try though.

I agree with your objection on plain text password storage in memory. It should be avoided if possible.

I'll have to clean up the aedes-jwt stuff quite a

[2017-08-07 20:57] cordovapolymer commented on #146
@mcollina , you mentioned aedes-persistence-level, what do you think about cluster support for other persistences?

[2017-08-08 07:22] mcollina commented on #146
@cordovapolymer other persistences will automatically work, as they use an external database and broker.

[2017-08-14 08:22] nadalizadeh opened #148 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected."
Hello,

I'm using aedes for an online game async communications and chat. The server works fine and after 1 month it suddenly stops working and messages do not get dispatched. I have the following error in the stderr:

`(node:3096) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 201 drain listeners added. Use emitter.setMaxListeners() to increase limit`

In the stdout log

[2017-08-14 08:50] mcollina commented on #148
which version of Node.js are you using?
Il giorno lun 14 ago 2017 alle 10:22 Ali N. <notifications@github.com> ha
scritto:

[2017-08-14 08:51] nadalizadeh commented on #148
v7.10.1

[2017-08-14 08:53] nadalizadeh commented on #148
I just faced this ticket : #51
I've now changed my concurrency to 1000 to see if works or not. Would it resolve my issue?

[2017-08-14 09:00] mcollina commented on #148
Can you reproduce this reliably? I think we have a bug on our side. That mitigates the issue, but no, it won't solve it. I recommend you to recycle your node processes every once in a while.

[2017-08-14 09:06] nadalizadeh commented on #148
The fact that it happens on the production servers and under load, makes it hard to reproduce. But with the code I've sent above, I have experienced this behaviour two times (with concurrency = 100) and each of them after around 1 month of uptime.

[2017-08-17 08:19] #148 closed

[2017-08-17 16:23] kareha opened #150 "Packet callback is triggers multiple times, after client reconnects"
When I use this to receive a message from a client:

`aedesInstance.subscribe(topic, callback, done)`

The "callback" function is triggert multiple times for one message, when a client connects to the broker where it was connected before with the same topic and messages had been sent.

This:
`aedesInstance.on('publish', callback)`
on the other hand, is only triggered once at the same time.

The im

[2017-08-17 19:11] mcollina commented on #150
Can you please make a code example so that I can reproduce?

Does it happen even without mqemitter-mongodb?

[2017-08-18 05:51] behrad opened #151 "Use parallel on subscribe, preserving response grant orders"
#140

[2017-08-18 08:29] kareha commented on #150
Of course:

Server:

[code]

Client:

[code]

**Console output:**

Server (client connects):

Server (client disconnects and connects again)

And again:

"Received (by Subscription)" occurs multiple times, while "Received (onPublish)" only once like expected :-/

Thx in advance for help

[2017-08-18 08:32] mcollina commented on #150
You are calling `subscribe` every time a client connects. You should do that at the top level, so that your function is only called once.

MQTT is not a RPC system.

[2017-08-18 08:32] #150 closed

[2017-08-18 08:39] kareha commented on #150
Ok, thx for that hint :)

But if I unsubscribe the topic when the client disconnects, it does not help either :(

[code]

[2017-08-18 08:52] mcollina commented on #150
If multiple clients connect concurrently, you will hid `aedes.subscribe` and  `aedes.unsubscribe` multiple times.

[2017-08-18 09:02] kareha commented on #150
Yes that is ok. In the final code I have a different topic for each client, for example: /client/id123/response

My goal is to react on each client and create a request response procedure.

[2017-08-18 09:17] mcollina commented on #150
you should use a wildcard and a top level subscription for that.

[2017-08-19 19:06] #123 closed

[2017-08-19 19:20] mcollina commented on #110
This is fixed in #130 and v0.30.0

[2017-08-19 19:20] #110 closed

[2017-08-21 09:47] kareha commented on #150
I found out the issue:

The topic was not deleted from the Qlobber tree on unsubscribe because it uses the callback function as the search pattern, and it was not the same in my case.

When I put the same callback at the unsubscribe parameter, everything works :)

See **responseHandler** here:

[code]

Thx anyway

[2017-08-23 14:17] jyotman opened #153 "Handle multiple clients with same client ID"
Currently if a second client tries to connect with a client ID that is already being used by some other client then Aedes disconnects the previous client and then connects the new client.

What I want to do is to retain the first client and un-authorise  the new client so the initial client remains intact.

To implement this I maintained a list of all the connected clients in a separate Redis inst

[2017-08-23 14:50] mcollina commented on #153
You should not support multiple client with different ids. The current behavior is by the MQTT spec, so you should work around that.

[2017-08-23 14:50] #153 closed

[2017-08-23 15:51] mcollina commented on #153
@jyotman that's the behavior specified in the MQTT spec as far as I recall. Please check. If not, send a PR. This is really unspecified behavior, so I would not call that as a bug.

[2017-08-30 02:00] buckle2000 opened #154 "What is "backpressure""
You mentioned "backpressure" in README, but seems like it is not a MQTT term.
Can you Explain that?

[2017-08-30 02:47] mcollina commented on #154
It's a Node.js term. See https://nodejs.org/en/docs/guides/backpressuring-in-streams/.

[2017-08-30 12:46] buckle2000 commented on #154
Sorry, I read that but still don't understand what is "support backpressure". Can you explain that?

[2017-08-30 12:50] buckle2000 commented on #154
OK, so how is it related to `instance.subscribe/publish`?

[2017-08-30 13:00] mcollina commented on #154
Aedes is built in such a way that only a limited amount of messages can be forwarded at any given time. This allows Aedes to pause the producers to avoid overloading the subscribers of messages.

[2017-08-30 13:00] #154 closed

[2017-09-17 01:32] alnikitich opened #155 "mqtt.js client disonnected on error authorizeSubscribe result"
Hello!

When i check topic by authorizeSubscribe function in aedes like this:
[code]
mqtt.js client have disconnected and recconect after it.
but i should get error on client without disconnection

error result on authorizePublish disconnect client too.

Thank you.

[2017-09-18 06:53] mcollina commented on #155
Return null as the second argument: https://github.com/mcollina/aedes/blob/master/README.md#authorizeSubscribe

[2017-09-18 06:53] #155 closed

[2017-09-22 07:33] penglinjiang opened #156 "aedes-persistence-mongodb throw error"
my server.js is as follows:
[code]
but as long as i run server.js,it get this:
[code]

[2017-09-22 08:11] GavinDmello commented on #156
@mcollina  Is _matcher and matcher the same instance ?

[2017-09-22 08:24] mcollina commented on #156
@GavinDmello https://github.com/mcollina/aedes-cached-persistence/commit/ea2dc99041106e37d4bf07e7116af22dd452dba6#diff-168726dbe96b3ce427e7fedce31bb0bc renamed `_matcher`  to `_trie`. We should just rename the field. Would you mind sending a PR?

[2017-09-22 08:26] GavinDmello commented on #156
Oh, It's from aedes-cache

Sure

[2017-09-22 12:35] mcollina commented on #156
Can you please check this again? It should be fixed.

[2017-09-22 12:35] #156 closed

[2017-09-27 19:37] drasko commented on #147
Any news on this issue? This is highly needed feature.

[2017-09-29 12:54] mcollina commented on #147
Anybody that wants to send a PR?

[2017-10-04 11:46] syberkitten opened #157 "Implementing TTL for packets / topics - ways to go about"
As I understand there is no TTL for packets and topics
meaning that outgoing packets or subscribed topics will be left
for ever in the persistence layer if they are not delivered or unsubscribed
as such. (same goes for topics)

I wish to create a management layer for the persistency layer (or above it),
according to my defined rules, so that this layer is not
part of the broker and can run in a di

[2017-10-04 11:55] ckrey commented on #157
You may want to have a look at the upcomig [MQTT Version 5 specification](http://docs.oasis-open.org/mqtt/mqtt/v5.0/csprd01/mqtt-v5.0-csprd01.html)

with regards to their definition of
* Session Expiry Interval
* Publication Expiry Interval

[2017-10-06 13:38] syberkitten opened #159 "benchmarking - QoS 1/2 db streaming becomes burden when many packets are sent"
I've been testing Aedes using the [malaria benchmark](https://github.com/remakeelectric/mqtt-malaria),
and have some interesting results, that reflect
an interesting behavour.

the test entails sending 1k-10k messages from each process (starting with one)
and subscriber that expects these messages and measures the timing.

any QOS 1 or 2 publication / subscription makes the mongoDB
go crazy and lo

[2017-10-06 13:42] syberkitten commented on #159
These are the Malaria commands that makes both mongodb and nodejs
go into a slowhold ...

until it's like a slow motion repeat that never ends,
make sure to subscribe first and then using a different
terminal screen publish.

if you wish it to actually not fail, just reduce the qos to 1 or 0,
you will feel the enormous difference, including the output
of the mongodb log, which corelate.

Publish:

[2017-10-06 14:29] mcollina commented on #159
If you would like to send PRs to the various Mongo modules, it would be fantastic!

Unfortunately I won’t have availability to work on this for some time, but I can review PRs.

[2017-10-07 10:11] syberkitten commented on #159
@mcollina
Gladly! when i figure some things out first :)

When I publish 2000 message using the malaria testing (1000 messages for process)
**Qos 2 publish**
**malaria subscribe -n 1000 -N 2 --host localhost -q 2**
**malaria publish -t -n 1000 -P 2  --host localhost -q 2**

The 'outgoing' collection is left with: 48k documents (packets).
**The same test using QoS 1 publish ** - leaves: 52-54k pack

[2017-10-07 16:12] mcollina commented on #159
Would you like to send a PR to address those issues?

[2017-10-10 17:45] behrad commented on #157
@syberkitten You can also check current packet TTL implementation in [redis persistence](https://github.com/mcollina/aedes-persistence-redis)

[2017-10-22 05:11] alnikitich opened #161 "sender on authorizeForward"
I have one topic for send and receive data (for group of clients)
and i want skip my own pushes (sendede from client) in authorizeForward function:

skip message forwarding if senderId  == client Id
but i haven`t senderId data.
i`ve tried add senderId in authorizePublish function? but i can`t add my own data to pushed packet.

how i can do it !?
thank you ! !

[2017-10-26 06:41] mcollina commented on #161
This is not currently possible, the information is lost.
I would recommend you to not go into that path, but use a different topic for sending and one for receiving.

[2017-10-26 06:41] #161 closed

[2017-10-31 12:42] entcor opened #162 "aedes persistance and mq"
Hello!
When i use persistance and mq together like this:

[code]
I use mqtt.js as client.
My client  started on nodejs server.

my server not receive more then one push for one each topick from each client
and after it pushes have stoped.

when i remove mq or persistence form aedes config - everything work great.
I tried change persistence to mondodb persistence - i have this trouble too.

When i`

[2017-10-31 13:50] alnikitich commented on #162
i think it depends on multiple client subscription
i`m calling subscribe 3 times (for different topics)

[2017-10-31 18:23] mcollina commented on #162
I'm lost, can you provide a full example of what is not working?

[2017-11-03 16:10] muka opened #163 "clientError Cannot parse topic"
Hi,
I noticed a bunch of such issues in my logs but I cannot find the cause.
This issue come from `mqtt-packet`, the client provided by the callback has no id.

Do you have any suggestion to check for the cause?

[code]

Thank you

[2017-11-03 16:12] mcollina commented on #163
Your client is probably sending malformed CONNECT packets, so it does not have any id.

[2017-11-03 17:28] muka commented on #163
Ok will check in this direction! Closing for now

[2017-11-03 17:28] #163 closed

[2017-11-06 10:34] syberkitten opened #164 "Getting stack overflow when bulk subscribing"
Hi
we are using bulk subscribe to topic, which means it can be an array
of 1-3000 or more topics.

Aedes throws up this, will investigate and try to reproduce

[code]

[2017-11-06 12:19] syberkitten opened #165 "keep alive timeout exception"
Constantly getting this keep alive error:
[code]

will try decrease the heart beat interval and see if it makes any difference

[2017-11-06 12:47] GavinDmello commented on #165
what's the keepAlive on the mqtt client ?

[2017-11-07 09:56] mcollina commented on #164
Thanks! I think we just need to add a `process.nextTick` somewhere.

[2017-11-07 16:32] syberkitten commented on #164
Thing is that right now it's not repeating itself,
perhaps something else was wrong to stack up, I will report if it happens again...

[2017-11-07 16:41] syberkitten opened #166 "emitPacket sets retain = false, before emitting the event via on('publish')"
I'm hooking up to the aedes.on('publish') event,
and retain is always false.

I found this to be a behaviour in this code:
https://github.com/mcollina/aedes/blob/ecdd0cc03247febc46edbf5d0dbbc527ce5477ec/aedes.js#L149
[code]

Which seems peculiar since it changes the original state of the published message.

causing the emitted packets to always be retain = false,  while the original message
might

[2017-11-08 09:46] mcollina commented on #166
@syberkitten the `retain` property needs to be false when delivering the message by the spec. We can probably fix this behavior by setting `packet.retain = false` when a packet is received by an Aedes instance.

Would you like to attempt this fix?

[2017-11-08 09:47] mcollina commented on #164
Ouch, let us know

[2017-11-08 10:58] syberkitten commented on #165
The 'heartbeatInterval' is set to 30000

[2017-11-08 13:24] syberkitten commented on #166
@mcollina Are you referring to this spec guideline?:
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html
[code]

It becomes clearer that the distinction is such:

- if client A publishes a retained = 1 message while client B is connected, B should get this message as retained = false, because it got it directly.
- if client A publishes a retained = 1 message while client B is offlin

[2017-11-08 13:34] syberkitten commented on #166
Therefore If the broker .emit('publish') is used only for external layers (logging / api etc)
then it makes sense to leave the retained flag as it was passed by the publishing client.

On the other hand, if the broker .emit('publish') is used internally, we have a problem
as the architecture needs to support the above distinction (thus state of packet.retain changes)
when getting to the client if

[2017-11-08 17:48] mcollina commented on #166
then it makes sense to leave the retained flag as it was passed by the publishing client.

This is the case.

We are currently supporting the behavior described in the paragraph you are referring to. The retained flag is added when sending retained messages.

[2017-11-09 08:42] muka opened #167 "Question: forwarding selectively messages to clients from another broker"
Hi,
this is a question not really an issue. Hope this is ok to place it here also for future reference

I have an use case where I want `aedes` to forward messages from another broker, selectively forwarding messages based on some client details.

I would like to expose aedes to internet with custom auth/authz and send to specific clients only the messages that they can receive.

I have already im

[2017-11-09 11:20] muka commented on #159
I think this is related, at least in its setup. After a few days of usage we get out of memory error. (Do not know yet if it is related to mongodb driver only but surely RAM has gone)

[code]

[2017-11-09 11:45] syberkitten commented on #159
@muka
My tests revealed that mongo cannot be used with Aedes in production.
I was able to crash the whole system after 5 minutes of testing
as I've described. more so, the mongo store does not clean itself up,
and creates a lot of documents that are looked through each publish, making it slower and slower until crash.

The Redis persistence, except being faster and more suitable for storing keys a

[2017-11-09 13:09] muka commented on #159
@syberkitten thank you, I will switch to redis to try out, thank you for the feedback.

This issue is making the whole mongodb emitter useless, do you have a point in the codebase where to look for a PR ?

[2017-11-11 09:08] mcollina commented on #167
I am a bit lost, it’s not clear how you would like to achieve this.

I would also recommend that you should not violate the MQTT spec in your implementation.

[2017-11-13 13:33] muka commented on #167
When a msg from an internal broker is received it is published to aedes. On `authorizeForward` the client details (stored at login) are used to decide whether to allow or not the forward.

Do you see a violation of MQTT  spec in this approach?

Thank you

[2017-11-13 14:17] mcollina commented on #167
That would also be very slow, however it's probably the closest thing you can do to what you want to do.

[2017-11-13 14:51] muka commented on #167
I see, thank you

[2017-11-13 14:51] #167 closed

[2017-11-14 15:51] cordovapolymer commented on #165
I'm constantly getting the keepAlive timeout as well. It's normal when client has got a connection lag.

[2017-11-14 16:59] cordovapolymer commented on #137
@behrad any updates on this?

[2017-11-14 17:14] behrad commented on #137
busy these days...

[2017-11-14 17:14] behrad commented on #126
suspended until Ive free time to think more since this is a non-standard behavior

[2017-11-15 17:53] cordovapolymer commented on #162
@alnikitich , I have tried to reproduce your issue with the following code, by running `bombing.js` and `bombingQoS1.js`, `ping-pong.js` with `throughputCounter.js` and `throughputCounterQoS1.js` from [benchmarks](https://github.com/mcollina/aedes/tree/master/benchmarks)
And could not reproduce it.

@mcollina The only thing is that when I tried a extensive benchmark by launching 4 bombingQos1.js a

[2017-11-15 22:13] mcollina commented on #162
Does that happen without mqemitter-redis?

[2017-11-16 08:49] cordovapolymer commented on #162
@mcollina , no it doesn't, when you run it like this:
`var aedes = require('aedes')({persistence: aedesPersistenceRedis})`

Also when you run it without mqemitter-redis with concurrency: 0
`var aedes = require('aedes')({persistence: aedesPersistenceRedis, concurrency: 0})`
 , you get a `Maximum call stack size exceeded` in throughputCounter.js and throughputCounterQos1.js
:

[code]

[2017-11-16 14:53] mcollina commented on #162
Unfortunately I will not have time to look into this prior of mid-december :(. I'm sorry for any inconvenience.

[2017-11-20 02:04] arden opened #173 "How can i get mqtt Client instance from it's clientId?"
How can i get mqtt Client instance from it's clientId?

[2017-11-20 09:17] nguyenthenguyen commented on #173
You can get client from one eades instance. Ex:
[code]

[2017-11-22 10:02] mitsos1os opened #174 "Broker should store also subscriptions with QoS 0"
This is a port from the issue in mosca:
https://github.com/mcollina/mosca/issues/693

It should be adjusted accroding to MQTT spec here as well

[2017-11-23 17:46] cordovapolymer commented on #174
@mitsos1os , can you check if it now works with my patch?

[2017-11-29 11:52] mitsos1os commented on #174
I haven't really dealt with aedes in general (still using mosca), but I believe this should be enough for a fix.
However patches should be also made to other aedes repositories like: **aedes-persistence-level**, **aedes-persistence**

[2017-11-29 14:27] vladbabii commented on #173
I can confirm this works.

[2017-12-06 22:44] #173 closed

[2017-12-09 11:55] mcollina commented on #174
Yes they should. Would you like to send PRs?

[2017-12-14 16:05] psummo opened #175 "On reconnect: recive only new message"
I have the same problem that I had with mosca
The problem is:
On reconnect, client recive all message, also message that was already recived when client was online.
Example
**CLIENT A** & **CLIENT B** ONLINE
**CLIENT A** --> _SEND MESSAGE 1_--> **CLIENT A/B** REVICE MESSAGE 1
**CLIENT B** --> _DISCONNECT_
**CLIENT A**--> _SEND MESSAGE 2_--> **CLIENT A** REVICE MESSAGE 2
**CLIENT B** --> _RE CONNEC

[2017-12-15 08:01] mcollina commented on #175
Can you please add the client you are using for this?

[2017-12-15 09:16] psummo commented on #175
I use xamarin forms with package Mqtt from xamarin.

https://pastebin.com/xDR1RNfM

[2017-12-15 09:21] mcollina commented on #175
This does not publish the message.

Can you create a test case with MQTT.js or mqtt-packet? thanks.

[2017-12-15 11:20] psummo commented on #175
I'm not able to set a CLIENT ID so everytime I restart Subscription.js CLIEND ID change and I can't understand if function or not

[2017-12-15 11:43] psummo commented on #175
I try with this 2 simple Publisher.js and Subcriber.js and if
Subscriber is not launched and Publisher send messages, when Subscriber run I recive only the last message

Publisher
[code]
Subscriber
[code]

I don't know how to set persistance to subscription from MQTT.js so I need to subscribe client at every run

[2017-12-15 12:27] mcollina commented on #175
If you publish with retain, you will get the data at every subscription.
Il giorno ven 15 dic 2017 alle 12:43 Pierluigi Summo <
notifications@github.com> ha scritto:

[2017-12-15 12:40] psummo commented on #175
Retain is used for save the message in db?
But this MQTT.js situation is different.
On xamarin I do a persistent subscription and I don't do the subscription to the same topic. And I recive ALL topic message.
Here I try with
- persistance TRUE --> Recive only last message  when Subscriber turn online
- persistance FALSE --> Recive only last PERSISTANT message if there's any
In my case, in xamarin

[2017-12-15 12:43] mcollina commented on #175
publish with retain false, and set the clientId to the same value

[2017-12-15 13:01] psummo commented on #175
clientID?
I have only this 3 string

**Connection to broker**
` await emitter.ConnectAsync(new MqttClientCredentials(NickNameEntry.Text), null, false);`
First value) MqttClientCredentials(NickNameEntry.Text) is ClientID
Second value) MqttLastWill=null
Third value) cleanSession = false

**Subscribe to topic**
`await emitter.SubscribeAsync(RoomName.Text, MqttQualityOfService.AtMostOnce);`
First valu

[2017-12-15 16:20] mcollina commented on #175
`clientId` should be `NickNameEntry.Text`, but it should not change between connects.

[2017-12-15 16:23] psummo commented on #175
Ok, I try always with same nickname. I use and EditorText only for test on different device, but nickname not change. So I try only change retain to false.

[2017-12-15 16:38] mitsos1os opened #176 "aedes ready for mosca replacement?"
Hi, this is not an actual issue.
I just wanted to ask whether **aedes** is at a stable enough state to be used in production and replace **mosca**.

We currently use **[mosca](https://github.com/mcollina/mosca)** for a platform we are developing. I could say we are pretty happy with it and also performance wise (since we do not have such a big number of MQTT clients so that it hangs), it suits our

[2017-12-15 17:07] psummo commented on #175
Now at reconnect any message will publish. It's a Qos Problem?

[2017-12-15 17:12] mcollina commented on #175
what do you mean?

[2017-12-15 17:15] psummo commented on #175
I subscribe client with QoS = 0 and Publish with QoS = 1

[2017-12-15 17:16] mcollina commented on #176
It is written to be.

I do not feel comfortable in _fixing bugs_ in the Mosca codebase anymore. I cannot get the unit test suite to run on Node 8 or Node 9 for example.
If Aedes needs to be hardened to be brought to the same level, I'd recommend to send PRs to the various Aedes components to harden them. (MongoDB components are less stable than the redis ones).

[2017-12-15 17:17] mcollina commented on #175
You should be doing QoS 1 on both sides.

[2017-12-15 17:26] psummo commented on #175
Now with retain false, QoS = 1 publish/subscribe come again all message also if I have read it when I was online

[2017-12-15 17:27] mcollina commented on #175
is this happening without MongoDB?

[2017-12-15 17:29] psummo commented on #175
Nono mongodb is working, I search in it and subscription/outgoing/emitters exist and there are all data.

[2017-12-15 17:30] mcollina commented on #175
Try a) without MongoDB and b) with MQTT.js.

[2017-12-15 18:19] psummo commented on #175
without mongo on xamarin and on MQTT.js doesn't recive all message, doesn't recive any message.

[2017-12-15 18:22] mcollina commented on #175
Very likely you are doing something wrong. I would recommend you to read about the MQTT protocol and its configuration.

https://www.hivemq.com/mqtt-client-library-encyclopedia

[2017-12-15 18:45] psummo commented on #175
I have already read different thread (hivemq include). I don't think that was different

Server Aedes
[code]
Publish Client
[code]
Subscriber
[code]
If subscriber is online recive message without problem from publisher. If subscriber is offline and publisher publish something, on reconnect nothing will recive

[2017-12-15 18:47] mcollina commented on #175
you must pass clean: false to connect()
Il giorno ven 15 dic 2017 alle 19:45 Pierluigi Summo <
notifications@github.com> ha scritto:

[2017-12-15 19:18] psummo commented on #175
Ok now work. I think is a problem of client xamarin? Possible? I try with M2MTTQ that was described in hivemq and write here :) Thanks a lot @mcollina

[2017-12-16 16:42] mitsos1os commented on #176
Ok... thank you for your response

[2017-12-16 16:43] #176 closed

[2017-12-17 18:47] tripflex commented on #159
Forgive me if i'm off-base in this response, but maybe the mongo handling should be using capped collections like it does in ascoltatori https://github.com/mcollina/ascoltatori ?

https://docs.mongodb.com/manual/core/capped-collections/

Glad I came across this issue as my current Mosca setup uses MongoDB handling, and was looking at converting to use Aedes, but now it looks if I do plan that, I m

[2017-12-17 18:49] tripflex commented on #176
I was looking at this as well, switching from Mosca to Aedes, but I did find one issue regarding MongoDB that could be an issue with scaling if necessary later on:
https://github.com/mcollina/aedes/issues/159

[2017-12-17 22:52] syberkitten commented on #176
If It might illuminate certain corners, the limitation
of Aedes is mainly in the lack of clustering,
which in best of breed brokers (mostly in Erlang) is managed by dedicated actors
managing the communication between brokers, which is whole area
of work.

My redis implementation of Aedes (using the redis persistence) works well
up until the need to connect broker instances across datacenters.

Aft

[2017-12-18 08:18] mcollina commented on #159
@tripflex https://github.com/mcollina/mqemitter-mongodb is already using capped collections

[2017-12-20 10:10] psummo opened #177 "Publish only to other Subscriber"
It's possible to publish onlty to other Subscriber and not also to Client that send message?

[2017-12-20 10:18] mcollina commented on #177
no, MQTT 3.1.1 does not support that.

[2017-12-20 10:19] #177 closed

[2017-12-23 08:36] pysjp opened #178 "program will be exit when stream throws Error: write EPIPE"
Error msg as follows:

0|mqtt     | Error: write EPIPE
0|mqtt     |     at _errnoException (util.js:1024:11)
0|mqtt     |     at WriteWrap.afterWrite [as oncomplete] (net.js:867:14)

[2017-12-23 09:39] mcollina commented on #178
Can you reproduce? Can you upload a script so I can check what’s happening?

[2017-12-23 10:05] GavinDmello commented on #178
@pysjp @mcollina I think this happens while writing to dead connections.

[2017-12-23 10:08] mcollina commented on #178
are we removing an error handler too early? In which condition this happens?

[2017-12-23 10:17] GavinDmello commented on #178
@mcollina In my case it usually happened when sending packets downstream , but the process didn't exit . Maybe because I was listening to Aedes' error event.

[2017-12-23 10:19] mcollina commented on #178
would you attempt a fix?

[2017-12-23 18:06] GavinDmello commented on #178
Yes. Let me have a look

[2017-12-23 19:19] GavinDmello commented on #178
@pysjp How many clients are you trying to connect?

@mcollina <a>https://github.com/mcollina/aedes/blob/master/lib/client.js#L73 </a>
Could we attach this handler earlier  ?

[2017-12-23 19:43] mcollina commented on #178
Yes, we can move it before nextBatch()

[2017-12-24 03:04] pysjp commented on #178
[mqtt.js.zip](https://github.com/mcollina/aedes/files/1584586/mqtt.js.zip)
Thanks for your replys
@GavinDmello it may be 30K connections in one broker server，I use pm2 and it restart when attach this error。and all error logs as follows：
(node:17004) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 201 drain listeners added. Use emitter.setMaxListeners() to increase limit
(n

[2017-12-28 11:21] emilianobonassi opened #180 "Will message not removed from persistence after publish"
I'm experiencing this issue that it's causing db size to grow.

I see that in the client finish [logic](https://github.com/mcollina/aedes/blob/master/lib/client.js#L241) the **LWT** is not deleted.

The [spec](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/csprd02/mqtt-v3.1.1-csprd02.html) imposes it in the mandatory normative statement **MQTT-3.1.2-10**.

Is it a desidered behaviour or I'm missing s

[2017-12-28 11:59] GavinDmello commented on #180
@emilianobonassi what persistence are you using ?

[2017-12-28 13:55] emilianobonassi commented on #180
`aedes-persistence-redis`

[2017-12-28 16:13] GavinDmello commented on #180
Nice catch!

[2017-12-28 16:35] emilianobonassi commented on #180
Thanks @GavinDmello.

To be clear, the issue doesn't depend on the particular version of `aedes-persistence` used.

[2017-12-28 16:36] GavinDmello commented on #180
Yep. I can confirm that .

[2017-12-28 16:51] behrad commented on #180
👍

[2017-12-30 16:14] cordovapolymer commented on #178
@pysjp @mcollina Maybe the root of the issue is the same with https://github.com/mcollina/aedes/issues/162#issuecomment-344674189

[2018-01-02 11:38] #180 closed

[2018-01-02 12:04] mcollina commented on #178
Try 0.32.1 and let us know, it should fix it!

[2018-01-02 12:04] #178 closed

[2018-01-05 15:41] rahulbhanushali commented on #138
The places where error event is emitted passes **new Error()** object.
Changing it to literal objects will allow us to pass additional information along with error message.

@mcollina, do you think we can take this approach to emit error events ?

[2018-01-05 18:24] mcollina commented on #138
Absolutely not. But we can create custom errors and attach properties to those errors.

[2018-01-05 21:42] rahulbhanushali commented on #138
Alright.

Other approach would be to add required metadata to this error objects
instead of creating custom errors.

I don't see any additional benefits of custom errors since we are looking
to pass additional information and not do any customisations or call
functions.

On 05-Jan-2018 11:54 PM, "Matteo Collina" <notifications@github.com> wrote:

[2018-01-05 21:57] mcollina commented on #138
The only benefit is better typing for V8.

[2018-01-15 23:58] GavinDmello commented on #159
@syberkitten  I can't reproduce this issue in normal operation. The outgoing collection clears itself. I shall test this with malaria once, maybe it's something to do with the way malaria works.

[2018-01-16 15:13] GavinDmello commented on #138
@mcollina Here, I think client.id is null instead. We won't get the client Id till the connect arrives.

[2018-01-16 16:34] behrad commented on #138
Shouldn't we emit a generic error instead of clientError then? (let's define clientErrors as specific errors which must contain a client.id - assigned to some client) @mcollina

[2018-01-16 21:25] mcollina commented on #138
That might a good definition!

[2018-01-18 08:12] #175 closed

[2018-01-18 12:45] psummo opened #182 "Connection mqtt or websocket through apache proxy"
I try to open connection from my c# client to my Aedes broker, after set proxy on apache. What's the correct setting? over websocket I recive error about "Not client connection confirm recived", over mqtt crash for timeout.
[My Aedes Broker](https://pastebin.com/ZhRtFCNc)
[My Apache proxy settings](https://pastebin.com/R6LHwkEt)

I have proxy_wstunnel enable. I know that itsn't an Aedes problem, b

[2018-01-22 11:20] GavinDmello commented on #138
@behrad @mcollina Any of you guys working on this ?
If not, I could do it and we can close this issue.

[2018-01-22 11:37] mcollina commented on #138
go ahead, I'm not working on this.

[2018-01-22 11:44] GavinDmello commented on #138
Any ideas on what this generic error would be called ?

[2018-01-22 11:52] mcollina commented on #138
I would prefer if we always attach a client if one is not there (I assume we have a socket).

[2018-01-22 11:54] behrad commented on #138
However i think the value is in `client#id` not the client instance itself!
So if we don't know who is this error for, we shouldn't break `clientError` listeners' consistency with unknown clientIds

[2018-02-01 19:54] cordovapolymer commented on #182
@psummo try using [this solution](https://stackoverflow.com/a/35141086)

[2018-02-09 03:45] weiliudong opened #184 "aedes un abnormity"
I ran Aedes in my project. After a period of time, Aedes could only subscribe to not be able to publish messages to the client. I didn't find the reason for a long time after checking it for a long time. By checking Linux server memory, program process and a series of normal, I was very sad.
var aedes = require('aedes')();
var server = require('net').createServer(aedes.handle);
var port = 1883;
se

[2018-02-09 03:49] weiliudong commented on #184
I use the PM2 management program, I run PM2 restart after the broker can work

[2018-02-09 12:45] #138 closed

[2018-02-13 01:49] rclai opened #185 "authorizePublish doesn't do anything"
If I do this:

[code]

The `publish` event still gets called with the client published message.
[code]

[2018-02-17 15:37] cordovapolymer commented on #184
@weiliudong what version of node do you use?

[2018-02-20 12:54] izarraga opened #186 "source ip of client"
Is posible to see ip and port of client when connect ?

In autentication maybe it would be interesting.

[2018-02-21 09:31] mcollina commented on #186
The TCP socket (or TLS) is available at https://github.com/mcollina/aedes/blob/master/lib/client.js#L22. Would you mind sending a PR to update the docs?

[2018-02-23 13:10] izarraga commented on #186
It seems simple but I can not find the ip
console.log(require('util').inspect(client.conn, {showHidden: true, depth: null}));

[2018-02-23 13:12] mcollina commented on #186
@izarraga are you using TCP, TLS, WS or WSS?

[2018-02-23 13:14] izarraga commented on #186
TCP(internal) and TLS(external)

// SERVIDOR MQTT

var server = require('net').createServer(aedes.handle);
var port = 1883;

server.listen(port,"0.0.0.0", function () {
  console.log('server listening on port', port);
})

// SERVIDOR MQTT SOBRE TLS

var tls_options = {
    key: require('fs').readFileSync('/root/aedes/mqtt_server.key'),
    cert: require('fs').readFileSync('/root/aedes/mqtt_server.

[2018-02-23 13:19] mcollina commented on #186
`client.conn` will be an instance of https://nodejs.org/api/tls.html#tls_tlssocket_remoteaddress should contain the information.

[2018-02-23 20:39] izarraga commented on #186
Thanks, is OK
client.conn.remoteAddress

[2018-02-23 20:48] #186 closed

[2018-02-26 06:53] Domvel opened #187 "Improve and add more examples"
The documentation is not clearly how to create a instance of aeded and subscribe a channel.
Please improve the example with a simple subscripte.

Client side:
[code]

How to setup the server side to get the message?

PS: I like this software. A lightweight fast installed mqtt broker for node js. 👍

[2018-02-26 07:03] Domvel commented on #187
Here's are suggestion of a new extended example:

[code]

[2018-02-26 07:18] Domvel commented on #187
Another (dirty) example of conversation:

`Server`
[code]

`Client`
[code]

[2018-02-26 07:39] Domvel commented on #187
A simple login / authentification:

`server`
[code]

`client`
[code]

Not handled: Errors on `not authenticated`.

I'm new in mqtt. How to secure a login? / What's the best way to do this?

[2018-02-26 08:40] mcollina commented on #187
Would you like to send a PR with a new `.md` file to guide through some common use cases?

[2018-02-26 08:41] mcollina commented on #187
What do you mean? This is a username-password combination and there is a ton of literature on this on the web.

[2018-02-26 08:45] Domvel commented on #187
I could write some examples. But I'm a completely newbie with MQTT. 😄
Maybe I would be better from a pro. I'm not sure when and how to use mqtt in the future.
But I will see ...

[2018-03-01 02:35] weiliudong commented on #184
The node environment for the server running is v8.9.4,The version of PM2 is 2.9.1,Are you suspicious of these problems in my present environment?

[2018-03-01 03:15] weiliudong commented on #184
@cordovapolymer Currently updated to aedes@0.33.0,Do it run for a period of time to see if it will be reproduced.

[2018-03-03 15:04] CyanoFresh opened #188 "Clients are not notified about server disconnect on process terminate"
Hello. I am using this library with websocket stream for browser clients. Thanks for your work, all works properly but I found this problem on production server (ubuntu 16.04):
1. Server (mqtt+websocket) starts
2. Client connects to mqtt, subscribes to topics, etc.
3. Server process is terminated (Ctrl + C or other)
4. Client is not notified about it (disconnect event) and says that connection is

[2018-03-03 15:25] GavinDmello commented on #188
Have you tried the `offline` and  `close` events from mqtt.js  ?

[2018-03-03 16:31] CyanoFresh commented on #188
Browser (mqtt.js) clients are working fine. MQTT clients don't receive this events

[2018-03-03 16:40] CyanoFresh commented on #188
Sorry, there is a bug in my mqtt client (mqttfx)

[2018-03-03 16:40] #188 closed

[2018-03-05 08:29] #184 closed

[2018-03-05 08:35] weiliudong opened #189 "Aedes agent message sent to the terminal confirmation"
Hello everyone
  I put up a Aedes agent on the server side. I want to know from the agent whether the message has been sent to the terminal device. What is the way to get the confirmation message directly?

[2018-03-05 10:04] weiliudong commented on #189
From this website, https://github.com/mcollina/mosca/wiki/Mosca-advanced-usage can find Mosca's message confirmation, but in Aedes API, I can't find which one. Does Aedes have this event?

[2018-03-05 10:11] mcollina commented on #189
There is an `'ack'` event for QoS 1 and Qos 2 messsaged.

[2018-03-05 10:11] #189 closed

[2018-03-13 08:27] DayTimeDreamer opened #190 "How about mosca and aedes?"
Hi, We are developing an IM APP using mosca, but it has some issues. Will aedes be better than mosca?

[2018-03-13 08:56] behrad commented on #190
Aedes' design is improved

[2018-03-13 09:00] DayTimeDreamer commented on #190
Our project will be delivered at the beginning of next month. Could give me an example that how to set up a server with mongodb please? Thank you!

[2018-03-15 08:59] behrad commented on #190
You can find samples in aedes-persistence-mongo repo

[2018-03-17 03:27] bobvanluijt opened #191 "How to get username and password in authorizeSubscribe function?"
Is it possible to get the username and password in the `authorizeSubscribe` function?

Reason for asking is that I want to validate if somebody has access to publish or subscribe based on the username and password used to authenticate.

[2018-03-17 07:28] mcollina commented on #191
you will need to store them somewhere (Attach them to the client maybe) during the authentication call.

[2018-03-17 07:28] #191 closed

[2018-03-21 06:34] DayTimeDreamer commented on #190
Is aedes ready for production ? @behrad

[2018-03-21 06:57] behrad commented on #190
I can't tell for mongo-persistent, but for the Redis one YES

[2018-03-28 15:33] urmik opened #192 "100% CPU and server crashes after connecting 9k clients with each publish 1 msg/s"
Hello,

I have default latest aedes server installed on my Ubnutu machine.
From client side,
1) There are multiple concurrent connections with each sending 1 message/sec to a particular topic.
2) I am also trying to subscribe to same topic from another single connection.
It works well till 8K or 9K connections with each sending 1 message per second and one subscriber to same topic,
But more than 9

[2018-03-28 15:45] GavinDmello commented on #192
What's the configuration of your machine?
Maybe you're running out of socket descriptors. You may have to look at the memory and the socket states while testing.

[2018-03-29 14:24] urmik commented on #192
Thanks for reply.
Please find my below machine configuration:
Ubuntu 14.04 server
RAM 16 GB
NodeJS - v9.8.0
npm - 5.7.1
aedes - 0.33.0

ulimit -n 1024000
net.core.rmem_default = 212992
net.core.rmem_max = 212992
net.core.wmem_default = 212992
net.core.wmem_max = 212992

net.core.rmem_default=536870912
net.core.wmem_default=536870912
net.core.rmem_max=536870912
net.core.wmem_max=536870912

net.ipv4

[2018-03-29 15:58] GavinDmello commented on #192
Could you upload the client and simple server script that you are using? It would help in figuring out what's going on.

[2018-03-30 08:25] urmik commented on #192
I have been testing with following benchmark script from my other LAN system

https://github.com/emqtt/emqtt_benchmark

 ./emqtt_bench_sub -h 192.168.0.161 -p 1883 -c 1 -i 10 -t topic
./emqtt_bench_pub -h 192.168.0.161 -p 1883 -c 10000 -I 1000 -t topic -s 256

My server side code is
[code]

I have also tried to developed my own  benchmark script using MQTT.JS

Publisher script

[code]

Subscriber

[2018-03-30 17:05] GavinDmello commented on #192
Assuming you're using the Erlang scripts, your setup looks good.
I don't really have the equipment to reproduce this. Maybe @mcollina could help.
There are a few synchronous functions we could use with fast parallel but apart from that, I don't really see what could be a bottleneck with QoS 0.

[2018-04-02 09:28] urmik commented on #192
Thanks.
How many concurrent connections Aedes should handle with this configuration machine? Or what is your max number with your benchmark testing with pub/sub messages?
Do i need to take care anything else while deployment to achieve more concurrency and high message rate?

[2018-04-09 11:28] urmik commented on #192
I want to use aedes in production. 50K IDLE concurrent connections using single process are fine but how can I achieve rate around 50K pub/sub messages per sec?
Can you guide me? or It is not possible using single aedes process?

[2018-04-09 11:39] behrad commented on #192
I'm afraid you can't with one Aedes instance
I suggest you to first establish idle 50K connections, then increase publishing (QOS=0) rate to see how much it goes up. we would like to hear your number :)

Then add a few extra Aedes instances using cluster or pm2 module and re-run your tests, then calculate Aedes scalability factor.

[2018-04-10 11:03] GavinDmello commented on #192
@urmik  I would suggest going for mqemitter redis.

[2018-04-10 22:34] behrad commented on #192
mqemitter-redis OR mqemitter-cs

[2018-04-11 06:41] urmik commented on #192
I have started two aedes instances with mqemitter-redis using pm2.
I am using redis version 3.2.6.
I have tried to implement same test case again
- I have created 45K connections from 3 different machines, each machine holds 15K connections. I checked that connections handle in round robin fashion between two instances(each machine holds 22.5K connections).
- After few minutes I have started publi

[2018-04-11 11:56] ahmadalli opened #193 "server crashed on a few minutes of high load with Maximum call stack size exceeded error"
I've tried to have 2000 users subscribing to 200 channels and publishing on those channels. After a few minutes, the server crashes with ` Maximum call stack size exceeded` error:

[code]
this is my test file:
[aedes-test.zip](https://github.com/mcollina/aedes/files/1898648/aedes-test.zip)
I run `server.js` first (I have redis up with it's docker image having 2GB memmory `docker run -d -p 6379:637

[2018-04-11 12:00] ahmadalli commented on #193
also, I observed server memory usage increasing as the time passed. I'm not sure whether it's a memory leak or it's normal. but if I didn't have enough memory, the server would close with this error:
[code]

[2018-04-11 12:26] nadalizadeh commented on #193
I have also executed the test on a MacOSX, there seems to be a memory leak somewhere, the server increased the memory with each batch of test clients and finally crashed with the following backtrace:

`<--- Last few GCs --->

[3489:0x102801600]   464142 ms: Mark-sweep 1402.9 (1446.8) -> 1402.9 (1445.8) MB, 2026.1 / 0.0 ms  (+ 0.0 ms in 0 steps since start of marking, biggest step 0.0 ms, walltime

[2018-04-11 14:37] behrad commented on #193
@ahmadalli Can you run the same test with your server.js configured with mqemitter-redis instead of the default emitter and see if the same happens?

[2018-04-11 20:59] ahmadalli commented on #193
@behrad yes. this happens again. see the code: [aedes-test.zip](https://github.com/mcollina/aedes/files/1900511/aedes-test.zip)

this time with this error:
[code]

[2018-04-12 08:58] behrad commented on #193
Please post the sample code formatted in github markup, instead of a zip file. Thats makes it easier to move on.

[2018-04-12 09:32] ahmadalli commented on #193
this is my server (with redis emitter and redis persistance)
[code]

and this is my load-test:
[code]

I'll try to fix the redis issue and report back again

[2018-04-12 09:51] ahmadalli commented on #193
I'm getting `subscribe scheduled to be closed ASAP for overcoming of output buffer limits.` in redis for the emitter redis while the client type is `Normal` and there's no limitations for normal clients in configs.

[2018-04-12 09:54] behrad commented on #193
Are you seeing this in your redis console? Strange!
is that a cloud redis instace or a standalone local one?

[2018-04-12 10:06] ahmadalli commented on #193
it's local server

[2018-04-12 19:43] behrad commented on #193
Check if these helps:

https://stackoverflow.com/questions/32879499/redis-replication-and-client-output-buffer-limit

https://groups.google.com/forum/#!topic/redis-db/LHnNzDU4C-0

[2018-04-18 06:11] urmik commented on #192
@behrad Did I miss any mqemitter-redis related settings? Can you guide me to achieve maximum rate with scaling aedes instances?

[2018-04-18 18:52] behrad commented on #192
Can you post your setup code so that we can run your clients and server?

[2018-04-19 09:14] urmik commented on #192
Server Side

[code]
Client Subscribe Script

[code]
Client Publish Script

[code]

To publish messages in increasing mode, connect client to aedes server
Publish message {"noOfPub":100} on "PubControl" topic. it will start first 100 client to publishing msg/sec
Publish message {"noOfPub":1000} on "PubControl" topic. it will increase from 100 to 1000 client to publishing msg/sec
Publish message {"n

[2018-05-02 07:50] muka opened #194 "v5 support"
Hi
I am wondering if anybody has started taking a look at MQTT v5 specs.  Is there someone working on that or would like to work on the implementation?

May be good to work in parallel on MQTT.js also, which shares some packages with aedes

A few resources to crunch n the meanwhile

- specs http://docs.oasis-open.org/mqtt/mqtt/v5.0/mqtt-v5.0.html
- new features for humans https://dzone.com/article

[2018-05-02 07:54] mcollina commented on #194
I have absolutely no time for that. However, yes it would be fantastic (I would start with MQTT.js first).

[2018-05-02 08:07] muka commented on #194
OK thanks,
so I may create a sibling issue there and eventually attempt to list the new protocol features as a checklist?

[2018-05-02 08:19] mcollina commented on #194
Go ahead.

[2018-05-07 11:30] urmik commented on #192
@behrad did you get a chance to run above code?
I have also tried with my custom mqemitter-rabbitmq where i got rate little more than mqemitter-redis.
But as I mentioned above, with one aedes instance i can get rate around 13 K msg/s and with two aedes instance i should get rate around 25 K msg/s. Did I miss anything?

[2018-05-07 18:10] behrad commented on #192
I don't think RabbitMQ is faster than Redis pub/sub!
And bottleneck should be aedes process itself not pub/sub backends.

[2018-05-10 08:33] lgomez opened #195 "Message preprocessing/validation"
Hi,

Is there a recommended way to handle message validation and/or transformation? I was trying the authorizePublish and Forward functions but not sure this is meant to be used that way.

Thank you

[2018-05-10 12:47] mcollina commented on #195
Using `authorizePublish`  is ok.

[2018-05-10 12:47] #195 closed

[2018-05-17 19:57] bsommardahl commented on #146
@mcollina Do you mean that clustering will automatically work as long as the brokers are all using the same external database?

[2018-05-17 23:13] GavinDmello commented on #146
@bsommardahl  Yes.

[2018-05-19 14:07] bsommardahl opened #197 "Argument of type '"publish"' is not assignable to parameter of type '"clientError" | "connectionError"'."
I'm using TypeScript and I'm getting the following errors when compiling:

[code]
and
[code]
I checked `index.d.ts` and sure enough, "publish" and "subscribe" are not defined as options. I'll try to fix this right now and submit a PR.

[2018-05-19 23:33] drasko opened #199 "Forcing empty topic in `onAuthorize()`"
@mcollina forcing `packet.topic = ''` in `onAuthorize()` seems to be preventing any publish, but no error is printed.

I was expecting that the check in `handlePublish()` will get this (https://github.com/mcollina/aedes/blob/master/lib/handlers/publish.js#L22), however it is not the case.

We are trying to find the best way to send a message to other service without publishing it to local MQTT cli

[2018-05-20 00:01] drasko commented on #199
Actually, I can see here that `autorizePublish()` is called after these check of topic length: https://github.com/mcollina/aedes/blob/master/lib/handlers/publish.js#L36. So this can probably explain why there are no errors when `packet.topic` is forced to empty string in `onAuthorize()`.

However, I am failing to see what happens after, and why there are no errors reported...

[2018-05-21 11:44] mcollina commented on #199
It's definitely not safe to do, and it should error (but currently it doesn't). I do not think we are revalidating the topic after it has been altered.

I do not think this feature is achievable (publish remotely but not locally) without some change to aedes. However it'd be a nice addition. This is typically called bridge protocol (see https://github.com/mqtt/mqtt.github.io/wiki/bridge_protocol a

[2018-05-21 12:57] drasko commented on #199
@mcollina our idea was not to send messages to another MQTT broker, but to some other (arbitrary service) and use Aedes purely for device connectivity over MQTT.

Then after some processing, messages will be sent back to Aedes, and only then sent to all Aedes clients.

You can see our implementation here: https://github.com/mainflux/mainflux/blob/master/mqtt/mqtt.js

How something like this can be

[2018-05-23 00:42] bjyurkovich opened #200 "Negated subscription still delivered on retained message [question/discussion]"
This may be a misunderstanding on my part or just a stupid error, and would like some clarification before solidifying [this](https://github.com/bjyurkovich/aedes-authorization-plugin), so I wanted to bring this up as more of question/discussion than call out a bug from the start...

Given a server implementation that looks like this:

[code]

I found found that if the subscription is negated as s

[2018-05-23 06:05] mcollina commented on #200
This looks like a bug to me. Would you like to send a PR?

[2018-06-03 13:05] behrad opened #203 "Authentication Client Errors"
Aedes is not emitting mqtt connect errors like authentication errors: https://github.com/mcollina/aedes/blob/275bda32461ea8053c8610b8a3e5b6f0f838f1b6/lib/handlers/connect.js#L67-L83

How is this supposed to be done @mcollina ?
I'm suggesting emitting `clientError` with the specific error.

[2018-06-03 14:35] behrad commented on #203
Apps may want to log `not authorized` events...

[2018-06-03 15:21] mcollina commented on #203
Ok, would you like to send a PR for that?

[2018-06-07 09:50] #203 closed

[2018-06-22 07:19] rafsawicki opened #205 "Typescript definitions - move type definitions to separate file?"
Because type definitions use export assignment, it's not possible to use any of the types explicitly. However, if classes and interfaces were moved out to separate file, it would be possible - although it a bit of a non standard way.

As an example, it could look something like this:
types/index.ts
[code]
types/aedes.d.ts
[code]
package.json
[code]

It could then be used like this:
[code]

I don't

[2018-06-22 08:07] rafsawicki commented on #205
After more digging I found [this template](https://github.com/Microsoft/TypeScript-Handbook/blob/master/pages/declaration%20files/templates/module-function.d.ts.md) which is way better way to achieve explicit typing with a single file. I'll close this issue and try to use an approach from this template.

[2018-06-22 08:07] #205 closed

[2018-07-13 13:20] num-lock opened #207 "Topic rewrite on forward gives weird behavior"
I am trying to implement something like namespaces within my broker implementation.

* two clients (c1, c2) in first namespace (n1)
* two more clients (c3, c4) in second namespace (n2)

The mapping is done via client id, e.g. `f(c2)=n1`.

On `authorizePublish` and `authorizeSubscribe` I prepend the namespace to the topic, e.g. c1 publishes to `test/a` the topic gets rewritten to `n1/test/a`. Same

[2018-07-13 13:42] num-lock commented on #207
Since the same packet object seems to get passed around synchronous on each forward in a sequential way I implemented this quick fix in my code:

[code]

Still not sure if `authorizeForward` is supposed to behave this way.

[2018-07-17 15:42] v-divya110 opened #208 "Aedes publishes with QoS 2 when the client is subscribed with QoS 1"
Consider a client A which is subscribed to a topic T at QoS 1, and let client B publish a message to topic T at QoS 2, Aedes publishes the message to client A with QoS 2.

Based on the MQTT spec:
The subscription QoS gives the maximum QoS level at which the Server can send Application Messages to the Client."

3.8.4 provides non-normative examples here: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/

[2018-07-17 16:46] mcollina commented on #208
This is a bug, as we are downgrading to QoS 0 effectively (see https://github.com/mcollina/aedes/blob/master/test/qos2.js#L180-L210). Would you like to send a PR?

[2018-07-18 07:53] mcollina commented on #207
Something that you can do in `authorizeForward` which will be the best behavior is to produce a new packet using https://github.com/mcollina/aedes-packet.

Let me know how this goes.

[2018-07-20 09:35] num-lock commented on #207
I think my problem really comes from a misunderstanding in the purpose of this function, or rather a misuse for my use-case. For example when there are no subscribers to a topic and only publishers `onForward` does not get called. Thinking about this makes sense. When there are subscribes it gets called. If I create a new packet or manipulate the given one, either way the side effect I introduce h

[2018-07-20 09:35] #207 closed

[2018-07-26 00:38] CyanoFresh opened #209 "Aedes vs mosquitto"
Hi. What differences (benefits) between them? I found 2 years old issue for mosca, but maybe something changed.

[2018-07-27 18:02] mcollina commented on #209
One you can embed in a Node.js application, being it written in JS. Also, the scalability model of Aedes and Mosca is horizontal.

[2018-07-28 07:24] v-divya110 opened #210 "Send puback even if publish is not authorized in authorizePublish"
According to the MQTT spec _If a Server implementation does not authorize a PUBLISH to be performed by a Client; it has no way of informing that Client. It MUST either make a positive acknowledgement, according to the normal QoS rules, or close the Network Connection [MQTT-3.3.5-2]_
It seems like Aedes conforms to the latter by closing the network connection, this makes the client to reconnect con

[2018-07-28 16:10] mcollina commented on #210
There is none in MQTT 3.1.1.

[2018-07-28 16:10] #210 closed

[2018-07-29 01:53] CyanoFresh commented on #209
thank you

[2018-07-29 01:53] #209 closed

[2018-08-02 10:14] Ostafen commented on #208
I have a similar problem. Messages delivered with QOS 2 are sent more than once, while QO1 behaves like QOS2

[2018-08-06 17:08] mhverbakel opened #211 "[SECURITY] Last will messages is not checked against authorization."
The LWT is not checked for authorization.

Simple example:
[code]

Now, from a client, connect and subscribe to "will".

From another client, connect with a last will message with topic "will". Then send a message to "test", breaking the connection (because of authorization failure).

Breaking the connection will trigger the LWT, and thus sends a message to "will", which can be seen in the other c

[2018-08-06 18:04] mcollina commented on #211
Would you like to send a PR for this? For future reference, it’s better to send security vulnerabilities privately.

[2018-08-06 18:08] mhverbakel commented on #211
When should the authorization be checked then? During connect, or once the connection is broken? In the latter case, what happens if the authorization fails? Will it just ignore the message.

And if it checks during connect, what should happen if the authorization fails? Break the connection immediately? Remove the last will? And if it breaks, does it need to send anything?

[2018-08-06 18:11] mcollina commented on #211
Check when the connection is broken, and if it does not pass authorization it’s just silently ignored.

IMHO it’s the best way because authorization between connection and disconnection might change.

[2018-08-07 07:12] #211 closed

[2018-08-17 13:31] crazybg321 opened #214 "LWT stored on connect packet"
The LWT for a client is stored on the server when a connect packet is received, while it should be stored when authenticate is resolved successfully. Storing it on the connect packet results in an unintended behavior. For example, if a client tries to connect but authentication is not resolved within the client's connection timeout, the LWT is still sent.

[2018-08-17 15:55] mcollina commented on #214
Would you like to send a PR for that?

[2018-10-15 22:31] nospam2k opened #218 "Node red - Connection failed to broker"
I can't seem to connect to Aedes. MacOS Mojave. Node.js 10.12.0.

Mqtt code as function in Node-red:
var aedes = global.get('aedes');
var net = global.get('net');
var port = 1883
var server = net.createServer(aedes.handle);

server.listen(port, function () {
    console.log('server listening on port', port)
})

Using an MQTT node I get "Connection failed to broker: MQTT://server:1883"

Is there a

[2018-10-16 06:51] mcollina commented on #218
I think you might put the IP address in place of ‘server’ in node-red.

[2018-10-16 06:51] mcollina commented on #218
I think you might put the IP address in place of ‘server’ in node-red.

[2018-10-16 13:10] jimmywarting opened #219 "Use native Object.assign instead of xtend"
[xtend](https://github.com/Raynos/xtend) can easily be replaced with [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign)

This reduce the dependencies and possible also avoid duplicated versions where some package don't use the same version range for the xtend package

[code]

[2018-10-16 13:38] jimmywarting commented on #219
sure

[2018-10-16 15:19] nospam2k commented on #218
I did use the ip as well. This works just as a node.js script. Just not in node-red.