[2018-10-16 15:57] mcollina commented on #218
How are you connecting to the server?

Try:

[code]

Maybe there is an error when listening.

[2018-10-16 16:09] nospam2k commented on #218
Node-red:
16 Oct 09:07:14 - [info] Starting flows
16 Oct 09:07:14 - [info] Started flows
16 Oct 09:07:14 - [info] Server now running at http://127.0.0.1:1880/
server listening on port 1883

Mosquitto:
mosquitto_sub -d -v -h 127.0.0.1 -t '#'
Client mosqsub|891-daf sending CONNECT

But running as node.js:
node aedes-mqtt-broker.js
server listening on port 1883

mosquitto_sub -d -v -h 127.0.0.1 -t '#

[2018-10-16 16:15] mcollina commented on #218
I think it's related to node-red, not this module.

[2018-10-16 16:15] #218 closed

[2018-10-16 16:17] nospam2k commented on #218
I agree. But Mosca seems to have a few outdated vulnerable dependencies and their seems to be no other option for mqtt broker in node-red. It would be nice to get this to work if possible.

[2018-10-16 17:18] nospam2k commented on #218
I'd like to continue debugging this if you might help. It seems like net is returning the packet into node-red but aedes.handle isn't working.

Here is what server.listen is returning:
Socket {
  connecting: false,
  _hadError: false,
  _handle:
   TCP {
     reading: true,
     onread: [Function: onStreamRead],
     onconnection: null,
     [Symbol(owner)]: [Circular] },
  _parent: null,
  _host:

[2018-10-16 18:44] nospam2k commented on #218
Ugh, very painful lesson. Must use:
 var aedes = global.get('aedes')();

vs.
 var aedes = global.get('aedes');

All about the parenthesis at the end!

[2018-11-12 07:10] nuhamind2 opened #221 "instance.subscribe match $SYS topic"
instance.subscribe with '#' topic match $SYS
related #135

Even without connected client, it will match it's own heartbeat

Test code:

[code]

[2018-11-28 02:55] tonylin0826 commented on #137
Any updates? Or any work around?

[2018-12-25 15:53] behrad opened #222 "WebSocket origin"
How can I get to the request's origin (domain name) on a WebSocket connection @mcollina ?

[2018-12-25 15:56] mcollina commented on #222
You can definitely access that by exploring the stream chain. I don’t have an example, and it would be extremely good to document.

[2019-01-03 16:32] xushunke opened #223 "server side common situation 4 mqtt"
considering the server side, is there any way 2 make aedes work like this? or i need 2 implement this by myself?
![_15465326837023](https://user-images.githubusercontent.com/8627326/50649186-3048fe80-0fb8-11e9-9085-23c0f94b18d5.png)
![_15465326899493](https://user-images.githubusercontent.com/8627326/50649190-3343ef00-0fb8-11e9-9fac-92caa435b3ee.png)

[2019-01-03 16:32] xushunke commented on #223
i mean the second one

[2019-01-03 16:35] mcollina commented on #223
You'll need to implement this by yourself, as that behavior is not part of MQTT 3.1.1. It's part of the MQTT 5 spec, which Aedes do not implement.

[2019-01-03 16:35] #223 closed

[2019-01-14 08:40] benjamin658 opened #225 "Two-way TLS authentication"
I'm trying to implement the authentication method on the serve,
according to the document,  it only shows  that how I can authenticate a
client by its username and password.

`instance.authenticate(client, username, password, done(err, successful))`

Is it possible to authenticate client with two-way TLS authentication?

[2019-01-14 10:21] mcollina commented on #225
You have to do that at TLS layer: https://nodejs.org/api/tls.html.
It would be good to have a good guide on that topic to link to.

[2019-01-15 16:10] xushunke commented on #223
i am looking 4 a way 2 implement this feature,but nothing elegant found.can u give me a direction? pls.@mcollina

[2019-01-16 10:01] xushunke opened #226 "Feature about server side availablilty"
I am looking 4 a way 2 implement this feature,but nothing elegant found.I know its part of MQTT5 spec.
Considering the server side,without this feature,i have 2 make A(only one) new service 2 transfer the msg 2 the MQ which dispatch the msg 2 each server(consumer).However,as u can see ,the new service will be A weakness of availablilty obviously
can u give me a direction? pls

![](https://user-ima

[2019-01-17 09:14] MrSpark2591 commented on #190
@behrad now is it production ready for mongo-persistent?

[2019-01-17 15:12] behrad commented on #190
I am not using mongo-persistent @MrSpark2591

[2019-01-18 07:45] mcollina commented on #190
I fixed a memory leak recently.

[2019-01-20 18:33] GavinDmello commented on #219
Closing since #224

[2019-01-20 18:33] #219 closed

[2019-01-25 10:13] MrSpark2591 opened #228 "Support of Shared Subscriptions"
I was reading article and found out [this article](https://www.hivemq.com/blog/mqtt-client-load-balancing-with-shared-subscriptions/)
Can it be done in this package ?
Or is there any other way we can achieve such scenario?

[2019-01-25 10:22] mcollina commented on #228
Not at this point, you’ll have to code/provide that yourself.

[2019-01-28 06:36] MrSpark2591 commented on #228
I found out that we will need multiple changes for the support.

1) Multiple client session. currently only one client is allowed to connect to broker with that client id.
2) Mqtt.js support of v5 currently [under development](https://github.com/mqttjs/MQTT.js/issues/651).

I wil try if i can get any work around for this. let me know if i am missing anything here.

[2019-01-28 06:37] mcollina commented on #228
The work on aedes is not in progress at all.

[2019-01-28 06:54] MrSpark2591 commented on #228
Is it due to support of mqtt or you need more maintainer to get it going? if anyways I can help let me know.

[2019-01-28 07:17] mcollina commented on #228
I have no time to implement this at the moment.

[2019-02-02 16:05] GavinDmello commented on #174
@mitsos1os This can be closed with the latest changes on aedes-persistence-mongodb. I don't think this should happen with other persistences. Feel free to reopen just in case.

[2019-02-02 16:05] #174 closed

[2019-02-07 09:56] avanderpluijm commented on #190
Does this mean that aedes is preferred over mosca for a new project? (is/will mosca deprecated?)

[2019-02-08 16:20] MikyWoW opened #230 "Http cookies over websocket"
Is there build in access to cookies in aedes.authenticate when is websockets used? I didnt found it.

I have plan to use mqtt in website without javascript have to touch session ID (http only).

My solution for PHPSESSID:
[code]

[2019-02-11 10:22] GavinDmello commented on #208
This bug should be solved with #229.

[2019-02-11 10:22] #208 closed

[2019-02-13 16:18] GavinDmello commented on #166
@mcollina We could circumvent this issue by creating a new object and calling `emitPacket` and passing the original packet down to `callPublished`.  I believe I had suggested something similar before.

[2019-02-13 17:05] mcollina commented on #166
I think this issue can be closed, it was open in 2017. We can reopen if it's still an issue.

[2019-02-13 23:01] GavinDmello commented on #166
Fair enough. Closing this. @syberkitten feel free to reopen if it's still an issue.

[2019-02-13 23:01] #166 closed

[2019-02-14 21:02] mbrukman opened #231 "Possible bug on conn.destroySoon() vs. conn.destroy() in lib/client.js"
In [`lib/client.js`][lib-client-js], we see the following block of code:

[code]

which is confusing, because the second `if` statement is in a position where it should be `else if` but it's written as a straight `if`, so it's possible that the object can call both `conn.destroySoon()` as well as `conn.destroy()`, and they're not mutually exclusive.

It seems that only one of those should be true,

[2019-02-14 22:22] mcollina commented on #231
Likely! How did you spot this?

[2019-02-14 22:28] mbrukman commented on #231
Just browsing through the code, and noticed this as being slightly strange/unexpected.

[2019-02-17 00:34] GavinDmello commented on #137
Hey @ckrey I was looking to reproduce this issue, but could not.
I was using the mqtt-connection library by @mcollina to do this.

Here's my client code

[code]

As you can see I don't respond with a pubrel to the pubrec. The broker does not seem to respond with a another pubrec if not provided a pubrel in my case.

Could you provide the client code for the same or confirm if this issue is still h

[2019-02-17 18:35] ckrey commented on #137
I tried the same test case as in July 2017 with aedes@0.36.0

The problem does not occur anymore

[2019-02-17 18:36] #137 closed

[2019-02-26 12:30] boomfly opened #234 "Client Publish Rate Limit"
How to implement client publications rate limit to prevent ddos attacks on broker and other client.

[2019-02-26 14:47] mcollina commented on #234
You might want to check out https://github.com/fastify/fastify-rate-limit, as it implements a similar concept.

[2019-02-26 15:40] #234 closed

[2019-03-01 17:23] GavinDmello commented on #165
@syberkitten Closing this for now. Reopen if needed.

[2019-03-01 17:23] #165 closed

[2019-03-17 17:43] kaido42 opened #235 "subsbribe to '+'"
I expected to receive only one-level topics when subscribing to '+'.
Seems to be working this way with mosquitto.

However, with aedes I'm receiving messages only from *two-level* topics, ie in format 'foo/bar', but not from single-level topics like 'foo' ..

Do I understand the meaning of + topic incorrectly, or is there a bug somewhere?

[2019-03-18 07:40] kaido42 commented on #222
in authenticate callback the client.conn.socket._socket.servername looks like domain name ...

[2019-03-21 21:00] namgk opened #236 "Reuse existing websocket server: which path?"
Hi there,

It seems _websocket-stream_ doesn't have the notion of path? I was using vanilla ws module from nodejs and I can create a websocket at a specific path, says

    /webserver_socket

Now I want to incorporate mqtt over websocket to the same server, so I want it to be on another path, says

    /mqtt_socket

How do I work this out?

For the original mosca project, I can do things like:

[2019-04-10 20:29] kaido42 commented on #235
there seems to be something else wrong with + matching

when subscribing to topic '/+/kala/kala/kala', I receive messages from topics like 'foo/bar' .. how come?

[2019-04-12 11:50] GavinDmello commented on #235
@kaido42 Can you add a script to reproduce the issue ?

[2019-04-17 20:04] kaido42 commented on #235
It seems I'm barking under the wrong tree here. Looks like the actual culprit is aedes-persistence-nedb

broker:
[code]

client:
[code]

start the broker

start the client.

the client outputs messages from topics it's not subscribed to:

[code]

replacing aedes-persistence-nedb with in-memory aedes-persistence fixes those problems ..

should be closed. sorry.

[2019-04-17 20:39] #235 closed

[2019-05-08 23:28] JohnCMcDonough opened #237 "Aedes not properly releasing connections"
I've got code where I'm attempting to keep track of the number of clients connected using a prometheus Gauge.

**metrics.ts**
[code]
**main.ts**
[code]

the `metrics.clientConnected` and `metrics.clientDisconnected` basically just increment and decrement counters. There is not really any logic here.

If there are socket errors, it seems like the decrement is not always called. After heavy load tes

[2019-05-08 23:30] mcollina commented on #237
Thanks for reporting, would you like to send a PR with a fix?

[2019-05-09 01:30] JohnCMcDonough commented on #237
Sure!

I’m still trying to diagnose right now. I need a way of getting it to reproduce without having to make thousands of connections.

I’ll comment with anything else I find.

[2019-05-13 15:33] JohnCMcDonough commented on #237
I've been unable to find out what causes it, but I have found that Aedes internally doesn't realize the clients are still connected. I'm not sure if it's because of the long delays in authenticating a client, or if it somehow fails during authentication, or what. But the code below shows that each worker has more connections reported by Aedes than by the TCP Server and WS Server.

[code]

5/13/201

[2019-05-13 15:48] GavinDmello commented on #237
@JohnCMcDonough  Could you check if either one of `clientError`, `connectionError` or `keepaliveTimeout`  events are being fired ?

[2019-05-13 16:45] JohnCMcDonough commented on #237
I get clientErrors when they disconnect, but it's just ECONNRESET.

[code]

[code]

[2019-05-13 17:38] JohnCMcDonough commented on #237
The code below appears to reliably create the errors for me. I've removed as much domain specific code as I can.

[code]

[2019-05-14 04:16] JohnCMcDonough commented on #237
It's for sure some kind of race condition. If I cancel my HTTP requests to authenticate after 10 seconds, and just reject and let the device try again, I don't see any of these issues.

[2019-06-21 05:18] grath10 opened #241 "kafka mqemitter"
Hello, I'd like to know if there's a kafka mqemitter available for aedes. If not, what should I do to realize this functionality. Any detailed suggestion or advice for reference is appreciated.

PS: As for Mosca, there's a kafka backend demo, and herein, aedes also needs this if we want to migrate from mosca to aedes.

[2019-06-21 13:08] mcollina commented on #241
Would you like to write one? I think you should look into https://github.com/mcollina/mqemitter-redis and follow the same project structure.

[2019-06-28 17:26] gnought commented on #237
Does it relate to https://github.com/mcollina/aedes/pull/243 ?

[2019-07-01 15:19] gnought opened #244 "heartbeat topic is in publish event"
Caught `'$SYS/' + that.id + '/heartbeat'` topic on `publish` event, is it a design?

the packet is as follows when `client` is null:
[code]

Seems related to https://github.com/mcollina/aedes/issues/7 and https://github.com/mcollina/aedes/commit/9bca79c9572774f332435fbc391d7932f39b2ae7, but they do not mention what the packet is when `client` is null on publish event.

If it is not a design, I cou

[2019-07-01 15:33] gnought commented on #244
Seems related to https://github.com/mcollina/aedes/issues/7 and https://github.com/mcollina/aedes/commit/9bca79c9572774f332435fbc391d7932f39b2ae7, but they do not mention what the packet is when `client` is null on publish event.

[2019-07-01 16:13] mcollina commented on #244
This is by design. It's a published packet, so it ends up in the `publish` event. `client` is `null`, because there is no client. It would be fantastic if you could update the docs.

[2019-07-02 02:52] #244 closed

[2019-07-02 11:31] gnought opened #246 "Multiple clients subscribe same topic, no subscribers will receive message if one of them is closed by destroying socket"
I have written a unit test for testing this behaviour. https://github.com/gnought/aedes/commit/81a12299ce60fdca82f4068e5cfb71f6f31490fe

This always fails in Nodejs v10. https://travis-ci.org/gnought/aedes/builds/553241364

I don't know if it is a nodejs bug, but it will pass if we modified mqemitter https://github.com/mcollina/mqemitter/blob/master/mqemitter.js#L88-L92 as

[code]

@mcollina any c

[2019-07-05 08:16] elixiao commented on #129
Has this api been done yet ? It's very useful in many cases.

[2019-07-06 15:18] mcollina commented on #246
I don't know, nor I have the time to debug this :(.

[2019-07-08 18:55] nightwolfz commented on #236
Something like
[code]
?

[2019-07-09 08:31] weiliudong opened #248 "My aedes test problem"
terminal.js

var aedes = require('aedes')();
var myAuth = require('./myAuth');
var port = 1883;

var server = require('net').createServer(aedes.handle);
myAuth.loginAuth(aedes);
myAuth.publishAuth(aedes);
myAuth.subscribeAuth(aedes);

server.listen(port, function () {
    console.log('server listen:', port);
});

aedes.on('client', function (client) {
    // do something...
});

aedes.on('clientDi

[2019-07-09 08:35] weiliudong commented on #248
In addition, the process cpu occupancy rate is as high as 40%.

[2019-07-09 09:02] mcollina commented on #248
Running some quick math, with 40,000 clients and a 2GB memory usage we have that each client is occupying 50 bytes of memory. I think it’s a good number, and there is nothing wrong.
The 40% CPU usage might be due to PING packets. You can disable these in the client.

[2019-07-09 09:37] weiliudong commented on #248
thank you very much!

[2019-07-09 10:06] gnought opened #249 "Why puback come first?"
In https://github.com/mcollina/aedes/blob/master/test/qos1.js#L677 unit test,

https://github.com/mcollina/aedes/blob/master/test/qos1.js#L714 subscribe packet come first and then the publish packet in the stream, why we expect puback is the first response?

I think it should be suback. @mcollina agree?

[2019-07-09 13:27] mcollina commented on #249
We expect puback because registering a QoS 1 subscription is not an atomic operation: we are not pausing the reception of packets while we are storing the subscribe.
It's essentially an (important) implementation detail, but have very few practical implications.

[2019-07-09 13:27] #249 closed

[2019-07-09 15:54] gnought commented on #249
Based on the unit test, let simplify as follows:
[code]
the sequence of getting responses after all InStream.write() calls are
1. `puback`
2. `publish`
3. `suback`

I agree we are not pausing any operations, but apparently this sequence is wrong.
We emit `suback` in completeSubscribe https://github.com/mcollina/aedes/blob/master/lib/handlers/subscribe.js#L31. Then aedes receives publish event and

[2019-07-10 03:58] gnought commented on #249
In general, `puback` should be emitted after `publish`.

The simplified test result may result as
1. `publish` -> `suback` -> `puback`.
2. `publish` -> `puback` -> `suback`

They should be still valid

[2019-07-10 08:16] gnought opened #250 "PubRec should not be the first packet in QoS 2"
An unit test
[code]

The sequence of received stream will be:
`pubrec` -> `suback` -> `publish` -> `pubcomp`

It seems it violates the spec stated in http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718048, `pubrec` should be after `publish` and before `pubcomp`

Why we trigger the publish after receiving `pubrel` in https://github.com/mcollina/aedes/blob/master/lib/handle

[2019-07-10 09:46] gnought commented on #250
Make the publish (https://github.com/mcollina/aedes/blob/master/test/qos2.js#L11) and receive (https://github.com/mcollina/aedes/blob/master/test/qos2.js#L48) functions be more verbose as follows (added console.log):
[code]

In unit test 'publish after disconnection' https://github.com/mcollina/aedes/blob/master/test/qos2.js#L377, we will get the following sequence:
[code]

Apparently it's in wron

[2019-07-10 09:51] mcollina commented on #250
A long amount of time has passed, and I do not remember. This is the same type of transactional behavior that MQTT does not really specify, and it’s up for the broker to implement.

[2019-07-10 10:50] gnought commented on #250
From the MQTT 3.11 spec, the transactional behaviour in QoS 2 is defined.
1. `publish`
2. `pubrec `
3. `pubrel`
4. `pubcomp`

Likely the test tries to demonstrate the publisher still send `pubrec` after the subscriber disconnects. In this case, `pubrel` shouldn't be sent and `pubcomp` won't be there.
The whole unit test is needed to rewrite. @mcollina could I?

[2019-07-10 11:08] mcollina commented on #250
It's hard for me to follow up on these long issues at this point. Feel free to send a PR that address your concerns, motivate it with reference to the spec, and I'll review when I have more time.

[2019-07-11 12:26] gnought opened #254 "MessageID in QoS 0"
https://github.com/mcollina/aedes/blob/master/test/basic.js#L49

Going through MQTT Spec 3.1.1 http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718025,

Should we adhere to the standard?

[2019-07-12 02:58] #250 closed

[2019-07-12 11:16] gnought opened #257 "Packet in Broker `ack` event"
In https://github.com/mcollina/aedes/blob/master/lib/handlers/puback.js#L6

Broker receives puback or pubcomp packet will go into puback.js

In non-clean QoS 1, the `origPacket` will be a PUBLISH packet
In non-clean QoS 2, the `origPacket` will be a PUBREL packet.

A little bit confusion, should the `packet` in `ack` event always be the PUBLISH one?

In a clean QoS 1 and QoS 2, the `origPacket` wi

[2019-07-12 13:07] mcollina commented on #257
Can you add a code example to explain? I wrote this a long ago, and I do not remember / or I have time to figure this out.

[2019-07-12 15:32] gnought commented on #257
[code]

The code
[code]

[2019-07-12 15:42] gnought commented on #257
[code]

The code
[code]

[2019-07-14 11:47] mcollina commented on #257
The ack event includes the last packet sent with the given message id. It can be PUBLISH or PUBREL. Given how QoS2 is implemented.. I don’t think it’s feasible to change this.

We should probably document all of this better. Would you like to send a PR?

[2019-07-14 18:22] gnought commented on #257
PUBREL is a control packet, I think it is more logical to be a PUBLISH packet in `ack` parameter from user point of view.

[2019-07-14 18:41] mcollina commented on #257
I agree. However that is tied with how the persistence interface is defined: we don’t have the PUBLISH packet anymore.
As a result, we should just document this for now, as the refactoring might take some time to settle.

[2019-07-16 12:20] gnought opened #263 "Drop nodejs 6 support"
Should we drop nodejs 6 support?
https://github.com/mcollina/aedes/blob/master/.travis.yml#L3

[2019-07-16 12:26] gnought commented on #254
Fixed by https://github.com/mcollina/aedes/pull/261

[2019-07-16 12:26] #254 closed

[2019-07-16 12:50] mcollina commented on #263
yes

Il giorno mar 16 lug 2019 alle 14:20 Gnought <notifications@github.com> ha
scritto:

[2019-07-16 16:20] luixal commented on #187
Same here, works really well, but lucks documentation. It's quite simple once you get it, but some more example and better documentation (formatting and examples basically).

My two basic examples:

[code]

[code]

[2019-07-16 16:38] gnought commented on #263
Refer to https://github.com/mcollina/aedes/pull/266

[2019-07-16 16:46] #263 closed

[2019-07-18 01:01] gnought opened #269 "Function vs Class"
Could we use `class` to replace `function ` for initiating object like `PubRel` ?

[2019-07-18 01:14] gnought opened #270 "Custom Error class and use enum to replace error message"
Any errors raised now are using `Error(message)`, should we have a custom error class and replace message as a enum for better handling?

[2019-07-18 03:09] gnought opened #271 "Retry mechanism in Aedes Broker -> Subscriber (QoS 2)"
MQTT QoS 2 flow: https://emqx-enterprise-docs-en.readthedocs.io/en/latest/_images/mqtt_3.png (Typo: PUBACK should be PUBREC)

**PUBLISHER -> Aedes Broker (QoS 2)**
- Aedes stores message when it receives PUBLISH https://github.com/mcollina/aedes/blob/master/lib/handlers/publish.js#L45
- Aedes acknowledges back PUBREC to the publisher
- Aedes receives PUBREL from the publisher and push messages to

[2019-07-18 18:22] ayushsharma82 opened #274 "Cannot read property 'charCodeAt' of undefined on publish by client"
Hi,
I am using Aedes MQTT Broker in one of my projects. Thanks for this wonderful mqtt broker on nodejs!

### Problem:

There is a `aedes.subscribe('+/firmware/report')` wildcard topic subscription on Aedes MQTT broker.

Upon publish by a client on that topic, a typeerror occures:
[code]

I'm not sure why this is happening.. Any help / debbuging would be appriciated.

[2019-07-18 18:45] gnought commented on #274
`var aedes = require('aedes')()` ?

[2019-07-19 04:12] ayushsharma82 commented on #274
I have that on top of my code.

On Fri, 19 Jul 2019, 12:15 am Gnought, <notifications@github.com> wrote:

[2019-07-19 06:26] gnought commented on #274
May we know which aedes version you are using, and could provide a pure javascript code to reproduce it?

[2019-07-19 07:31] ayushsharma82 commented on #274
Yup. I will provide you a example in couple of minutes.. I am using authorize subscribe too..

[2019-07-19 08:00] ayushsharma82 commented on #274
So here is an example that reproduces the error:

### Observation:

From what I have observed, The `TypeError: Cannot read property 'charCodeAt' of undefined` Error occurs when using aedes with `authorizeSubscribe`  function. When this line of code: `done(null, sub.topic === 'foo/firmware/status')`  returns true in `authorizeSubscribe` function, the error pops up.

### Example ( to reproduce error

[2019-07-19 08:04] ayushsharma82 commented on #274
@gnought  I am using the latest version of aedes ( v0.39.0 ).

[2019-07-19 09:48] gnought commented on #274
Thanks for the code. I could reproduce it by issuing `mosquitto_sub -t foo/firmware/status -u foo -P bar`. Let see what we could find. :)

[2019-07-19 10:17] gnought commented on #274
Basically this error comes from `return done(null, sub.topic === 'foo/firmware/status')`.

The 2nd parameter in `done()` should be `sub`. It should be an object `{ topic: 'foo/firmware/status', qos: 0 }` in your case. Your code change the 2nd parameter, and internally aedes will think `sub` structure to a boolean, that is the reason why `charCodeAt` property not found.

I suggest to change the `au

[2019-07-19 10:18] gnought commented on #274
If you feel good, please close this issue. :)

[2019-07-19 10:32] ayushsharma82 commented on #274
Oh, Awesome! I was following the `mosca` style. Haha
I will do the needful changes in my code. Thanks a lot @gnought !

[2019-07-19 10:32] #274 closed

[2019-07-19 14:12] mcollina commented on #269
yes, definitely

Il giorno gio 18 lug 2019 alle ore 02:01 Gnought <notifications@github.com>
ha scritto:

[2019-07-20 04:10] mcollina opened #276 "Drop safe-buffer"
Given we have dropped support for Node 6, we can also remove safe-buffer

[2019-07-20 05:33] gnought commented on #276
Could it be done after merging https://github.com/mcollina/aedes/pull/264 ?

[2019-07-20 05:59] mcollina commented on #276
yes no problem

Il giorno sab 20 lug 2019 alle 07:33 Gnought <notifications@github.com> ha
scritto:

[2019-07-23 09:48] gnought opened #281 "Duplicate PUBLISH packets in directly push to a QoS 2 client."
It seems that we get a serious bug.

When we direct push a PUBLISH to a QoS 2 client, we get duplicate publish packets. The following test is trying to demonstrate it. The `publishCount` is 2, and `nonPublishCount` is 1.
However the correct result should be `publishCount` is 1, and `nonPublishCount` is 1.

Test code:
[code]

[2019-07-23 10:29] mcollina commented on #281
Is this against master or against the last published version? In other terms, is this the result of some of the changes to persistence? Would you mind sending a PR to fix?

[2019-07-23 11:54] gnought commented on #281
The test is based on the `master` branch with v6.0.0 persistence.

It seems that I find the root clause.
The publish packet is QoS 2 and will sit in offline queue until broker receives pubcomp.
The connect actions are
[code]

1. `client` event is emitted when in `registerClient` action.
2. publish packet is then triggered to push it into the stream.
3. After some times, `emptyQueue` run and push t

[2019-07-24 13:31] mcollina commented on #281
Yes, adding the clientReady event would be good. When will it be fired?

[2019-07-25 11:05] gnought commented on #237
@JohnCMcDonough Thanks for the report and a test. It is reproducible.

To adapt the recent change of type definition. I modified your test for another developers to have a test.

[code]

[2019-07-25 12:59] gnought commented on #231
This has been fixed in https://github.com/mcollina/aedes/commit/0bc8601946a44521914b1cf97fc0483b65d1336a

[2019-07-25 12:59] #231 closed

[2019-07-25 13:00] #197 closed

[2019-07-25 13:08] gnought commented on #190
Aedes has decoupled its persistence store and mqemitter be a separate component. You could use different stores to store retained messages and QoS persistence, while you could also make use of different mqemitters with back pressure and create cluster-enabled aedes. There will be more bug fix and improvements coming. Test it as much as possible and submit any issues you found. 😄

[2019-07-25 13:08] #190 closed

[2019-07-25 13:12] #162 closed

[2019-07-25 18:34] gnought commented on #221
good catch.

[2019-07-27 11:30] #246 closed

[2019-07-27 11:31] gnought commented on #237
Fixed in https://github.com/mcollina/aedes/pull/283

[2019-07-27 11:31] #237 closed

[2019-07-27 11:32] gnought commented on #246
Fixed in https://github.com/mcollina/aedes/pull/283

[2019-07-28 05:53] #145 closed

[2019-07-28 06:06] gnought commented on #129
don't know if I understand the point.

`addSubscriptions` with `client` argument has already been moved into https://github.com/mcollina/aedes-persistence/blob/master/persistence.js#L74, and `removeSubscriptions` also https://github.com/mcollina/aedes-persistence/blob/master/persistence.js#L106

and `client.subscribe` also pass `client` object to `handleSubscribe` in https://github.com/mcollina/ae

[2019-07-28 07:47] behrad commented on #129
I haven't reviewed latest changes @gnought However this issue was about having an API to subscribe a user to a topic.
Normally subscribe happens from a connected client. Here we want to be able to subscribe on behalf of an offline connect

[2019-07-28 08:11] elixiao commented on #129
@gnought  @behrad Is there an api which can subscribe topics for already connected clients? Not from client side by `client.subscribe(topics, cb)` but server side by api like `aedes.addSubscription(clientId, topics, cb)`

[2019-07-28 15:33] gnought commented on #129
it sounds like server has a capability to add/remove a subscription for a client, rather than client requests to subscribe/unsubscribe a topic by himself. May we know what the usage is for?

[2019-07-28 19:16] mcollina commented on #271
I don't understand what the issue is.

[2019-07-29 12:37] gnought opened #285 "Why client.publish directly calls deliver0 or deliverQoS"
client.subscribe or client.unsubscribe call `handleSubscribe` https://github.com/mcollina/aedes/blob/master/lib/client.js#L204

Why client.publish https://github.com/mcollina/aedes/blob/master/lib/client.js#L175  directly calls `deliver0` or `deliverQoS` instead of `handlePublish` ?

by-design or other concerns?

[2019-07-31 01:31] elixiao commented on #129
@gnought In my case, I attach aedes to my server. The server side database stores the publish/subscribe relationship which varies over time. The rules are:

1. when client has attribute A then it should subscribe topic A.
2. when client's attribute becomes B then it should unsubscribe topic A and subscribe topic B.

I think it's very convenient to addSubscription/removeSubscription on server side.

[2019-07-31 11:39] gnought commented on #271
Aedes should keep trying to send PUBLISH/PUBREL if it does not receive PUBREC/PUBCOMP responses from subscribers within a period of time, otherwise persistence storage will accumulate many outstanding messages.

[2019-07-31 12:10] mcollina commented on #271
that’s not part of the MQTT spec

Il giorno mer 31 lug 2019 alle 13:39 Gnought <notifications@github.com> ha
scritto:

[2019-07-31 12:45] gnought commented on #271
I think there is. http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718037

We need to toggle DUP flag when aedes resend messages to subscribers.

[2019-07-31 12:47] gnought commented on #271
and I think this diagram http://www.steves-internet-guide.com/wp-content/uploads/mqtt-publish-flow-qos-2.jpg should apply

[2019-07-31 13:07] mcollina commented on #271
http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc398718103 says that

So, no, we should not resend messages on an open connection.

[2019-07-31 15:36] gnought commented on #271
That's the case that when subscribers **reconnect** and server need to redeliver messages.

How about the case that aedes has sent a PUBLISH message to subscribers, but there's packet loss in the connection? Those subscribers will remain silence, they will not know what's going and even they need to reconnect to get all messages.

[2019-07-31 16:33] mcollina commented on #271
packet loss is managed by TCP.

Il giorno mer 31 lug 2019 alle ore 17:36 Gnought <notifications@github.com>
ha scritto:

[2019-07-31 16:45] gnought commented on #271
It sounds right.

How about there is a case that a subscriber intentionally does not response back only PUBREC/PUBCOMP, maybe he is a hacker, will he screw up the aedes and even persistence storage?

[2019-07-31 16:48] mcollina commented on #271
Then resending is only going to make things worse and clog the network.
That is a valid case, but the normal thing should be to "drop" messages
that have not been ack'ed after a while (configurable) - with a TTL.

Il giorno mer 31 lug 2019 alle ore 18:45 Gnought <notifications@github.com>
ha scritto:

[2019-07-31 16:51] gnought commented on #271
Should it be implemented in persistence side or aedes side?

[2019-07-31 16:53] mcollina commented on #271
IMHO it's persistence specific (Redis, Mongo, etc).

Il giorno mer 31 lug 2019 alle ore 18:51 Gnought <notifications@github.com>
ha scritto:

[2019-07-31 16:59] #271 closed

[2019-08-02 07:06] mcollina commented on #285
In subscribe, I had to emulate receiving a SUBSCRIBE packet. in publish, I need to send a PUBLISH packet to the client and handlePublish is to receive one.

[2019-08-03 10:05] gnought commented on #285
client.subscribe -> client SUBSCRIBE to broker
I think the same logic is
client.publish -> client PUBLISH to broker, in this way, it should use `handlePublish`
if sending a PUBLISH packet to client, i think the function should be `Aedes.prototype.publish` which will use `deliver0` or `deliverQoS`

[2019-08-03 10:11] mcollina commented on #285
The _current_ implementation of `client.publish` is to *send* a PUBLISH packet to a client (and handle QoS). That is actually a much needed feature of a lot of applications, and I don't think it's worth changing the name.

`Aedes.prototype.publish` (https://github.com/mcollina/aedes/blob/da8ba5ade870c4b608858549da62b5dced12a72c/aedes.js#L226)  publishes a packet to _all_ clients. It's a different

[2019-08-06 12:00] elixiao opened #286 "messageId always 0 on publish event"
server.js

[code]

client.js

[code]

result:

[code]

I notice that:

- in authorizePublish function, the messageId is 31279
- in publish event callback, the messageId is always 0

Why are the two messageId not same?

[2019-08-06 13:34] gnought commented on #285
Thanks the clarification.

Logically, We call `client.publish`, in a first glance the point of view is from _client_ and _client_ publishes something, while we call `broker.publish`, the point of view is from _broker_ and _broker_ publishes something.
If we states `client.publish` to be

I know it is _current_ implementation, but it makes a bit confusion, and other developers feel quite frustrated

[2019-08-06 14:56] gnought commented on #286
Thanks @elixiao, I have submitted a PR for a review

[2019-08-09 18:34] gnought opened #289 "Aedes.published function vs publish event"
What's the difference between `Aedes.published` function (https://github.com/mcollina/aedes/blob/master/aedes.js#L211)  and `publish` event (https://github.com/mcollina/aedes/blob/master/aedes.js#L212)?

I think that we should not expose `Aedes.published` function as it is a redundant. Event is good enough.
And it seems `Aedes.published` function will cause https://github.com/mcollina/aedes/issues

[2019-08-09 20:43] mcollina commented on #289
.published enables backpressure to happen.

[2019-08-09 22:00] mcollina commented on #285
I _think_ it's due to QoS.

[2019-08-10 18:59] #286 closed

[2019-08-11 08:04] mcollina opened #295 "remove safe-buffer"
it’s not needed anymore, we support only Node version that contains the fix.

[2019-08-11 08:12] gnought commented on #295
Yes, it's the same as https://github.com/mcollina/aedes/issues/276
This will be my next PR after merging #291 - #293

[2019-08-11 08:21] gnought commented on #295
Refers to https://github.com/mcollina/aedes/pull/296

[2019-08-11 08:21] gnought commented on #276
This refers to PR https://github.com/mcollina/aedes/pull/296

[2019-08-11 08:27] #276 closed

[2019-08-11 08:27] #295 closed

[2019-08-12 14:40] gnought opened #299 "Do not restore QoS 0 subscriptions when clean=false"
Based on MQTT spec,

In this test "_restore QoS 0 subscriptions not clean_"
https://github.com/mcollina/aedes/blob/master/test/basic.js#L472

This is totally wrong.

[2019-08-12 15:30] gnought opened #300 "In QoS1 pub/sub, received TWO retained messages after disconnect"
1. Client A: `mosquitto_sub -t hello -c -i my-client-0 -q 1`
2. Client B: `mosquitto_pub -t hello -m world -q 1 -r`

In vernemq:
Client A receives `world` message.
Client A disconnects and reconnects via command (1), he receives **ONE** message `world`
Client A disconnects again and reconnects via command (1), he receives **ONE** message `world`

In aedes (v0.39.0, even in recently master branch):

[2019-08-12 16:39] gnought commented on #300
Something I found.

After Client A disconnects, aedes has saved the retained message.

When Client A reconnects back via command (1) - `mosquitto_sub -t hello -c -i my-client-0 -q 1`

There will have two actions: CONNECT & SUBSCRIBE
1. When CONNECT, it will restore Client A previous subscriptions as clean=false in https://github.com/mcollina/aedes/blob/master/lib/handlers/connect.js#L137
2. After

[2019-08-12 17:09] gnought commented on #300
Something I found.

After Client A disconnects, aedes has saved the retained message.

When Client A reconnects back via command (1) - `mosquitto_sub -t hello -c -i my-client-0 -q 1`

There will have two actions: CONNECT & SUBSCRIBE
1. When CONNECT, it will restore Client A previous subscriptions as clean=false in https://github.com/mcollina/aedes/blob/master/lib/handlers/connect.js#L137
2. `compl

[2019-08-12 17:33] gnought commented on #300
The test 'not clean and retain messages with QoS 1' at here https://github.com/mcollina/aedes/blob/master/test/retain.js#L538 is wrong then

[2019-08-12 18:40] gnought commented on #300
In MQTT Spec section 3.1.2.4

·         QoS 1 and QoS 2 messages which have been sent to the Server, but have not been completely acknowledged.
·         QoS 2 messages which have been received from the Server, but have not been completely acknowledged.

·         The existence of a Session, even if the rest of the Session state is empty.
·         The Client’s subscriptions.
·         QoS 1 and Q

[2019-08-13 08:53] mcollina commented on #299
That paragraph does not relate to that test. It does not check about QoS delivery, but rather on the fact that QoS 0 subscriptions must be restored.

[2019-08-13 08:57] mcollina commented on #300
I think this is a bug, in the sense that we should not be resending retained messages when we restore subscriptions with clean=false clients.

[2019-08-13 11:03] gnought commented on #299
I tried a test in vernemq.

In QoS 0 publish:
1. Client A subscribes with clean=false. `mosquitto_sub -t hello -c -i my-client-0 -q 0`
2. Client A disconnects
3. Client B publishes message `mosquitto_pub -t hello -m world -q 0`
4. Client A reconnects, same command in (1)

Client A does not receive any messages.

In QoS 1 publish:
1. Client A subscribes with clean=false. `mosquitto_sub -t hello -c

[2019-08-13 11:07] gnought commented on #299
I have checked with the table http://www.steves-internet-guide.com/wp-content/uploads/MQTT-qos-retain-clean-session-table.jpg in http://www.steves-internet-guide.com/mqtt-clean-sessions-example/

[2019-08-13 15:20] mcollina commented on #299
Section 3.1.2.4 describes this behavior.
All subscriptions must be restored. A server may store the QoS 0 messages in between or not.

As far as I recall, mosquitto implements this logic.

[2019-08-13 15:53] gnought commented on #299
Tried in mosquitto server,
QoS 0 subscriptions won't be restored, behaviour as same as in vernemq.

[2019-08-13 16:07] gnought commented on #299
In [MQTT-3.1.2-5], it said the server stores further QoS 1 and 2 messages that **MATCH** the any subscriptions that the client had at the time of disconnection.

If the client subscribes QoS 0 and disconnects, server should not store any QoS 1 and 2 messages for him, because the QoS 1 and 2 messages do not match to the QoS what he subscribed at the time of disconnection.

Agree?

[2019-08-13 17:14] mcollina commented on #299
Yes, storing the message is a bug. But the subscription must be restored, i.e. when the client reconnects any _new_ messages must be delivered. This is what I mean by “restore” the subscriptions.

[2019-08-13 18:33] gnought commented on #299
The following is a unit test, and test on mosquitto and vernemq.
1. client connects and subscribes qos 0 `hello` topic with clean=false, then disconnect.
2. pubClient publishes `world` msg to `hello` topic with qos 0, then disconnects
3. client reconnects, if server restores its qos 0 subscription, client should receives the `world` msg, but it is not the case.

[code]

[2019-08-13 18:35] gnought commented on #299
If we change the QoS to 1 (`qos_value =1`), client will receives `world` message.

[2019-08-13 18:37] mcollina commented on #299
We are not talking about the the same thing. You are talking about offline enqueueing, I’m talking about subscriptions. Try publishing the message _after_ reconnection.

[2019-08-13 18:56] gnought commented on #299
ok, I modified the test code as below.
Same, client still not receive `world` message.

[code]

[2019-08-13 19:50] mcollina commented on #299
Likely you need to wait the client being connected.

Il giorno mar 13 ago 2019 alle 20:56 Gnought <notifications@github.com> ha
scritto:

[2019-08-13 20:00] gnought commented on #299
ok, I wrap it in to `connect` event, but the result is the same.

[code]

[2019-08-13 20:21] gnought commented on #299
ok, @mcollina you're right. The QoS 0 subscription will be restored when clean=false.

The client and pubClient are in same clientID. The restored QoS 0 subscription happens in pubClient.
The following test refines to use different clientID for pubClient. All goes fine. :)

[code]

[2019-08-13 20:22] gnought commented on #299
The above unit test is an alternative good test in this topic, i will add it in our test suite too. :)

[2019-08-13 20:22] #299 closed

[2019-08-13 22:03] mcollina commented on #299
This was a good discussion!

Il giorno mar 13 ago 2019 alle 22:22 Gnought <notifications@github.com> ha
scritto:

[2019-08-16 08:43] Andreyooo opened #302 "General Information"
Hello,
I´m a beginner with MQTT and I wanted to know if Aedes is ready to be used? It´s out for a long time, what confuses me though is that you can´t find anything about Aedes on the internet.
Mosca doesn`t seem to get any support anymore, yet online there are no articles/blogs about Aedes.
It´s not listed here aswell [https://github.com/mqtt/mqtt.github.io/wiki/server-support](url)

Also does it

[2019-08-16 13:39] gnought commented on #302
Aedes is a successor of mosca. It is much more conform to mqtt spec v3.1 and v3.1.1, and supports QoS 2. Its storage layer, and emitter system is pluggable, and far more stable and extensible compared with mosca.

Using the aedes provided benchmark tools, i could get nearly 98k messages per second in my local i5 mac w/ 8gb ram.

You could test it using 0.39 release. We are going to release a new r

[2019-08-16 14:29] Andreyooo commented on #302
Thank you for the quick reply 👍 .
Maybe update the wiki with a quick overview, as it was done for mosca if you got the time.
[https://github.com/mcollina/mosca/wiki](url)

Good luck developing

[2019-08-16 14:29] #302 closed

[2019-08-17 07:00] gnought commented on #244
Update README.me in PR https://github.com/mcollina/aedes/pull/245

[2019-08-17 09:09] gnought opened #303 "Memory Leakage in QoS 2"
In QoS 2, any remaining persistence for QoS 2 incoming messages should be removed, when aedes closes before PUBCOMP stage. Agree?

That means there should no origPacket returns in `broker.persistence.incomingGetPacket`
https://github.com/mcollina/aedes/blob/master/test/qos2.js#L450

[2019-08-17 10:59] mcollina commented on #303
I think that test is correct: it checks that receiving multiple QoS 2 packets with the same messageId are stored only once.

It seems you are referring to a different behavior, can you please clarify?

[2019-08-17 13:09] gnought commented on #303
1. Client A PUBLISH a QoS 2 message.
2. Aedes responds back a PUBREC, and save the published message in persistence `client.broker.persistence.incomingStorePacket`
3. When Aedes closes, the persistence still keep the message, and we can get it via `client.broker.persistence.incomingStorePacket` in `broker.on('close')`

I think that aedes persistence should clear up the stored message.

[2019-08-17 19:34] mcollina commented on #303
Why do you think so?

[2019-08-18 03:37] gnought commented on #303
Think about like this.

If there is 2k clients (different clientid) use QoS 2 to deliver PUBLISH messages, but they disconnect and never send back PUBREL.

1. There will be 2k obsolete records in memory persistence storage.

2. if the persistence storage is external, and aedes closes. 2k obsolete records are there

Each records use client.id as a key. The obsolete records could be reused if those

[2019-08-19 08:32] mcollina commented on #303
PUBREL can come when the client reconnects, possibly to a different broker. We cannot delete them on close to support horizontal scalability. The persistences should have a "TTL" mechanism to clean up leftover messages over time.

[2019-08-19 12:47] #303 closed

[2019-08-23 17:58] moralesmx opened #304 "Any plan to migrate to Typescript?"
I'd love to work on that.

[2019-08-23 20:43] mcollina commented on #304
Not right now, but we’ll be happy to have types.

Il giorno ven 23 ago 2019 alle 19:58 Luis Angel Morales Romo <
notifications@github.com> ha scritto:

[2019-08-24 21:26] moralesmx commented on #304
ES6/ES2015?

[2019-08-24 23:55] mcollina commented on #304
I have no plans to migrate this to introduce any transpiling layer, if this is what you are asking. One day Node will support “import” in all LTS line, and then we’ll migrate. This is at least 1-2 years ahead.

[2019-08-24 23:55] #304 closed

[2019-08-25 00:44] moralesmx commented on #304
Thanks for your response!

[2019-08-26 10:27] #281 closed

[2019-08-30 05:56] #193 closed

[2019-08-30 13:54] #257 closed

[2019-09-02 18:13] gnought commented on #151
This is fixed in PR https://github.com/mcollina/aedes/pull/316

[2019-09-02 18:13] #151 closed

[2019-09-09 22:35] abachman opened #323 "Access to the websocket request object"
There have been a few issues requesting help with getting the remote IP address of the connected client, but they all assume aedes is not behind a reverse proxy. Specifically, the `conn.socket._socket.remoteAddress` value on websocket connections for aedes instances behind a reverse proxy always returns the address of the proxy, not the X-Forwarded-For header the proxy adds to all requests.

We're

[2019-09-10 19:29] abachman opened #324 "Invalid MQTT packets crash the server"
In the current version of master (as of 756a2a9e2b4fb6ecde496fa19f96a4ed5858d278) invalid MQTT packets (version, protocol ID, invalid packet length, etc.) cause an uncatchable error to be raised [in lib/client.js](https://github.com/mcollina/aedes/blob/756a2a9e2b4fb6ecde496fa19f96a4ed5858d278/lib/client.js#L68).

We don't control all the clients that connect to our broker, so fixing them isn't pos

[2019-09-10 19:56] mcollina commented on #324
Would you like to send a PR?

Il giorno mar 10 set 2019 alle 21:29 Adam Bachman <notifications@github.com>
ha scritto:

[2019-09-10 21:10] abachman commented on #324
Yeah! I can put one together.

@gnought, this touches on some pieces you've been working on lately so I'll probably ping you when I've got something.

[2019-09-13 11:49] #126 closed

[2019-09-13 11:50] #300 closed

[2019-09-14 07:51] #222 closed

[2019-09-14 07:52] #323 closed

[2019-09-18 06:31] moralesmx commented on #304
BTW, Node.js v8 is on Maintenance LTS and it ends on 2019-12-31.

[2019-09-23 13:16] mohsenyaghoobi opened #328 "How can I use Aedes as MQTT Borker?"
Hello,

how can I use aedes as MQTT broker?
I installed aedes on Ubuntu, but I dont know how  and where can I create a Broker an how can I Use it? could you please help me and explain more how can I do it!

Best Regards
Mohsen

[2019-09-24 02:19] weiliudong commented on #328
Aedes api has demo.you can try it.
https://github.com/mcollina/aedes

[2019-10-02 13:47] Andreyooo opened #329 "[feat] Bridge"
Is it possible to bridge an aedes broker to a mosquitto broker?

[2019-10-02 16:32] mcollina commented on #329
The bridge protocol is currently not implemented, but it would be awesome to have!

[2019-10-08 11:07] kamrankamrani commented on #328
you can run aedes as your broker in node js simply with npm and then you can build some clients with any kind of mqtt client libs such as npm mqtt

[2019-10-11 10:01] kamrankamrani opened #330 "why aedes.on client doesn't work"
hi, i'm trying on aedes it wonderful so far
here is my code
publisher and subscribers:
`var mqtt = require('mqtt')
var client  = mqtt.connect('mqtt://127.0.0.1:1883')

client.on('connect', function () {
  client.subscribe('presence', function (err) {
    if (!err) {
      client.publish('presence', 'Hello mqtt')
    }
	else{
		console.log("error pub");
	}
  })
})

client.on('message', function (to

[2019-10-11 11:43] kamrankamrani commented on #330
i find the solution. the 1883 port was opened as listening port and i changed port and the problem is solved. you can open cmd and type netstat -a and then you can see your listening ports.

[2019-10-12 02:20] grath10 commented on #241
First, thx for your prompt reply. Taken your suggestion, I've looked into _mqemitter-redis_ and _mqemitter-mongodb_, but I'm confused at their different implementations.
What should be taken into consideration if I'm going to write mqemitter-kafka. Here, I find [one](https://github.com/uwburn/mqemitter-kafka), but I'm not sure whether this is a fit or not.
Any suggestions will be appreciated, thx

[2019-10-12 09:42] mcollina commented on #241
I don’t know, you’d have to test if it fits your requirements.

Il giorno sab 12 ott 2019 alle 04:20 June <notifications@github.com> ha
scritto:

[2019-10-14 00:22] #241 closed

[2019-10-17 21:09] sombriks commented on #328
@mohsenyaghoobi take a look at this sample project: https://github.com/sombriks/sample-mqtt

[2019-10-23 09:21] robertsLando opened #331 "Wrong clients status"
Hi, I'm using Aedes broker on my project https://github.com/robertsLando/Mqtt2Mqtt

Some mqtt devices that I use doesn't support will message so I have set up a rule on the broker that once a client disconnects/connect sends a message in a specific topic with the clientID with true/false based on client connection status.

The problem is that sometimes it happens that I receive a disconnect from a

[2019-10-29 12:35] robertsLando commented on #146
@mcollina I have a working example, should I create a separate report or do you prefere a pull request?

[2019-10-29 13:09] mcollina commented on #146
A pull request would be amazing, thanks!

Il giorno mar 29 ott 2019 alle 13:35 Daniel Lando <notifications@github.com>
ha scritto:

[2019-11-07 07:52] stefano055415 opened #333 "used ram memory"
Is it possible to reduce the use of RAM?

With about 20k connections the usage is 1.3gb

thanks

[2019-11-07 08:16] mcollina commented on #333
By doing some simple math, we can estimate that each connection is using about 65 bytes. This is pretty low already, and I don’t think we can easily improve on it.
Il 7 nov 2019, 08:52 +0100, stefano055415 , ha scritto:

[2019-11-07 08:18] stefano055415 commented on #333
ok thanks

[2019-11-07 08:18] #333 closed

[2019-11-07 08:21] mcollina commented on #333
I’ll be to take a PR in that sense, if you can figure out a way.
Il 7 nov 2019, 09:18 +0100, stefano055415 <notifications@github.com>, ha scritto:

[2019-11-13 14:09] robertsLando commented on #331
@mcollina I'm still expecting some strange behaviour with client connection management, could you check this issue more in deep?

I will try to simulate it someway but I can't reproduce it successfully for now.

[2019-11-13 16:05] mcollina commented on #331
Unfortunately I have no time to check this. I'm happy to review a PR, if you happen to fix it.

[2019-11-14 07:46] robertsLando commented on #331
@gnought Could you help with this? I'm creating a test to replicate the problem.

[2019-11-14 09:27] robertsLando commented on #331
@mcollina Here the example code I have created:

[code]

It runs until it found inconsistences, please check it

[2019-11-29 19:36] mchsk commented on #162
@gnought @mcollina
Hey guys, I think this is just a `yes` / `no` question.

I have current setup:
[code]
When I run multiple instances of `aedes` (heroku) - when client connects, heroku router picks a dyno and with that client I can sub to a topic, publish to it, message is received.

When different client connects to different instance though, the first client never gets published messages.

I th

[2019-11-29 23:51] CyanoFresh commented on #230
need this too

[2019-11-30 00:10] CyanoFresh commented on #230
https://github.com/mcollina/aedes/commit/18aeb22c7303478dbae2721c76c877aa05176541 needs to be added to release

[2019-11-30 06:05] behrad commented on #162
I think you are miss-naming configuration parameters:

[code]

[2019-12-01 04:33] mchsk commented on #162
Oh yeah, the `mq` ! It seems it might work. Thanks @behrad!

[2019-12-02 13:04] seeLuck opened #335 "It seems that npm package is not synchronize with this repo."
I found some bugs fixed by recent commits, but still appears at npm package.

thanks a lot to upgrade it. @mcollina

[2019-12-04 09:39] getlarge opened #338 "Validate proxies list before protocol decoder"
Would you mind removing this todo and opening an issue instead?

_Originally posted by @mcollina in https://github.com/mcollina/aedes/pull/334_

[2019-12-06 16:52] robertsLando commented on #331
@mcollina Could this be fixed by #326 ?

[2019-12-06 17:02] mcollina commented on #331
possibly

[2019-12-06 17:16] robertsLando commented on #331
Why don’t accept the pr so and create an issue for the missing test? At least a bug could be fixed

Daniel

[2019-12-06 17:31] mcollina commented on #331
Please send a test with the PR and the code that is already in there.. I've
already gone into that path that you describe, and it does not end well.

Il giorno ven 6 dic 2019 alle ore 18:16 Daniel Lando <
notifications@github.com> ha scritto:

[2019-12-07 07:46] robertsLando commented on #331
I have no idea about how to make a test for that, I will try to create a PR on Monday. I understand what you mean, if you accept that PR no one will ever make that test for something that is working :)

Daniel

[2019-12-09 10:15] robertsLando opened #339 "Test fails: test/meta.js"
I have just try to run all tests and the test and this is the output:

[code]

[2019-12-09 15:35] robertsLando commented on #331
@mcollina Any suggestion about the approch I could use to test the duplicated done call?

I'm tring everything but nothing works

[2019-12-09 16:16] robertsLando commented on #331
What I have tried is:

[code]

Because when `handlePing` is called the double `done` should invoke `client._nextBatch` twice but I don't get 2 event here

[2019-12-09 17:00] robertsLando opened #341 "Tests broken on NodeJS 12"
Seems that tests are broken on Nodejs 12. Don't know the reason

[2019-12-13 13:34] qiyongtao opened #342 "examples clusters error"
[Error: UNKNOWN: unknown error, unlink '\F:\mqttServer\shared-mqemitter'] {
errno: -4094,
code: 'UNKNOWN',
syscall: 'unlink',
path: '\\F:\mqttServer\shared-mqemitter'
}

os: win10
nodejs: v12.13.1

[2019-12-16 00:16] mcollina commented on #331
I'm sorry I do not have any suggestion right now. I've been on the road all of last week and I'll be all of next week, and then I'll be on vacation until the 6th of January.

[2019-12-16 07:43] robertsLando commented on #331
@mcollina Don't worry Matteo, will try to investigate my own :) Buone vacanze!

[2019-12-16 14:27] #339 closed

[2019-12-16 14:27] #341 closed

[2019-12-16 22:05] CyanoFresh commented on #230
@mcollina please make a release

[2019-12-17 04:56] srmarjani opened #343 "Support MQTT 5"
Hi
Does aedes support mqtt version 5?

[2019-12-17 17:09] robertsLando opened #344 "[bug] Dedupe function of client.js rejects some packets when using mongodb persistence"
More info here: https://github.com/mcollina/aedes-persistence-mongodb/issues/27

[2019-12-17 17:28] Ryuunofire27 opened #345 "Broker publish packet to disconnected client"
Hi, I use an authenticate function and, although it returns false, the broker tries to send a package to the client and is already disconnected.
At first I thought it was because the function was asynchronous but testing synchronously and only sending false, the problem persists.

// function for test
function authenticate (client, username, password, callback) {
    callback(null, false);
}

// B

[2019-12-18 15:45] robertsLando commented on #345
@Ryuunofire27 Try to log the packet, it could be a message published from the broker on `$SYS` topic

[2019-12-21 03:36] gnought commented on #341
Has been fixed on https://github.com/mcollina/aedes/pull/340

[2019-12-21 03:37] gnought commented on #339
Has been fixed on https://github.com/mcollina/aedes/pull/340

[2019-12-21 14:36] gnought commented on #345
@Ryuunofire27 could you provide a working code for use to have a check?

[2020-01-01 09:50] srmarjani opened #348 "[bug] Memory leak on client.js 'connect' event"
Hi
I am using [mqtt](https://www.npmjs.com/package/mqtt) as mqtt client.
In my use case I need to send about 1000 QOS1 packet every 4 second.
every 4 seconds I open a new client by [mqtt.connect](https://www.npmjs.com/package/mqtt#connect) then I publish 1000 packets by [p-map](https://www.npmjs.com/package/p-map) by concurrency 100 and at the end I end connection

But I am encountering below warn

[2020-01-06 05:28] ayushsharma82 opened #349 "preConnect not being called"
Somehow, Aedes Broker doesn't call preConnect on any connection request.

[2020-01-06 17:18] ayushsharma82 commented on #349
Well, the reason is  - `master` Branch which has `preConnect` documentation is not released. I would like to request the author to create another release and make the updates and bug fixes available to all. @mcollina

[2020-01-08 07:18] robertsLando commented on #331
@mcollina Still expecting this issue, I'm still not able to identify what is causing this but even with other projects using aedes this happens.

I also see that aedes sends the will message like the client is disconnected even if it is still connected

[2020-01-10 16:05] stefano055415 opened #350 "list of clients"
is there a method to get a list of all connected clients back?

Thanks

[2020-01-10 16:08] mcollina commented on #350
Nope, you'll have to implement this yourself.

[2020-01-10 16:08] #350 closed

[2020-01-14 07:06] #344 closed

[2020-01-14 13:53] robertsLando commented on #331
@mcollina Maybe I have found something... Why [here](https://github.com/mcollina/aedes/blob/master/lib/handlers/index.js#L54) you are closing client connection in that way? Shouldn't you call `client.close()` instead? The same [here](https://github.com/mcollina/aedes/blob/master/lib/handlers/index.js#L57)

[2020-01-14 14:28] robertsLando commented on #331
I have also find the problem with will messages. [here](https://github.com/mcollina/aedes/blob/master/aedes.js#L92) If the broker closes for some reason, once the broker restarts, after `3 * heartbeatInterval` seconds, all old will messages are sent, this is not correct as I would receive a will message from a client that may be connected right now.

[2020-01-14 14:45] robertsLando commented on #331
The fix that I have created for now is to use an *hybridPersistence* :

[code]

[2020-01-14 15:11] mcollina commented on #331
I think a better approach is to check if there is a lingering will message when a client connects and in case send it before "connecting" it.

Note that a broker crashing is really problematic case as _we are not able to send will messages for connected clients_ because there is no broker running.

[2020-01-14 15:16] robertsLando commented on #331
Why not make this check when broker starts? I mean when broker inits it check for will messages in store and sends all them ?

[2020-01-14 15:18] robertsLando commented on #331
Also I'm thinking about the possiblity to create an `hybridPersistence`, a persistence where you can choose what to keep in memory and what to keep on-disk. I my example I'm using mondogb but the only thing I'm interested to make persistent is `retained` messages. Is this possible someway?

[2020-01-14 15:24] mcollina commented on #331
Aedes is designed to work in a high availability scenario. Ideally there is another broker running at the same time, and when one broker becomes unresponsive the will messages have to be delivered.

[2020-01-14 15:29] robertsLando commented on #331
Ok so the sultion is

?

[2020-01-14 15:33] mcollina commented on #331
Yes

[2020-01-14 15:34] robertsLando commented on #331
Ok I will try to create a PR for that. Could you please tell me something about the `hybridPersistence` idea?

[2020-01-14 15:39] mcollina commented on #331
close is triggered automatically when the connection ends gracefully (`.end()`). It's not triggered when `.destroy()` is called.

Hybrid persistences will likely be not spec compliant

[2020-01-14 16:05] robertsLando commented on #331
@mcollina PR done for that

[2020-01-16 09:19] chanZzzzzz opened #353 "Why can't my mqtt client connect to the mqtts server?"
client:
var mqtt = require('mqtt')

var client = mqtt.connect({
  port: 8848,
  host: 'ip',
  rejectUnauthorized: false,
  protocol: 'mqtts'
})

client.on('connect', function () {
  console.log('connect');
})

server:
var aedes = require('aedes')({
    persistence: aedesPersistenceRedis,
    connectTimeout: Config.mqtt.MQTT_CONNECTTIMEOUT
  });

  var aedesServer = require('tls').createServer({

[2020-01-16 10:01] #353 closed

[2020-01-17 13:15] robertsLando opened #354 "Project development status"
Hi @mcollina, just to know, what are your future plans for aedes ? I mean is there a Roadmap to a 1.0.0 version? In most posts you say you don't have time for aedes but I would like to know what you plan to do with it as mosca development has ended in 2018

[2020-01-17 17:20] mcollina commented on #354
We can essentially call 0.40.0 1.0.0. I'll do a release for that asap - it's as stable as I can make it anyway.

Would you like to help maintaining it?

What I had in mind when starting this _a long time ago_ is to rewrite Mosca on top of all aedes modules and provide a seamless experience. Would you be interested in working on that?

[2020-01-20 07:25] robertsLando commented on #354
@mcollina Yes, volentieri :smile: As I'm activelly using aedes I would be glad to help with it

[2020-01-20 22:19] mcollina commented on #354
I've moved all aedes and mosca repos to a new org, moscajs.

[2020-01-20 22:19] mcollina commented on #354
@behrad @gnought @GavinDmello I've all invited to this new org.

[2020-01-20 22:30] GavinDmello commented on #354
Thanks @mcollina, @robertsLando. I could chip in whenever I get time. :+1:

[2020-01-21 05:42] behrad commented on #354
Happy new org @mcollina Very busy these days but observing activities here, thanks @robertsLando

[2020-01-21 07:13] robertsLando commented on #354
Happy to be part of this team :smile:

[2020-01-21 07:19] robertsLando commented on #354
@mcollina About my main question. In my opinion the main difference that could point peoples to use aedes instead of Mosca is to use a broker that supports clustering. Maybe this could be explained in docs? I also would like to add some more usage examples to examples folder.

Other questions:
- Is there any benchmark 'Aedes vs Mosca'?
- What about to start a project or an issue with a TODO to sup

[2020-01-21 07:27] robertsLando commented on #354
@mcollina I also saw your post [here](https://twitter.com/matteocollina/status/1083322337292890112) where you explain why you stopped working at Mosca.

I think you could make some profits with aedes if you enable sponsors on it and also on your github profile.

Personally I have used many different way that sponsors can use to support my opensource work like:

- Patreon
- Paypal
- Buymeacoffie
-

[2020-01-21 09:42] robertsLando commented on #146
@mcollina this can be closed

[2020-01-21 10:06] mcollina commented on #146
@robertsLando you should have write permission now, so you should be able to close those yourself.

[2020-01-21 10:06] #146 closed

[2020-01-21 10:29] robertsLando commented on #146
@mcollina Nope, cannot close issues or do anything

[2020-01-21 12:03] mcollina commented on #146
should be fixed now.

[2020-01-21 13:58] #349 closed

[2020-01-21 14:03] robertsLando commented on #348
@srmarjani Try to set `concurrency` option of aedes to 200

[2020-01-21 14:03] robertsLando commented on #343
Not yet

[2020-01-21 14:04] #335 closed

[2020-01-21 14:04] #330 closed

[2020-01-21 14:54] robertsLando opened #356 "Use reusify for client enqueue"
I see that aedes uses `reusify` for `DoEnqueue` function. Could we use reusify also for client [enqueue](https://github.com/moscajs/aedes/blob/master/lib/client.js#L326) method?
Could it increese performances?

[2020-01-21 15:41] mcollina commented on #356
I don't see how, there is very little state involved

[2020-01-21 16:07] robertsLando commented on #356
@mcollina Ok, just a thought

[2020-01-21 16:07] #356 closed

[2020-01-22 11:11] srmarjani commented on #354
Hi
I am using this package in my project.
Now is time to pay price by contributing
:)

[2020-01-22 11:18] mcollina commented on #354
Would you like to be added to the org?

[2020-01-22 13:03] robertsLando commented on #354
@mcollina I think that creating a TODO/Roadmap would be the best thing for new contributors.

[2020-01-22 13:25] mcollina commented on #354
Would you like to craft one? From my point of view:

[ ] update Mosca so that is based on Aedes and mqemitter (this means a full rewrite of the codebase)
[ ] use github action to test all the persistences / mqemitter on separate processes to avoid limits of the databases
[ ] implement the authorizer.
[ ] closing all issues and PRs that are outstanding

On top of this, we should work on adding MQTT

[2020-01-22 15:57] robertsLando commented on #354
Why this? What about to make mosca unmantained (like it is from 2018) and redirect users to use aedes instead?

More info about what is this?

[2020-01-22 16:06] mcollina commented on #354
Mosca provides an out-of-the-box experiece with all the dependencies. I'm also happy to mark that unmaintained. Moreover, we should also add some integration tests that are currently missing. In my original ideas those would live inside Mosca, but they can also live in another repo.

Here is the authorizer https://github.com/moscajs/mosca/blob/master/lib/authorizer.js and docs are in https://githu

[2020-01-22 16:22] robertsLando commented on #354
@mcollina In poor words the authorizer provides clients authorizations based on a json file that is used as db of the users and their passwords and allowed publish/subscribe topics glob.

Isn't this only used when running mosca as standalone? We should so firstly make aedes be runnable as standalone like mosca?

In my opinion this would be good as will force lot users to use aedes, this means more

[2020-01-22 16:25] robertsLando opened #357 "[feat] Extend Aedes tests against all mqemitter/persistences"
Use Github Actions to trigger more extended tests for supported aedes-persistences/mqemitters

[2020-01-22 16:27] robertsLando opened #358 "[feat] Implement Authorizer"
Here is the authorizer https://github.com/moscajs/mosca/blob/master/lib/authorizer.js and docs are in https://github.com/moscajs/mosca/wiki/Authentication-&-Authorization#using-moscas-standalone-authorizer-with-an-embedded-mosca.

[2020-01-22 16:28] robertsLando opened #359 "[feat] Aedes as a standalone service"
Like Mosca https://github.com/moscajs/mosca/wiki/Mosca-as-a-standalone-service

[2020-01-22 16:30] robertsLando commented on #354
I have created a Project with related issues/features. https://github.com/moscajs/aedes/projects/1

[2020-01-22 16:37] robertsLando opened #360 "[feat] Mqtt 5 support"
Mqtt 5 support: https://github.com/mqtt/mqtt.github.io/wiki/Differences-between-3.1.1-and-5.0

TODO: Add a list of features

[2020-01-22 16:38] #343 closed

[2020-01-22 16:43] #360 closed

[2020-01-22 16:44] robertsLando commented on #194
https://github.com/mqtt/mqtt.github.io/wiki/Differences-between-3.1.1-and-5.0

[2020-01-22 16:44] robertsLando commented on #194
@muka Are you interested to help implementing v5 support in Aedes too?

[2020-01-22 17:18] mcollina commented on #359
My view of Mosca is to be “aedes standalone”, with a CLI and everything.

[2020-01-23 07:27] robertsLando commented on #359
Ok so in poor words you want to replace Mosca core with Aedes and keep Mosca only as standalone service? Instead of a complete codebase rewrite of Mosca wouldn't be better to just import aedes as dependence in Mosca?

[2020-01-23 08:06] mcollina commented on #359
Yes, that's what I was trying to say. Remove all code from Mosca and replace the internals with Aedes, adding a CLI and an Authorizer.

[2020-01-23 08:16] srmarjani commented on #357
Hi
This is not clear enough.
Did you mean , add tests for all of aedes-persistences/mqemitters like ones for redis and mongo?

[2020-01-23 08:26] srmarjani commented on #359
And what about Name? we call it mosca yet?

[2020-01-23 08:29] robertsLando commented on #357
Nope. From what I have understand I think @mcollina means that would like that aedes tests need to run using all difference persistences/mqemitters avbailable using [Github actions](https://github.com/features/actions) instead of redis, they allows to create multiple tasks, I think we could handle this by simply add 2 env vars that specify the mqemitter instance and the persistence and edit aedes

[2020-01-23 08:33] mcollina commented on #359
I would say so, Mosca is currently dead.

[2020-01-23 08:58] robertsLando commented on #359
Based on this. I suggest you to add a big title on mosca to redirect users to use aedes and set it as unmantained (block issues/pr)

[2020-01-23 09:16] srmarjani commented on #359
I think I have time to do this tasks
I would add cli to base code and then we can decide about authorizer

[2020-01-23 09:16] mcollina commented on #357
I would prefer a very different approach.

Having some tests that use mqtt.js to connect to Aedes and very some of the basic functionality.
Most of the tests here are unit and they expect things to run single-process.

[2020-01-23 09:27] robertsLando commented on #359
@srmarjani based on what @mcollina said, I think you have to work on mosca not aedes, so you don't need to move cli code here but instead move aedes core in mosca

[2020-01-23 09:30] robertsLando commented on #357
Ignore my PR so. WIll wait you to start a different repo for them. I think the actions.yml code can be taken as a base for actions (or not) ?

[2020-01-23 09:32] mcollina commented on #357
yes, definitely!

Il giorno gio 23 gen 2020 alle ore 10:30 Daniel Lando <
notifications@github.com> ha scritto:

[2020-01-23 09:58] srmarjani commented on #359
I think we can have another package like aedes-cli.
Adding cli to aedes code base make it heavy
for example fastify has below
https://github.com/fastify/fastify-cli

[2020-01-23 10:40] robertsLando commented on #359
I Upvote @srmarjani option, I think that Aedes should be keeped as slim as possible

[2020-01-23 11:14] robertsLando commented on #348
@srmarjani Did you fixed? Can this be closed?

[2020-01-23 11:14] #345 closed

[2020-01-23 11:20] robertsLando commented on #342
@qiyongtao Did you fixed someway? Seems not something related to the example but maybe an OS/Node problem

[2020-01-23 11:20] robertsLando commented on #270
@mcollina Could be this a feature?

[2020-01-23 11:21] #248 closed

[2020-01-23 11:22] #236 closed

[2020-01-23 11:22] #230 closed

[2020-01-23 11:23] mcollina commented on #270
sure thing, yes.

[2020-01-23 11:24] robertsLando commented on #226
@xushunke Could you explain your problem better please?

[2020-01-23 11:25] robertsLando commented on #270
@gnought Would you mind do this?

[2020-01-23 11:25] #225 closed

[2020-01-23 11:26] robertsLando commented on #221
@mcollina Has this been fixed?

[2020-01-23 11:30] mcollina commented on #221
no clue

Il giorno gio 23 gen 2020 alle ore 12:26 Daniel Lando <
notifications@github.com> ha scritto:

[2020-01-23 12:19] srmarjani commented on #348
Hi
I will try to reproduce the bug. because I choose another approach.
But I guess increasing the concurrency is not a solution.
Because concurrency is 100 by default but as you see in warning 11 event on `connected` event of client make problem.

[2020-01-23 12:27] srmarjani commented on #359
@mcollina  and @robertsLando  I have three options based on my prefer
1. Add a new package called aedes-cli. That needs another repo so I could fork and work on it.
2. Add cli to current source code of aedes
3. Change the current Implementation of Mosca

[2020-01-23 12:35] robertsLando commented on #348
You right! I think in that case we should queue packets and set connect event in client init, when connected event is fired handle all queued packets (if present)

Daniel

[2020-01-23 12:42] #199 closed

[2020-01-23 12:43] #187 closed

[2020-01-23 12:45] #182 closed

[2020-01-23 12:46] #164 closed

[2020-01-23 12:47] robertsLando commented on #129
@mcollina Is this a feature that needs to be added?

[2020-01-23 12:50] robertsLando commented on #139
@mcollina

This has been fixed in recent commits. Can I close this one?

[2020-01-23 12:53] robertsLando commented on #157
Some persistences like redis and mongo already support ttl

[2020-01-23 12:53] #157 closed

[2020-01-23 12:53] #342 closed

[2020-01-23 12:56] robertsLando commented on #159
I think that this was related to aedes-persistence-mongo and could be fixed in latest releases

[2020-01-23 12:56] #159 closed

[2020-01-23 12:59] robertsLando commented on #338
@getlarge Would you mind to submit a PR for this?

[2020-01-23 12:59] robertsLando commented on #221
@gnought Do you know ?

[2020-01-23 13:01] robertsLando commented on #359
@mcollina Could you start another repo called aedes-cli? I think this is the best option

[2020-01-23 13:11] #139 closed

[2020-01-23 13:15] mcollina commented on #129
I think this is already there
Il 23 gen 2020, 13:47 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-01-23 13:23] #129 closed

[2020-01-23 13:26] mcollina commented on #359
Can’t you?
Il 23 gen 2020, 14:01 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-01-23 13:26] robertsLando commented on #331
@mcollina Is there any possibility that a client goes offline, client disconnect event is not triggered, the client connects (with same client ID) and than the keepalive timeout fires and detects the client offline?

[2020-01-23 13:28] robertsLando commented on #359
DIdn't know I had permissions to create repos to the org. I think also @srmarjani can so.

If you agree @srmarjani could start the new repo `aedes-cli`

[2020-01-23 14:10] srmarjani commented on #359
@mcollina @robertsLando I think it would not good everyone have right to add repo

[2020-01-23 14:14] robertsLando commented on #359
@srmarjani Not everyone has, just us [maintainers team](https://github.com/orgs/moscajs/teams/maintainers)

[2020-01-23 14:15] mcollina commented on #359
Done https://github.com/moscajs/aedes-cli

[2020-01-23 14:26] robertsLando commented on #357
@mcollina What about `aedes-test` repo? Would you like me to create it?

I also need to understand which tests you would like to add there

[2020-01-23 14:31] mcollina commented on #357
Integration/black box test.

Start an _external_ aedes broker and use MQTT.js to validate it works.

[2020-01-23 15:06] robertsLando commented on #359
@mcollina Also consider this https://github.com/moscajs/mosca/pull/811

[2020-01-23 19:39] getlarge commented on #338
Yes i might make a proposal next week.
By the way, there is still an issue in the with the protocol decoder when Aedes broker is used behind a TCP proxy which handles SSL termination.
The packet is splitted in two, on one side the protocol proxy header and the TCP buffer on the other.
Any help to solve this would be appreciated.

[2020-01-23 19:57] robertsLando commented on #338
Would you mind to open a new issue about that? Just to keep track of it

Daniel

[2020-01-24 04:22] gnought opened #363 "Purpose of running nextBatch() when Client is instantiated"
We are listening to `packet` event in mqtt parser in https://github.com/moscajs/aedes/blob/master/lib/client.js#L51, are there any purpose to run nextBatch() once we instantiate the Client object at https://github.com/moscajs/aedes/blob/master/lib/client.js#L86 ?
@mcollina

[2020-01-24 07:38] getlarge opened #364 "Protocol decoder not always working with TCP proxy"
There is still an issue in the the protocol decoder when Aedes broker is used behind a TCP proxy which handles SSL termination.
The packet is splitted in two, on one side the protocol proxy header and the TCP buffer on the other.
Any help to solve this would be appreciated.

_Originally posted by @getlarge in https://github.com/moscajs/aedes/issues/338#issuecomment-577841457_

[2020-01-24 07:47] robertsLando commented on #363
@gnought _parsingBatch is inited to 1 on purpose on client I think to trigger first protocolDecode?

[2020-01-24 08:09] robertsLando commented on #364
@mcollina Any suggestion for this?

[2020-01-24 08:44] robertsLando commented on #226
Closing until response

[2020-01-24 08:44] #226 closed

[2020-01-24 08:46] robertsLando commented on #192
@urmik Could you try to replicate test with latest Aedes versions?

[2020-01-24 09:46] mcollina commented on #364
I think this was solved in https://github.com/moscajs/aedes/pull/334.

[2020-01-24 09:53] robertsLando commented on #364
@mcollina @getlarge Is the author of that PR so I think this is not fixed

[2020-01-25 04:37] gnought commented on #363
The nextBatch has been there before the protocolDecode was merged into main branch.

[2020-01-25 16:25] mcollina opened #371 "Please fix CI before merging any new PRs"
As titled. CI got broken when moving to the org

We should migrate to Github Actions anyway.

[2020-01-26 12:36] ffa500 opened #373 "Topic matching: Single-level wildcard does not match empty level"
I'm running aedes@0.40.1. My MQTT.JS v3.1.1 client subscribes to topic "a/+/c" but it doesn't receive publications on topic "a//c". Publishing on "a/b/c" is okay. Same issue with "a/+": matching against "a/" does not work, but "a/b" is fine.

Seems aedes is not supporting single-wildcard matching against empty levels. Mosca does not support it either. Yet, other brokers like mosquitto or HiveMQ su

[2020-01-26 12:49] mcollina commented on #373
would you mind to send a PR to address this? Or at least point us in the right direction.
Il 26 gen 2020, 13:36 +0100, Hubertus Hohl <notifications@github.com>, ha scritto:

[2020-01-26 15:59] gnought commented on #373
This relates to Qlobber used in our mqemitter.
Qlobber (https://github.com/davedoesdev/qlobber) states

`wildcard_one` only matches non-empty words, there are 2 options.
1. submit a PR to Qlobber
2. or tweak mqemitter to add one match (e.g. a//c and a/)

@mcollina which one is preferred, or any good options?

[2020-01-26 16:09] mcollina commented on #373
cc @davedoesdev what do you think?

[2020-01-26 17:52] #371 closed

[2020-01-26 18:59] davedoesdev commented on #373
I'm happy to add an option to Qlobber to change the behaviour so `wildcard_one` matches empty word as well. Is that the cleanest solution for aedes?

[2020-01-27 09:28] robertsLando commented on #363
@mcollina ?

[2020-01-27 09:29] robertsLando commented on #364
@getlarge Could you create an example to reproduce this bug?

[2020-01-27 10:08] mcollina commented on #363
`nextBatch` responsibility is to feed chunks into the parser in a very fast way. We trigger it immediately because the first chunk we receive after opening a socket usually contains the CONNECT packet, so it's triggered immediately.

[2020-01-27 10:21] getlarge commented on #364
Sure, but it's not so simple to reproduce.
It would require to start an app with Aedes + MQTT client and have Nginx or HAProxy running with some SSL certs.
Should i provide a docker-compose file for this ?

[2020-01-27 15:09] robertsLando commented on #363
@gnought Can we close this so?

[2020-01-27 16:33] robertsLando commented on #364
I think a docker compose would be fine :)

[2020-01-27 19:08] gnought commented on #363
It is understand that we want to get chunks as fast as we could, but the data may not available in the stream. Don't we listen listen the `readable` event (in https://github.com/moscajs/aedes/blob/master/lib/client.js#L89) for that purpose?

[2020-01-27 21:02] mcollina commented on #363
Yes, that should be good as well.

[2020-01-27 21:12] robertsLando commented on #363
So that could be removed without losing speed, it is just uneccessary

Daniel

[2020-01-28 09:55] getlarge commented on #364
Now i'm confused, i created a [test repo](https://github.com/getlarge/aedes-proxy)  for this case and it seems to work well.
So the issue might be specific to a Nginx configuration point and / or maybe docker-compose networks since i saw this issue in this context.
I will try to figure how to reproduce it.

[2020-01-28 10:37] robertsLando commented on #364
@getlarge Let me know

[2020-01-28 16:56] KdeK opened #377 "TLS-PSK Support"
With the latest version of Node supporting TLS-PSK [https://nodejs.org/api/tls.html#tls_pre_shared_keys].  I'm wondering if there is a roadmap for Aedes to support it as well or if I'm just missing something in the options for TLS.

[2020-01-28 17:04] #363 closed

[2020-01-29 07:08] robertsLando commented on #373
@davedoesdev I think that would be good, or maybe simply add an option like `matchEmptyLevels` , to be sure that this doesn't break any existing instance. @mcollina What do you think it's best?

[2020-01-29 07:08] mcollina commented on #373
+1 for a new option!
Il 29 gen 2020, 08:08 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-01-29 10:02] Debdutto commented on #221
Hi @robertsLando

I could still reproduce this with the test script provided with the latest version `0.40.1`
`#` still matches `$SYS` topics and receives its own heartbeats.

[2020-01-29 10:04] robertsLando commented on #221
@Debdutto Thanks!

[2020-01-29 10:15] robertsLando commented on #377
You should just init your TLS-PSK server and than call aedes.handle(server) to attach aedes to it

[2020-01-29 10:15] #377 closed

[2020-01-29 10:22] robertsLando commented on #221
It should be fixed by https://github.com/moscajs/aedes/pull/312 @gnought ?

[2020-01-29 10:25] getlarge commented on #364
@robertsLando So after some more tests, it seems the bug appears "randomly" ( because i don't understand why), that's why i didn't catch it yesterday.
As you can see on the screenshot, sometimes the new connection triggers protocolDecoder once, and some other time it triggers it twice.
It might happen due to the condition in nextBatch ?  Because nextBatch would be triggered twice before connack is

[2020-01-29 10:30] robertsLando commented on #364
@getlarge In latest commit nextBatch call in client init has been removed. Coould you use the version from master to test this?

[2020-01-29 10:34] getlarge commented on #364
I already use the github repo in `package.json`, and when the image is built all dependencies are installed.
I will try to confirm.

[2020-01-29 10:35] robertsLando commented on #364
So you are not using npm install aedes (that installs latest npm version 0.40.1) but are you cloning it from github?

With npm install moscajs/aedes/#master you use latest code available on master instead latest published version

[2020-01-29 10:40] getlarge commented on #364
Yes i cloned it from github to have the decodeProtocol hook.

[2020-01-29 10:46] robertsLando commented on #364
The fix has landed yesterday so if you are sure you are running it from the master now that is not the problem. Let's wait if @mcollina has any other suggestion

[2020-01-29 11:05] getlarge commented on #364
In fact i'm going to rename the issue, since the problem occurs ( it seems less often ) when using  a simple TCP connection ( with no SSL ).

[2020-01-29 14:34] getlarge commented on #364
The only trick i found to avoid this issue, is to remove the else condition when no data has been extracted from the `broker.decodeProtocol`.
So in this case the client sends the connection packet several times ( in fact 2 times, it seems to be constant ) and the connack is only sent when the buffer is composed of the proxy header and the mqtt packet.
Not sure this is the right way to handle this

[2020-01-29 14:38] gnought commented on #221
@robertsLando yes, it should be fixed.
@Debdutto what's your test script. Here is mine:
[code]

[2020-01-29 16:12] robertsLando commented on #364
@getlarge When protocol decoder fails, what is the buffer received?

[2020-01-29 16:44] #328 closed

[2020-01-29 16:45] #289 closed

[2020-01-29 16:58] robertsLando commented on #285
Isn't QoS from the `packet`?

The `client` prop is only used in `callPublished` method.

[code]

From what I have understand `client` parameter is needed in `Aedes.prototype.publish` to get the client that published that packet (that is null when is from broker)

[2020-01-29 17:39] getlarge commented on #364
`var {data}` that's the TCP Buffer (containing only the MQTT packet) extracted without the proxy protocol header and it should be present when a client connects behind a TCP proxy.
What is causing the issue is that `data` is empty because only the proxy protocol header was received from `buf` ( even if i don't know why, maybe the size of the client.conn.read buffer ? Or Nginx proxy splitting the b

[2020-01-30 00:51] Makaan opened #378 "QoS 2 delivers multiple messages from the server instance"
Hello, i started using this package and when i want to publish a message from the server to the suscribed clients it's get delivered multiple times with QoS 2.
Here is my simple code:
[code]

The client (using the mqtt package from npm):

[code]

[2020-01-30 07:08] robertsLando commented on #364
@gnought Thoughts on this?

[2020-01-30 07:10] robertsLando commented on #364
Shouldn't also clients connected using websockets get them?

[2020-01-30 07:28] getlarge commented on #364
@robertsLando Yes clients using websockets would, ( from socket._socket ) and if broker.trustProxy = true, they would get in priority information from headers set by the proxy server.

[2020-01-30 09:15] robertsLando commented on #378
You should show more code because It's not clear here where yoo call that `publish` function. Anyway `cmd: 'publish` doesn't need to be specified when publishing a message

[2020-01-30 09:38] robertsLando commented on #364
Could it be a protocol or nginx related behaviour to firstly send a packet with empty data field? Should check specs about them to check if this is normal

About `if (!client.connackSent && buf)`, I upvote this so like you said even clients which are not behind a proxy would also get their connection information in `client.connDetails`

But maybe this could slow down a little packets parsing when

[2020-01-30 10:55] getlarge commented on #364
It could be related to the specs, but then why this issue would appear randomly ?
"Sometimes" the MQTT packet and the Proxy header are concatenated in the same buffer and "sometimes" they are separated.
I can't see any clarification in [Proxy Protocol spec](https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt) neither in [Nginx Docs](https://docs.nginx.com/nginx/admin-guide/load-balancer/us

[2020-01-30 14:19] Makaan commented on #378
The idea is that i will recieve messages from AWS Simple Notification Service and broadcast them using mqtt:
[code]

And here is all the code of my service:
[code]

[2020-01-30 16:41] gnought opened #381 "Ways to promisify aedes-codebase friendly."
Please suggest preferable ways to make aedes-codebase be promise friendly?

[2020-01-30 16:46] gnought opened #382 "Code Style about declaring anonymous function"
Which coding style do you prefer for anonymous functions?

Take an example:
`setTimeout(() => { console.log('times up') }, 1000)`
or
`setTimeout(function () { console.log('times up') }, 1000)`
or
`setTimeout(function log() { console.log('times up') }, 1000)`

[2020-01-30 17:18] robertsLando commented on #382
+1 For first one

[2020-01-30 17:43] gnought commented on #382
It is best we agree one of those to make it consistent in all our aedes codes.

[2020-01-30 20:30] davedoesdev commented on #373
`match_empty_levels` is available in qlobber 4.1.0.
Pass it as `true` wherever you pass `wildcard_one`.

[2020-01-30 21:53] robertsLando commented on #373
Isn’t qlobber 4+ only nodejs 12+ compatible?

Daniel

[2020-01-30 22:05] davedoesdev commented on #373
Yes. What versions does mosca/aedes support?

[2020-01-31 03:17] gnought commented on #373
@davedoesdev aedes now supports nodejs >=8, could we have the `match_empty_levels` option in v3.1.0 ?

[2020-01-31 07:13] davedoesdev commented on #373
Let me take a look. I may be able to roll back to >= 8 even on qlobber v4.
Might be a few days that, hope that's OK.

[2020-01-31 07:25] robertsLando commented on #373
@davedoesdev Yes that would be good.

[2020-01-31 08:43] robertsLando opened #384 "Aedes test coverage"
Here a list of tests to add in order to increese aedes coverage:

- [x] `/lib/qos-packet.js` Add test when `client._nextId` is > 65535

- [x]  `lib/handlers/pubrec.js` Test error thrown in `reply` function

- [x] `aedes.js`: Test `deleteOldBrokers` function, `publishWill` function when throws an error, `checkAndPublish` when needPublish is false, `doneEnqueue` when throw error

- [x] l`ib/client.j

[2020-01-31 09:23] mcollina commented on #373
I’m happy to bump to drop 8.x instead of 10.x.
Il 31 gen 2020, 08:25 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-01-31 10:16] mcollina commented on #382
Two of those are different:

`setTimeout(() => { console.log('times up') }, 1000)` retains a reference of `this`. This might be wanted or not, and it has some memory consideration.

`setTimeout(function () { console.log('times up') }, 1000)` does _not_ retain a reference to `this`.

Given that they are not equal they have different meaning, I tend to use the two to tell the reader what I am doing.

[2020-01-31 10:24] mcollina commented on #381
Every time there is a function that is user specified, we should wrap it in the following way:

[code]

This might become more specific in certain cases, see https://github.com/fastify/fastify/blob/master/lib/wrapThenable.js for an example

[2020-01-31 10:26] gnought commented on #382
@mcollina thanks for pointing out and your expertise. :)
I have tried
[code]

only the first `setTimeout(() => { console.log(this) }, 1000)` haven't `this` reference. Does it mess something up?

[2020-01-31 10:57] robertsLando commented on #381
what about create an helper executor? Something like:

[code]

[2020-01-31 11:04] robertsLando commented on #382
Didn't know about this :+1:

So no generic code style but use the method that best fits the use case

[2020-01-31 11:18] mcollina commented on #381
unfortunately it won't work. It cannot be an async function otherwise you can get into problems of handling errors.

[2020-01-31 13:09] robertsLando commented on #381
@mcollina Should we handle errors even in functions given by users? For example `authenticate` ? Shouldn't that be handled by them?

[2020-01-31 16:33] gnought opened #386 "Any performance benefits for changing var to const?"
Take an example:
[code]
Any performance benefits if we change `var` to `const` ?

[2020-01-31 16:34] mcollina commented on #386
zero

Il giorno ven 31 gen 2020 alle ore 17:33 Gnought <notifications@github.com>
ha scritto:

[2020-01-31 16:37] gnought commented on #386
Is it good to change to `const` if those variables are read-only?

[2020-01-31 16:41] mcollina commented on #386
yes

Il giorno ven 31 gen 2020 alle ore 17:37 Gnought <notifications@github.com>
ha scritto:

[2020-01-31 16:45] #386 closed

[2020-01-31 17:35] gnought commented on #373
qlobber v4 requires at least nodejs>=12.

[2020-01-31 20:15] davedoesdev commented on #373
It's OK, I'll try to put node >=8 support back in

[2020-01-31 20:58] davedoesdev commented on #373
qlobber 4.2.0 supports Node >= 8. Worker thread and async support is only enabled on Node >= 12 but I don't think you use those features.

[2020-02-01 05:11] gnought commented on #373
Thanks @davedoesdev
@mcollina we need to bump mqemitter version when upgrading to qlobber v4.2.0, fine?

[2020-02-01 10:14] mcollina commented on #373
Yes, thanks.
Il 1 feb 2020, 06:11 +0100, Gnought <notifications@github.com>, ha scritto:

[2020-02-01 10:39] mcollina commented on #381
In order to be reliable, we need to handle the errors thrown by `async` functions as they are errors passed to the `cb`.

[2020-02-01 19:19] gnought commented on #381
Lots of aedes codes are in callback-based, is it possible to switch to promise-based?

[2020-02-01 23:40] mcollina commented on #381
That will slow down aedes significantly, as well as increasing memory load.

[2020-02-03 09:53] robertsLando commented on #378
@Makaan Could you provide a working example to reproduce the problem?

[2020-02-03 09:57] #331 closed

[2020-02-03 09:58] #348 closed

[2020-02-03 14:15] gnought opened #396 "clientError raised in DISCONNECT but not end()"
The following test works fine. What I found is, the `DISCONNECT` will be proceed later than the `PUBLISH hello`, so the `clientError` error is triggered.
[code]
If we replace with
[code]
It works differently and plan number should be 4. The `end()` will immediately close subscriber connection and unsubscribe any topics. The subsequent `PUBLISH hello` will not publish to the subscriber. No `clientE

[2020-02-03 14:30] gnought commented on #396
The `DISCONNECT` will close the underlying connection but it is in mqtt message queue. It calls same `end()`.

[2020-02-04 13:37] robertsLando opened #397 "Release script"
@mcollina Would you like me to setup a release script like the one used in protocol-decoder? (using release-it)

[2020-02-04 13:50] robertsLando commented on #396
@gnought It should work in the same way as there is the `eos` setup on `client.conn` :confused:

[2020-02-04 14:22] robertsLando commented on #396
@mcollina

[2020-02-04 17:43] mcollina commented on #397
I'd prefer to keep using my current stack for now
Il 4 feb 2020, 14:37 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-02-04 18:35] mcollina commented on #396
I don't understand the question

[2020-02-04 19:04] gnought opened #398 "About protocol decoder"
Sorry a bit late to look into the aedes protocol decoder. It seems that it is doing several things:
- support proxy protocol v1 and v2, and extract the actual payload to aedes
- extract out partial connection details under client object root when it is a websocket / proxy.

IMO, it is not good to create a hook for decoding data. Hooks in aedes mainly are on mqtt flow, but protocol decoder is relat

[2020-02-04 19:55] robertsLando commented on #398
Why it is not a good idea to create an hook for data decoding? How could a user do the same thing as protocol decoder does without using it? About connDetails I’m +1 for that.

I don’t understand the solutions you have in mind when you say that it isn’t good

Daniel

[2020-02-05 04:57] gnought commented on #396
I think it relates the event loop.

`disconnect` -> `conn.end()` -> end event trigger and subscriber closes

1. publisher PUBLISH
2. publisher receives PUBACK
3. broker PUBLISH
4. broker mqemitter deliverQoS
5. trigger `connection closed` as subscriber conn end

`end()` > subscriber closes

1. publisher PUBLISH
2. publisher receives PUBACK
3. broker PUBLISH
4. <Here we will miss mqemitter deliverQ

[2020-02-05 07:06] #397 closed

[2020-02-05 07:41] robertsLando commented on #359
@srmarjani Any news ?

[2020-02-05 10:04] #396 closed

[2020-02-05 10:21] mcollina opened #405 "use ws instead of websocket-stream"
ws now includes a stream wrapper.

[2020-02-05 14:04] gnought commented on #397
@mcollina would you mind to share what your current stack is?

[2020-02-05 15:11] mcollina commented on #397
I do them manually or by using http://npm.im/releasify

[2020-02-06 10:39] robertsLando commented on #405
Do you mean this: https://github.com/websockets/ws#use-the-nodejs-streams-api?

[2020-02-06 11:36] mcollina commented on #405
yes

Il giorno gio 6 feb 2020 alle ore 11:39 Daniel Lando <
notifications@github.com> ha scritto:

[2020-02-06 12:54] robertsLando commented on #398
@gnought

[2020-02-06 13:07] robertsLando commented on #405
@mcollina Why? What are the benefits?

[2020-02-06 13:43] mcollina commented on #405
websocket-stream is almost unmaintained
Il 6 feb 2020, 14:07 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-02-06 18:34] getlarge commented on #364
@robertsLando following the change with protocolDecoder, you forgot to implement the condition changes that fixes this issue.
Unless it was on purpose ?
Also we suggested that client.broker.trustProxy should not need be true to go through broker.protocolDecoder. Should i make a PR for this ?

[2020-02-06 20:07] robertsLando commented on #364
Yes go for it!

Daniel

[2020-02-07 09:54] robertsLando commented on #384
#414

[2020-02-07 09:55] gnought commented on #398
What i understand is we need to keep aedes simple.

aedes accepts raw socket that dealing with raw mqtt traffic, we could let developers to parse any wrapped protocol like PROXY before feeding into aedes. The following is an example.

[code]

[2020-02-07 10:04] robertsLando commented on #398
@gnought This could be an alternative but what I don't understand is how can aedes-protocol-decoder add complexity to aedes? It has been splitted out from it, if someone don't use it aedes is still simple

[2020-02-07 10:13] gnought commented on #398
if this is the case, we need to consider decoding HTTP, HTTPS, socks proxy, other tunnelling protocols.
`connDetails` is a overhead. I prefer they will modify socket properties

[2020-02-07 10:22] robertsLando commented on #398
I understand what you mean but in that case someone if interested could develop its own custom plugin starting from protocol decoder to support a different protocol, about the overhead is there any performance gain to use your method instead of aedes-protocol decoder or any other custom protocol decoder in the way it works now?

[2020-02-07 11:56] gnought commented on #398
the protocol decoder is not an interface, its current behaviour is parsing websocket / PROXY and injects some connection details in `connDetails`. You wanna let developers to build their plugins on top of that behaviour?

[2020-02-07 12:47] robertsLando commented on #398
@gnought Why not?

[2020-02-07 14:54] gnought opened #415 "[feat] Check the returned subscription in authorizeSubscribe"

[2020-02-07 15:37] robertsLando commented on #415
@gnought Could you point to the piece of code?

[2020-02-10 12:29] ffa500 commented on #373
Thanks  @mcollina @gnought @davedoesdev @robertsLando for your awesome cooperation!
Cheers Hubertus

[2020-02-10 12:58] robertsLando commented on #373
Sorry but it is not fixed yet, still having problems with latest qlobber versions

Daniel

[2020-02-10 13:54] robertsLando opened #422 "[question] Error catch in checkAndPublish"
Where does this err is catched? https://github.com/moscajs/aedes/blob/master/aedes.js#L114

@gnought

[2020-02-10 14:12] robertsLando commented on #422
Seems that it is not possbile to write tests for this lines of code:

https://github.com/moscajs/aedes/blob/master/aedes.js#L114
https://github.com/moscajs/aedes/blob/master/aedes.js#L123

Those lines can never be reached as persistence makes this test in streamWill: https://github.com/moscajs/aedes-persistence-mongodb/blob/master/persistence.js#L629

[2020-02-10 14:42] gnought commented on #422
For https://github.com/moscajs/aedes/blob/master/aedes.js#L114,
the `err` comes from `aedes.publish`

[2020-02-10 15:18] robertsLando commented on #422
@gnought Yes but where does that error goes? I mean how can you catch it?

[2020-02-11 08:43] robertsLando commented on #422
@mcollina

[2020-02-11 09:07] davedoesdev commented on #373
Please use qlobber v5.0.0

[2020-02-11 09:31] robertsLando commented on #373
@davedoesdev Thanks! It has landed on mqemitter

[2020-02-11 11:05] Pakkes opened #425 "[question] Still limited to 200 connections also with Aedes"
Hi.
By following the suggestion from @robertsLando I moved to Aedes. Which is a great module!
However I'm still not able to get more than 200 connections on the server. Simply the server stops allowing further connections once reached 200.
Any suggestion on where I could look for a possible setting limiting the #of concurrent connections to the server? I've tried to run the server on a Windows 10

[2020-02-11 11:12] robertsLando commented on #425
I can't reproduce your problem on my machine. You should provide some more informations about your server configuration and provide a working example

[2020-02-11 13:49] mcollina commented on #422
Currently that error will result in an uncaughtexception. It will be emitted by the stream. I recommend to use pump or pipeline and forward that error to the aedes instance.

[2020-02-11 14:04] robertsLando commented on #422
@mcollina pump is no more a project, I suggest to use pipeline instead

[2020-02-11 14:24] robertsLando commented on #422
@mcollina done

[2020-02-11 15:34] #422 closed

[2020-02-11 15:36] robertsLando commented on #364
@getlarge Any news?

[2020-02-11 18:32] getlarge commented on #364
@robertsLando  I saw the discussion on #365 and thought it might be smarter to wait until it goes into aedes to bring the change.

[2020-02-11 22:25] robertsLando commented on #364
If you want to join that discussion you are welcome, gnought made some changes in his “next” branch that requires some thoughts about protocol decoder.

Daniel

[2020-02-12 09:05] muka commented on #194
Hi @robertsLando, yes I can commit some free time during the week. Ping me somewhere for an alignment! Thanks

[2020-02-12 09:44] robertsLando commented on #194
@muka Nice! :smile: We can keep this issue as a track for mqttv5 progress, if you need any other info just ask

[2020-02-12 09:46] robertsLando commented on #194
- [ ]  Session expiry:

Split the Clean Session flag into a Clean Start flag which indicates that the session should start without using an existing session, and a Session Expiry interval which says how long to retain the session after a disconnect. The session expiry interval can be modified at disconnect. Setting of Clean Start to 1 and Session Expiry Interval to 0 is equivalent in MQTT v3.1.1 o

[2020-02-12 10:37] robertsLando opened #428 "[bug] Catch mqtt-packet parser errors"
@mcollina Actually we don't catch mqtt-pacekt parser errors. I have tried to create a test sending wrong cmd to the inStream and mqtt-packet throws an error `Unknown command` that is not catched even if I add [here](https://github.com/moscajs/aedes/blob/master/lib/client.js#L55)

[code]

on client.js.

[2020-02-12 11:30] mcollina commented on #428
That’s ok and it should destroy the connection
Il 12 feb 2020, 11:37 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-02-12 13:44] robertsLando commented on #428
@mcollina It's not ok, it doesn't catch the error

[2020-02-12 14:20] mcollina commented on #428
So the error is not emitted? Can you upload a test to reproduce?

[2020-02-12 14:29] robertsLando commented on #428
@mcollina

[code]

[2020-02-12 14:57] robertsLando commented on #428
Here: https://github.com/moscajs/aedes/runs/440829422#step:6:384

[2020-02-12 15:21] mcollina commented on #428
That error is thrown by the test harness when it generates a packet and not by Aedes.

[2020-02-13 14:17] #384 closed

[2020-02-13 17:11] #378 closed

[2020-02-13 17:12] #192 closed

[2020-02-13 17:13] #221 closed

[2020-02-13 17:14] #285 closed

[2020-02-13 17:14] #382 closed

[2020-02-14 17:06] gnought commented on #373
We haven’t enabled the “match empty level” option yet.

[2020-02-14 17:37] robertsLando commented on #373
You right! Could you submit that change to mqemitter?

Daniel

[2020-02-14 17:41] gnought commented on #373
Yes, I have to. One more commit will be submitted to mqemitter to complete all changes

[2020-02-17 00:47] qwertangel commented on #329
+1 , not just mosquitto but any mqtt broker.

[2020-02-17 08:46] robertsLando commented on #373
Reference to the pull request: https://github.com/mcollina/mqemitter/pull/18

[2020-02-17 08:57] robertsLando commented on #329
@qwertangel It is on our todos, in the while you could check https://github.com/robertsLando/Mqtt2Mqtt

[2020-02-18 17:36] abhargav7 commented on #228
any work around you guys found on it? That would be helpful Thanks!!

[2020-02-19 07:12] robertsLando commented on #228
@gnought @mcollina This seems not that hard to implement, it's also part of mqtt5 but could be implemented without having mqtt5 support.

[2020-02-19 12:29] abhargav7 commented on #228
Thanks great to hear its quick. Its a powerful feature to have and solves lots of complex problems.

[2020-02-19 16:18] robertsLando commented on #228
@abhargav7 I don't think it will be quick, it may require also an update of aedes-persistence

[2020-02-19 17:19] abhargav7 commented on #228
Sure, Thanks, when do you think you can contribute this for the betterment of aedes broker?

[2020-02-19 20:33] jdiamond opened #434 "[feat] Option to allow longer client IDs for v3.1.0"
**Is your feature request related to a problem? Please describe.**

Starting in 0.40.0, Aedes is now strictly following the MQTT v3.1.0 spec which limits client IDs to 23 characters. Unfortunately, my company has thousands of devices connecting to our Aedes-based broker using MQTT v3.1.0 with client IDs longer than 23 characters. Aedes previously didn't enforce that and neither did libmosquitto so

[2020-02-19 21:32] mcollina commented on #434
I'm happy to add an option for that!
Il 19 feb 2020, 13:33 -0700, Jason Diamond <notifications@github.com>, ha scritto:

[2020-02-20 02:59] gnought commented on #434
i'm +1 for adding the non-standard option.

[2020-02-20 06:37] robertsLando commented on #434
+1

Daniel

[2020-02-20 07:07] robertsLando commented on #228
I have firstly to speak about this with others maintainers

[2020-02-20 07:35] abhargav7 commented on #228
Thanks, please!

[2020-02-20 10:00] luyufa opened #436 "[bug]pm2 cluster start，aedes unable to publish message"
**System Information**
- Aedes: 0.40.1
- NodeJS: 8.11.4
- OS: centos

**Describe the bug**
pm2 cluster start，aedes unable to publish message。
No errors，but  client cannot accept message。

**To Reproduce**
[code]

[2020-02-20 11:19] gnought commented on #228
I think we need a custom mqemitter.

[2020-02-20 11:33] robertsLando commented on #228
Nope, we just need to create a sharedGroup client that keeps track of all clients subscribed to the group and sends the updates to only one client following round robin algorithm

Daniel

[2020-02-20 12:19] gnought commented on #436
@luyufa same result in pm2 fork mode?

[2020-02-20 12:58] robertsLando commented on #436
@luyufa Could you provide the entire script or an example to reproduce the problem?

[2020-02-21 02:13] #373 closed

[2020-02-21 02:18] luyufa commented on #436
@robertsLando this is pm2 applicatio json ，thanks
[code]

[2020-02-21 02:37] luyufa commented on #436
@gnought pm2 fork mode not support `Load balancing` and `Port complex` so... i prefer to cluster mode

[2020-02-21 02:47] gnought commented on #436
@luyufa thanks for the input, but it is good to have a test if it works in fork mode.

[2020-02-21 02:57] luyufa commented on #436
@gnought  emm...  It only works in cluster mode.

[2020-02-21 03:03] gnought commented on #436
@luyufa we wanna bypass if it is pm2 cluster issue, could you make some code adjustment?

[2020-02-21 03:44] luyufa commented on #436
@gnought no problem , let me try.  thank you for your reply

[2020-02-21 04:25] weiliudong opened #438 "H5 MQTT client connects aedes"
I use the web-mqtt-client.js, mqtt.js, mqttws31.min.js and other plugins to create a client to connect to the aedes server on the H5 front end, but it always shows

[code]

Why is this? Does aedes not support H5 front-end clients? Can anyone help me?

`<script src="js/mqttws31.min.js" type="text/javascript"></script>`

[2020-02-21 08:57] robertsLando commented on #436
@luyufa In order to use aedes with clusters you shouls use a mqemitter that supports clusters like `mqemitter-redis` and also a persistence that is not in-memory but on disk

[2020-02-21 09:02] robertsLando commented on #438
@weiliudong  I'm using javascript Paho mqtt library for connections over websockets and I never had probelms with aedes. Please provide the script you use to init the connection

[2020-02-21 09:19] #425 closed

[2020-02-21 17:47] #434 closed

[2020-02-22 20:53] jdiamond commented on #434
I was planning on working on a PR this weekend but I see you beat me to it. Thanks so much!

[2020-02-23 17:46] gnought commented on #425
@Pakkes we do have a test on concurrent connection https://github.com/moscajs/aedes/blob/fc45bc6cc9bbf01443e6670f2c593dcd280bf20b/test/not-blocking.js#L9
We have tried 500 in Linux and macOS, and all goes fine. You could try to raise the number of connection in the test and see it works in your env.

[2020-02-24 06:07] luyufa commented on #436
@robertsLando  nobody's fault but mine. I didn't use `mqemitter-redis`causing it to not work.
now , it' works fine. thank you I really appreciate your help.

[2020-02-24 07:27] #436 closed

[2020-02-24 10:08] Debdutto commented on #221
Hi @gnought @robertsLando The script I used (which is based of the test script in the issue) still reproduces the issue with `aedes@0.40.1`

Here's the script:

[code]

Here are the logs

[code]

[2020-02-24 10:15] robertsLando commented on #221
@Debdutto That's correct because the check is only done on clients, broker can subscribe to everything

[2020-02-24 10:23] Debdutto commented on #221
Right. Got it. Thanks. 👍

[2020-02-24 15:45] Pakkes commented on #425
Hi. Finally I realized why I got that limitation!!!! I've tried concurrent connections by using WebSockets via browsers (Chrome, Firefox) and it seems that, at least on Windows, there is a 200/203 maximum allowed connections from browser (regardless of the # of browser windows you open). By spanning several browsers on different computers I can get thousands of WebSocket connections. Also, by usin

[2020-02-25 01:38] seeLuck opened #450 "[New Bug]Unsubscribe crush while import mq & persistence at the same time."
Client unsubscribe will crush while using mq & persistence at the same time.
Complete sample is below:

server
[code]

client
[code]

[2020-02-25 01:42] #450 closed

[2020-02-25 01:43] seeLuck opened #451 "[bug]Unsubscribe crush while import mq & persistence at the same time."
Client unsubscribe will crush while using mq & persistence at the same time.
Complete sample is below:

server
[code]

client
[code]

[2020-02-25 07:16] robertsLando commented on #451
@seeLuck Could you also provide console log output please?

[2020-02-25 08:04] seeLuck commented on #451
I deployed the server code online, you can try it by
[code]
On server side catch no error. Client side catch unsubscribe error `Error: Connection closed`

And port 1884 works fine with delete this single line `mq: mqStore`

environment:
[code]

[2020-02-25 09:48] robertsLando commented on #451
@seeLuck Maybe it is something related to you redis server settings? Check also redis logs when client connects

[2020-02-26 01:25] seeLuck commented on #451
@robertsLando
I tried several redis server and machine, same result :(

@gnought
@mcollina
Is this a real bug or sth I miss in settings?

[2020-02-26 03:11] gnought commented on #451
The following is my extended test on top of your sample.
Test cases:
1. Tried to use 1 redis instance => reproducable
2. Tried to use 2 redis instances with different ports => reproducable
3. only use `aedes-persistence-redis`, and left mq be `mqemitter` => fine
4. only use `mqemitter-redis`, and left persistence be `aedes-persistence` => fine

aedes raises `clientError` and the `error` is `1`, ve

[2020-02-26 07:11] robertsLando commented on #451
I'm working on aedes-persistence-redis and I see that it is not compatible with lates mqemitter-redis. Just use mqemitter-redis version 3.0.0 for now. I'm getting that error too and seems that it comes from mqemitter-redis after broker publish in aedes-cached-persistence: https://github.com/moscajs/aedes-cached-persistence/blob/master/index.js#L103

And that is strange because mqemitter shouldn't

[2020-02-26 07:30] mcollina commented on #451
I think this project needs some integration tests to move at the speed we are now pushing it.
Il 26 feb 2020, 08:11 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-02-26 08:19] robertsLando commented on #451
@mcollina we need to release new version of aedes-persistence to npm in order to fix some things. Can I do it? Major or minor? We have dropped nodejs 8

[2020-02-26 08:30] mcollina commented on #451
major
Il 26 feb 2020, 09:19 +0100, Daniel Lando <notifications@github.com>, ha scritto:

[2020-02-26 08:31] robertsLando commented on #451
Ok I do it now

[2020-02-26 09:04] gnought commented on #451
For this issue,
the client is in clean session, when do a subscribe, we won't save the subscription in persistence, but in we call remove subscription in persistence while in unsubscribe. https://github.com/moscajs/aedes/blob/209efd018ab8645f061aed50c0dacf279bb51e6b/lib/handlers/unsubscribe.js#L24-L34

[2020-02-26 09:04] gnought commented on #451
the error is trigger by L27

[2020-02-26 09:13] robertsLando commented on #451
@gnought Good catch! Are you working on a fix? I think adding `&& !client.clean`  to the if should be enought

[2020-02-26 10:22] gnought commented on #451
@robertsLando i will.

[2020-02-26 10:22] gnought commented on #451
@robertsLando where do you see I submit a PR, you will see there may be more upcoming changes. I try to split a PR into as small as possible.

[2020-02-27 08:18] muka commented on #194
Ciao,
I started digging into it :hammer:  So far I noticed some of those features are already handled by `mqtt-connection` and `mqtt` packages (and also `mqtt-packet`).

As of now, considering my limited knowledge on the code-base and protocol details I would start with `Request / Response` which seems easier to get started and provide a PR for review. Any suggestion is welcome

[2020-02-27 10:22] robertsLando commented on #194
@muka What suggestions do you need? Info about the code base or from what feature start?

[2020-02-27 19:00] muka commented on #194
Nothing specific, will attempt an implementation to start with.

[2020-02-28 16:29] robertsLando commented on #451
@seeLuck Try to use latest version of mqemitter-redis and `aedes-persistence-redis` to check if this is working now

[2020-03-03 12:53] #451 closed

[2020-03-05 09:59] qbcbyb opened #458 "[bug] Duplicated subscriptions in persistence"
In my code, when I set QoS to 1 when subscribing to multiple topics at one time, multiple redundant records will be generated in the `Persistence`. By looking at the source code, I think it's the problem here [addSubscriptions(client, packet.subscriptions, ...](https://github.com/moscajs/aedes/blob/76cdd8e10493946b33a286d127154416fd2dd59e/lib/handlers/subscribe.js#L106). I think `packet.subscripti

[2020-03-05 16:22] robertsLando commented on #458
@qbcbyb Could you proivide a code to replicate this?

[2020-03-09 09:10] #438 closed

[2020-03-18 03:47] gnought opened #459 "[question] use exposed aedes-packet from persistence"
@robertsLando I have checked the source, we import aedes-packet from serveral places in the core.
1. lib/client.js
2. lib/qos-packet.js
3. lib/handlers/subscribe.js
4. aedes.js

It is easy to use Packet from persistence in point 4, but to keep consistency, i think we're better to use aedes-packet directly to adapt point 1 to 3.

[2020-03-18 06:47] gnought commented on #458
@qbcbyb which persistence are you using?

[2020-03-18 07:28] robertsLando commented on #459
What you mean? I think that there could be less consistency in doing this than use the one from persistence. If you use aedes-packet somewhere and aedes-persistence.packet elsewhere there could be much less consistency IMHO

[2020-03-18 09:11] gnought commented on #458
@qbcbyb I do a quick test using `aedes-persistence`, but I cannot reproduce the issue you mentioned.

[code]

[2020-03-18 09:15] gnought commented on #459
Sorry for my unclear wordings.

How I could refer `Packet` from aedes-persistence in these 3 lines then?

https://github.com/moscajs/aedes/blob/f68cd771222aa974969039b750b04954b6968cea/lib/client.js#L8
https://github.com/moscajs/aedes/blob/f68cd771222aa974969039b750b04954b6968cea/lib/handlers/subscribe.js#L4
https://github.com/moscajs/aedes/blob/f68cd771222aa974969039b750b04954b6968cea/lib/qos-pac

[2020-03-18 09:26] robertsLando commented on #459
[code]

[2020-03-18 09:34] robertsLando commented on #458
I think he is doing something wrong @gnought, not really a bug. Also I asked him for more info 13 days ago and still no response. I close this for now, will reopen when and if he will ping

[2020-03-18 09:34] #458 closed

[2020-03-18 13:26] gnought commented on #459
Yes, that’s my point, it looks weird. Those 3 files does not directly relate to persistence object, it makes confusion.

[2020-03-18 16:04] robertsLando commented on #459
@gnought Alternative to this? I think that use aedes-packet somewhere and use aedes-persistence packet elsewhere is for sure more weird then this. We could add

[code]

In aedes.js and then import packet elsewhere like

[code]

[2020-03-18 18:56] gnought commented on #459
Exporting `Packet` from `aedes-persistence` and `aedes-cached-persistence` does make sense, as either is a base class of other persistence libraries, like `aedes-persistence-redis`. Any persistence based on that should use the exported Packet rather than explicitly import `aedes-packet`.

However, I'm better not to export `aedes-packet` from aedes core, it is useless and just for one purpose to re

[2020-03-19 09:26] robertsLando commented on #459
@gnought Ok, so keep it as dep in aedes, no problem for me

[2020-03-19 10:40] #459 closed

[2020-03-23 08:58] robertsLando commented on #357
https://github.com/moscajs/aedes-tests

[2020-03-23 14:43] RozziP commented on #270
:+1:

[2020-03-24 03:31] gnought opened #462 "[question] Client vs AedesClient in typescript declaration"
Is `AedesClient` better to state that it is in aedes scope?
https://github.com/moscajs/aedes/blob/d64faebbd133d167b2c066b2a0fc264624e4a5a4/aedes.d.ts#L74

[2020-03-30 10:58] gnought opened #464 "[feat] Validate ClientId"
Based on the MQTT 3.1.1 spec:

The ClientId should fall within the allowed character ranges, we could follow and offer an option to override the behaviour.

[2020-03-30 11:38] robertsLando commented on #464
Isn't this already supported?

Check `maxClientsIdLength` https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#new-aedesoptions--new-aedesserveroptions

[2020-03-30 12:36] gnought commented on #464
I mean the ClientId should be within the mentioned characeter set `0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ`
No spaces, no hypens, no dash.

[2020-03-30 13:15] robertsLando commented on #464
@gnought Oh ok sorry I misunderstand what you wrote. In this case I would prefer to create an option for sure, but I'm not sure I would make it respect the standard by default, I think that this would break many existing instances. I would prefer an option like: `validateClientId` that by default is `false`

[2020-04-05 04:42] VoLinhTruc opened #465 "[question]How to turnoff the Broker in Node-Red"
I've already delete the Aedes Node but the broker still run and the MQTT in and out node still connecting to the broker.
![image](https://user-images.githubusercontent.com/26188668/78467004-700a1300-7732-11ea-87f2-9a9bf8d434ba.png)

How to turnoff/disable the Aedes broker ???

[2020-04-05 08:30] robertsLando commented on #465
Aedes node uses an aedes client that is a configuration node that is not shown in editor. Open the menu by click in the top right corner, select configuration nodes and find the aedes broker configuration node, then press on it and delete it.

Alternatively you can add a new aedes node and in the broker select option you can access the broker configuration and delete it.

To fix this you should op

[2020-04-05 09:18] #465 closed

[2020-04-08 10:39] seeLuck opened #467 "[bug]subscribe Event will triggered while topic is negated."
**System Information**
- Aedes: 0.41.0
- NodeJS: 10.15.3
- OS: Centos 7

**Describe the bug**
Subscribe Event will triggered while topic is negated.

**To Reproduce**
[code]

[code]

[2020-04-08 12:37] robertsLando commented on #467
It's not a bug, the callback should return an error:

[code]

[2020-04-09 02:18] seeLuck commented on #467
According to the part of doc: [authorizesubscribe](https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-authorizesubscribe-client-subscription-callback), negate a subscription should be: ```To negate a subscription, set the subscription to null```
[code]

However, if the callback return an error, the mqtt connection would be closed directly. I thought this case isn't reasonable to ju

[2020-04-09 06:22] robertsLando commented on #467
@seeLuck You right there is somethng wrong here. The code seems ok, need to dig into this

[2020-04-09 15:00] gnought commented on #467
When negate a subscription, based on mqtt spec we have set the qos=128 in suback, and ignored by aedes.
In our current implementation, we still emit original user subscription in `subscribe` event, what do you want to be:
1. emit `subscribe` event **not** include qos!=128 subscriptions?
2. emit `subscribe` event include  all user subscriptions but change those negated qos to 128?

or other suggest

[2020-04-09 15:11] robertsLando commented on #467
IMHO I think that a user in broker 'subscribe' event expects the result of a subscribe not the subscribe request, or we should provide both original request and result

[2020-04-10 02:22] seeLuck commented on #467
Yes, in my first idea, `subscribe` event should be the `succeed` subscribe result of clients' request.

In current implementation, the result includes all succeed and negated subs, I think it is reasonable as well.

But in this case, a way like `change those negated qos to 128` is essential to distinguish between succeed and negated subs in broker `subscribe` event.

[2020-04-10 06:03] #467 closed

[2020-04-15 17:41] aquark opened #469 "subscribe/unsubscribe processed out of order when persistence is used"
When a client subscribes and unsubscribes repeatedly to the same topic in quick succession, sometimes these are processed out of order, resulting in the client believing it has subscribed but it is actually not subscribed.

It looks like the root cause is that the subscribe handler may [complete synchronously](https://github.com/moscajs/aedes/blob/295538898deaa57edcd6f62c469a55dd02a3a58c/lib/handl

[2020-04-15 18:03] robertsLando commented on #469
Are you using mongodb as persistence?

——————

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-16 01:11] aquark commented on #469
No, leveldb. It shouldn't matter which persistence is used, as long as it's asynchronous, because the persistence isn't even called when subscribing.

[2020-04-16 08:20] timepp opened #470 "[question] how to send a message to particular client directly"
Hi in our IOT case the server might send direct control message to client. Is that possible in Sedes?

This is how IBM MQ support it:
[code]

One possible solution is that each client subscribe to a topic named by its own client ID, but I don't know if this is a good design.

[2020-04-16 08:36] robertsLando commented on #469
@mcollina @gnought

[2020-04-16 08:46] robertsLando commented on #470
You could try to do it as follow:

[code]

I haven't tested it and I don't know if have any down side

[2020-04-17 07:39] #470 closed

[2020-04-17 15:40] mcollina commented on #469
I have a feeling this is specific to leveldb. Could you replicate this with Redis or Mongodb?

Overall this highlight a problem in Aedes, which is that we are not pausing the processing of messages while we handle subscribes and unsubscribes.

I'm not sure we want to, I'm just noting that this would be the only way to prevent that.

[2020-04-17 19:00] aquark commented on #469
I don't have redis or mongodb set up to replicate this. Could you look at the code links I provided pointing to the aedes source? The problem seems to be pretty straightforward, and doesn't depend on the persistence layer: aedes processes unsubscriptions asynchronously and subscriptions synchronously, therefore a subscribe received immediately after an unsubscribe will always be lost.

It is easy

[2020-04-18 09:16] mogupta opened #472 "Aedes not responding with empty packets when authentication fails"
**System Information**
- Aedes: 0.41
- NodeJS: 12.16.1
- OS: Windows 10
- Arch: x86_64

**Describe the bug**
Server side code
[code]

Client side code
[code]
**To Reproduce**
Use code above

**Expected behavior**
The client is not triggering the error event. It works flawlessly on mosca as I have been using itfor two years now. I am expecting the error event to trigger with errorCode: 4

[2020-04-18 09:47] mcollina commented on #472
I think the problem is with mqtt@3.0.0, which for certain you have not been using for the last 3 years.

Aedes behavior is correct, and it works exactly like Mosca.

[2020-04-18 10:20] mogupta commented on #472
Thank you @mcollina for the prompt response

I just tried with `https://unpkg.com/mqtt@2.18.8/dist/mqtt.min.js` but no luck. same behavior . The error callback is never called.
I tried with mosca and it works with mqtt@3.0.0 and mqtt@2.8 as expected

Mosca
[code]

FrontEnd
[code]
I get 4 in the error event

[2020-04-18 10:29] mcollina commented on #472
Would you like to send a PR to fix? Thanks.

[2020-04-18 10:31] mogupta commented on #472
I would be a steep learning curve which won't be possible for the next few days. If someone familiar with the codebase can dig into it, I would appreciate it.

[2020-04-18 10:32] mogupta commented on #472
is there any other way to know if the user is unauthorized ? otherwise the client will keep on trying till infinity .

[2020-04-18 10:39] robertsLando commented on #472
Shouldn’t this be covered here?

https://github.com/moscajs/aedes/blob/master/test/auth.js#L314

I can dig into this on Monday

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-04-20 07:29] robertsLando commented on #472
My code works: https://repl.it/@robertsLando/testAedesError

[2020-04-20 07:29] #472 closed

[2020-04-20 07:41] robertsLando commented on #469
It already works like that

Both redis and mongo provides this (depends if you are using clusters it becomes a little bit more complicated) that's why we asked if you could replicate this with those persistences

[2020-04-20 10:08] mogupta commented on #472
Removing node_modules, reinstalling and using a node 12 fixed the issue. Thank you @robertsLando

[2020-04-21 12:33] gnought commented on #470
@timepp can do, please checkout the `client.publish` method.
The `deliverQoS` is a internal method and may be changed, not to use it.

[2020-04-22 06:13] robertsLando commented on #470
@gnought You right, I fix my answer

[2020-04-22 11:15] diwic opened #473 "[question] How do I properly wipe a disconnected session?"
Hi!

Given that MQTTv5 session expiry is not implemented yet, what is the current best way to wipe a persistent (non-clean) session that's been disconnected for a while?

E g, if a persistent session has been disconnected for a specific time interval, or the number of queued messages has exceeded a certain number, or something else, I want aedes to completely forget about the client/session, both

[2020-04-22 11:38] robertsLando commented on #473
@diwic What about [client.close](https://github.com/moscajs/aedes/blob/master/lib/client.js#L237)

[2020-04-22 12:25] diwic commented on #473
@robertsLando Thanks for the quick reply!

I'm looking at the code you pointed at, and I'm not familiar with it so correct me if I'm wrong, but from what I read, it seems to disconnect the socket and unsubscribe the topics (regardless of whether the session is persistent or not), but it's not actually emptying the current queue of offline messages?

[2020-04-22 13:03] robertsLando commented on #473
Could you explain better what you mean? Do you mean outgoing messages queue?

[2020-04-22 13:53] diwic commented on #473
While the client is disconnected, the server must accumulate/store messages (with QoS >= 1) for the client that is disconnected. I think this is the same as the "outgoing messages queue".

If there was something similar to the `emptyQueue` function you pointed to, but would simply discard all messages in the queue instead of writing them to a just connected client, I could use that together with `

[2020-04-22 13:54] robertsLando commented on #473
Actually there is not such method, but it could be implemented on client

[2020-04-22 14:04] robertsLando commented on #473
@diwic Check #474

[2020-04-23 16:55] #473 closed

[2020-04-24 01:25] craigharman opened #475 "Subscribing to all topics [bug]"
**System Information**
- Aedes: 0.40.1
- NodeJS: 12.16.1
- OS: OS X 10.5.4
- Arch: x86_64

**Describe the bug**
Trying to subscribe to all topics via

[code]

However I don't get any subsequent data from the broker. If I change '#' to "+/#' it works. Changing to another broker (eg. mqtt://test.mosquitto.org) allows subscription via #

**To Reproduce**
Steps to reproduce the behavior:
1. Create an

[2020-04-24 06:39] robertsLando commented on #475
@craigharman I'm not able to reproduce your bug. Please could you send a working code that replicate it?

[2020-04-24 07:37] robertsLando commented on #473
@diwic Will submit a patch release so you can test this

[2020-04-24 09:03] diwic commented on #473
@robertsLando Thanks! No hurry though, won't have time to test until next week.

[2020-04-24 16:15] robertsLando commented on #475
If you are using redis I have just found and fix this bug: https://github.com/mcollina/mqemitter-redis/pull/27

[2020-04-28 07:34] craigharman commented on #475
Thank you, that fixed the issue!

[2020-04-28 07:34] #475 closed

[2020-04-29 16:31] Rafamedeiros0 opened #480 "[question] - Persistence"
Hello!!
I'm sorry, I'm a beginner. I'm studying aedes and mosca !!
I managed to make aedes work, but I still don't understand the issue of persistence. It seems that it is specific broker for nodejs.

Could someone explain to me or indicate where I can find more information? I don't know if this is the best place, but I did a lot of research in the last week, but I couldn't answer my questions.

[2020-04-30 06:29] robertsLando commented on #480
What you mean with "the issue of the persistence"?

If you mean why the persistence is needed: It is used to store subscriptions and QoS > 1 packets.

[2020-05-01 00:08] lizzymendivil commented on #192
@urmik hi, could u share with me your configuration about redis, please?
what else did u do to use this: `mq: require('mqemitter-redis')()` ?

[2020-05-02 22:44] lizzymendivil commented on #162
hey @mchsk could tell me please, what does mean *db: 0* in your mqemitter  configuration? Thanks.

[2020-05-04 06:58] robertsLando commented on #162
@lizzymendivil that's a typo, It doesn't mean nothing as both aedes-persistence-redis and mqemitter-redis doesn't accept a db param

[2020-05-04 16:25] Rafamedeiros0 commented on #480
Sorry for the delay. I understood my question and now it doesn't make much sense.

Thank for your time. I will study little more before the next questions. =D

[2020-05-04 16:25] #480 closed

[2020-05-07 00:08] mogupta opened #483 "[Bug] Aedes stops accepting subscribe/ publish"
Hello

I have migrated from mosca few days back . I have a test server with ~10 clients connected and another production server with ~400 clients connected. The smaller instance works great but the bigger one stops responding to subscribe and publish requests after few days . Not sure what could be the cause. I checked the CPU/ memory usage. Its not high.

**Aedes Code**
https://pastebin.com/raw/Z

[2020-05-07 06:11] robertsLando commented on #483
@mogupta Are you using all latest versions of aedes and persistences/mqemitters?

[2020-05-07 08:22] mogupta commented on #483
Hi @robertsLando
I am using
Aedes 0.41.0
edes-persistence-mongodb 8.0.1
mqemitter-mongodb 7.0.0 (This is old)

[2020-05-07 09:05] robertsLando commented on #483
@mogupta I have make some updates to mqemitter mongo so an update could fix things. After some tests the best choice for now is using redis as mqemitter and mongo as persistence and you shouldn't have any problem

[2020-05-07 09:06] mogupta commented on #483
thanks @robertsLando

[2020-05-07 12:30] robertsLando commented on #483
@mogupta I prefer to keep this open. PLease let me know if by updating mqemitter mongodb or by using redis you fix this then feel free to close the issue :)

[2020-05-07 23:01] mogupta commented on #483
@robertsLando same problem without any mq attached to aedes. With the default mqemitter too the same problem persists. Any suggestions where I can start digging ?

[2020-05-08 06:10] robertsLando commented on #483
@mogupta I dunno if the problem could be caused by authorize functions that are `async`. Could you please try to make them not async? simply replace await using promise.then.catch blocks.

I cannot notice anything else wrong, I see you are also using aedes stats that doesn't receive updates from a long time so I dunno if that could be a possible cause too. @gnought @mcollina do you have any idea?

[2020-05-08 16:54] gnought commented on #483
@mogupta What the result after disable authenticate, authorizePublish and authorizeSubscribe?

[2020-05-11 00:08] mogupta commented on #483
@gnought I removed authorizePublish, authorizeSubscribe, aedes stats , express monitor and removed bivac (docker volume backup) but the second day same problem surfaced.

Just now I have upgrade the droplet to higher RAM/ CPU and have also removed authenticate hook. Will update you.

[2020-05-11 09:26] robertsLando commented on #483
Let us know. @mcollina Any ideas?

[2020-05-11 10:00] mcollina commented on #483
No idea and no time to investigatge :(

[2020-05-12 14:48] aquark commented on #469
Look at this function: https://github.com/moscajs/aedes/blob/295538898deaa57edcd6f62c469a55dd02a3a58c/lib/handlers/unsubscribe.js#L17

Note that it calls the persistence even when clean is true. However the subscribe does not call the persistence when clean is true. This creates an asymmetry where an unsubscribe which happens before a subscribe can be applied after it.

[2020-05-12 14:49] aquark commented on #469
This refusal to spend 1 minute to look at your own source code is really undermining my confidence in this project. :(

[2020-05-12 16:02] robertsLando commented on #469
@aquark Sorry but I'm working on this project on my free time and this is the same for others, we are looking for contributors and the author of the project @mcollina can only review PRs

Actually I don't think there are other MQTT brokers for nodejs as Mosca has been archived in favor of this one

Looking at what you have pointed out, what solution do you suggest? Are you able to work on a PR to

[2020-05-13 01:56] mxyue opened #484 "[bug] aedes broker publish lose some message"
**System Information**
- Aedes: 0.41.0
- NodeJS: 12.16.2
- OS: centos 7
- Arch: x86_64

**Describe the bug**
I use aedes broker send some message to client, but client not receive some message

broker
[code]
use broker send message
[code]
If I send 10 times, client probably receive 6 times，

If I use a client send 10 times, other client can get all message。

[2020-05-13 04:34] #484 closed

[2020-05-13 14:34] aquark commented on #469
The workaround I implemented was to make unsubscribe behave similarly to subscribe: it skips the call to persistence when the session is "clean".

https://github.com/moscajs/aedes/pull/486

From my cursory reading of the spec and code, this seems safe, since a clean session should not have any persisted subscriptions anyways. However I'm not deeply familiar with mqtt or aedes to be confident that

[2020-05-14 00:24] briant-spindance opened #487 "[question] Creating a websocket server using Typescript"
I'm trying to make a create a websocket server in Typescript, and I can't seem to translate the Javascript examples I've found into Typescript.

Here's what I have so far:

[code]

I'm getting an error:

"Argument of type '(stream: Connection) => Client' is not assignable to parameter of type '() => void'."

Any pointers on where I'm going wrong?

[2020-05-14 09:24] robertsLando commented on #487
The problem is in `websocket-stream` module interface: https://github.com/maxogden/websocket-stream/blob/master/index.d.ts#L21

That type mismatch with the one on `Aedes.d.ts`

However you can also use another way:

[code]

[2020-05-14 23:53] briant-spindance commented on #487
Sorry, looks like I +1 too quick!

[code]

throws an error, and it looks like broker.handle only accepts one param.

BTW, if we can get this sorted out, I'd be happy to open a PR for some better Typescript examples.

[2020-05-15 07:06] #469 closed

[2020-05-16 00:37] mogupta commented on #483
Hi guys, so upgrading the droplet to higher RAM/ CPU and removing the  authenticate hook fixed the problem. I will remove the async from authentication hook and see if it works.

[2020-05-16 00:50] briant-spindance commented on #487
@robertsLando That worked! Thanks for the help.

[2020-05-16 09:09] martin-doyle commented on #483
Just an idea in order to reproduce the problem. I found https://github.com/inovex/mqtt-stresser more aggressive than https://github.com/krylovsk/mqtt-benchmark. I saw the same behaviour using this tool against Aedes running on a Raspberry Pi 3.

[2020-05-16 09:39] robertsLando commented on #483
Could you take a memory snapshot to see where the most memory is used by aedes?

---

Daniel - Software Engineer

Support me at:
    Github sponsors

[2020-05-18 07:30] #487 closed

[2020-05-18 07:37] robertsLando commented on #483
@martin-doyle could you take a memory snapshot so we can understand where the memory leak is (if any)?

[2020-05-18 08:26] mogupta commented on #483
How can I take the snapshot ? Using node inspector ?

[2020-05-19 06:25] robertsLando commented on #483
Yes @mogupta https://www.toptal.com/nodejs/debugging-memory-leaks-node-js-applications

[2020-05-19 09:13] mogupta commented on #483
Thanks. I will get it to you as soon as possible

On Tue, 19 May, 2020, 11:55 AM Daniel Lando, <notifications@github.com>
wrote:

[2020-05-19 10:18] weiliudong commented on #483
I started the broker directly using memory, and reached a certain amount of connections, but also appeared that I could not publish or subscribe, but only connect.

[2020-05-19 11:44] robertsLando commented on #483
@weiliudong Could anyone point out what causes this? I think the problem could be a memory leak but in order to know this we need a memory snapshot, I'm not able to replicate this even using mqtt-stresser

[2020-05-19 17:29] VarshneyNaupada opened #491 "how to implement offline messages with out using any database?"
I would like to know the client,broker and publisher mechanism to implement offline messages. If Publisher sends messages and client is not connected still old messages on that particular topic should be also processed from client side with out using any database to store offline messages. ?

[2020-05-20 04:18] mogupta commented on #483
So the problem occurred agan when I added back the auth hook. So I think the problem is not a memory leak. What are your thoughts? The server is still on a Higher CPU/ Memory configuration. I even saw the Memory/ CPU usage. I did check CPU / RAM when the aedes started acting up. There were plenty of resources available.

[2020-05-20 06:14] robertsLando commented on #483
So the problem seems to happen only when the auth hook is present?

@martin-doyle @weiliudong Are you using auth hooks too?

Could you all provide your aedes setup?

[2020-05-20 06:14] mogupta commented on #483
Yes

On Wed, 20 May, 2020, 11:44 AM Daniel Lando, <notifications@github.com>
wrote:

[2020-05-20 06:15] robertsLando commented on #483
@mogupta Could you paste here your auth hook? (did you make it without using async function?)

[2020-05-20 06:17] robertsLando commented on #491
@VarshneyNaupada by default all messages are stored in memory, this means that there is not an on disk database and if the process stops all messages are lost

[2020-05-20 06:18] mogupta commented on #483
The auth hook is available in the topmost comment (pastbin). I have only
removed the "async" from the function. I was not using await earlier so no
other changes were made.

On Wed, 20 May, 2020, 11:46 AM Daniel Lando, <notifications@github.com>
wrote:

[2020-05-20 06:33] robertsLando commented on #483
Just noticed that the promise doesn't have a catch block, if the promise fails the auth never returns a value to the callback

[2020-05-20 06:34] #491 closed

[2020-05-20 06:41] mogupta commented on #483
If their is an err from either of the two mongodb requests it will resolve(false). This will eventually call the callback. I will add the catch block to be sure.

[2020-05-20 14:40] robertsLando commented on #483
@mogupta After speaking with @mcollina he has suggested a fix and I have created a PR for that. COuld you kindly test that?

[2020-05-20 19:08] martin-doyle commented on #483
I do not use the auth hook, just a plain server like this:
[code]
If I run mqtt-stresser with 100 clients and 100 up to 1000 messages - no problem no matter how often I repeat the test.
With more clients and/or more messages I see 3 symptoms:

1. Aedes crashes with

[code]
or
[code]

2. I lose messages
[code]
3. Aedes memory increases to high levels like 750MB

I made several Heap snapshots. Where

[2020-05-21 08:17] mogupta commented on #483
@robertsLando I made some changes myself. I will let you know how it goes. It's been 24 hour since I didn't had any issue.

[2020-05-22 21:23] matteodisabatino opened #494 "[question] Understanding authorizePublish"
I've created an Aedes server with this configuration:

[code]

I'm trying to testing this function with a client configured like so:

[code]

And I've got these problems:

1. If I don't explicitly set qos=1 on publish, the server never calls the function authorizePublish. Is this the correct behavior?
2. With qos=1 the server calls the function but I get a strange behavior: the client tries to pub

[2020-05-22 22:53] joseAveleira commented on #487
Sorry, I have a similar problem, I'm trying to make a project in typescript with MQTT, express and websockets functionality but I don't know how to implement the solution mentioned in the previous comment

`import express from "express";
import { Server, Client, AuthenticateError } from "aedes";
import { createServer, Socket } from "net";
import * as http from "http";
//import * as ws from "websoc

[2020-05-23 03:14] mogupta commented on #483
[code]

[2020-05-23 03:16] mogupta commented on #483
This is what have worked so far (72 hours). I looked up the logs and found that the catch has never trigger. So banning deviceIds which were deleted made it stable. mosca handled it without a sweat.

[2020-05-25 09:22] robertsLando commented on #494
@matteodisabatino

`/project/${projectId}/device/${deviceId}/uplink`

Could it be possible you wrongly added a leading `/` ? It's not recommended to use topics that start with `/`

The server should call that on very publish, not only for qos > 1. Remember that if you call publish using broker.publish that will bypass that

About 2-3, could you provide a code [here](https://repl.it/languages/nodej

[2020-05-25 09:39] mogupta commented on #483
Same problem happened last night. @robertsLando should I try out your PR ?

[2020-05-25 09:40] robertsLando commented on #483
@mogupta Yes please. Try that pr

[2020-05-25 09:42] robertsLando commented on #483
@martin-doyle Based on the logs you shared I think you are running an old version od Aedes. COuld you try with latest version please?

[2020-05-25 14:25] robertsLando commented on #487
`npm install -s ws` ?

[2020-05-25 15:32] martin-doyle commented on #483
Yes, the latest version does NOT stop with `Maximum call stack size exceeded`. But Aedes still stops on heavy (mqtt-stresser) load.

For me this is not an issue since I do not have such heavy load on my installation. mqtt-stesser was just a hint in order to reproduce the described behaviour.

[2020-05-25 15:35] robertsLando commented on #483
Dropbox link?

[2020-05-25 16:11] martin-doyle commented on #483
https://www.dropbox.com/sh/75gxfpncqecaqak/AAAuFwHMyNGvcMorhXBi66wTa?dl=0

[2020-05-26 03:15] mogupta commented on #483
@robertsLando deplyed to prod.

[2020-05-26 06:39] robertsLando commented on #483
@martin-doyle Thanks

[2020-05-26 08:02] joseAveleira commented on #487
Yes, thank you, it was a bit frustrating, I installed WS and it didn't fail to find the module, but when I reinstalled it, it was fixed

Thank you very much, I'll keep working

[2020-05-26 14:48] robertsLando opened #495 "[question] highWaterMark"
In a stream based application like aedes, should `highWaterMark` be a configurable option? Could it become a bottle neck with high traffic loads and increese the throughout? @mcollina

https://nodejs.org/api/stream.html#stream_buffering

[2020-05-27 07:20] mcollina commented on #495
It's not possible to change it as our sockets come from the node servers.

[2020-05-27 11:24] matteodisabatino commented on #494
Hi @robertsLando, [here](https://repl.it/@disa1989/StrongRealMemory) my test code reproduces what explained in points 1 and 2.

About the point 1 I have to do a clarification because previously I made a wrong analysis: authorizePublish will trigger and the code will enter into the if (that's correct and that's what you expected) but the promise will not be rejected. Why that? Entering into the if

[2020-05-27 12:04] robertsLando commented on #494
Athourize publish is called [here](https://github.com/moscajs/aedes/blob/master/lib/handlers/publish.js#L34) from the publish handler that will call `client._nextBatch` that will emit a client `error` [here](https://github.com/moscajs/aedes/blob/master/lib/client.js#L63) that will result in a client disconnect.

By default the client will try to re-connect but if the publish is made with QoS 1 it

[2020-05-27 12:26] matteodisabatino commented on #494
@robertsLando very well. I'll wait for your answer.

[2020-05-27 12:31] robertsLando commented on #494
@mcollina I have made some tests and seems that the error is not emitted to the client when the authorizePublish fails, we disconnect the client, is this the correct behaviour? Shouldn't we also return the error back to the client someway?

[2020-05-27 12:35] robertsLando commented on #494
Based on mqtt specs: http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#MQTT-3.3.5-2

So nothin wrong here @matteodisabatino

[2020-05-27 12:35] #494 closed

[2020-05-27 12:44] robertsLando commented on #495
Even for Transorms inside aedes? Could it increese the throughout at least? We could add some docs about that if so

[2020-05-27 12:50] matteodisabatino commented on #494
@robertsLando understood. Thanks for the clarification.

[2020-05-27 12:54] robertsLando commented on #495
Mine is just a thought but if for example we make [this](https://github.com/moscajs/aedes/blob/master/lib/utils.js#L31) function a broker function where `highWatermark` is a broker option, could this have better perfromances?

[2020-05-27 13:27] mcollina commented on #495
Unlikely that having a global broker option would improve perf with that.

[2020-05-27 14:45] robertsLando commented on #495
Ok thanks for the clarification Matteo

[2020-05-27 14:45] #495 closed

[2020-05-28 09:22] lixiaomeng8520 commented on #155
@mcollina I also have this problem,  setting it to null does not work.  Mqtt.js invoke the close event.

[2020-05-28 09:24] robertsLando commented on #155
@lixiaomeng8520  Check: https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-authorizesubscribe-client-subscription-callback

[2020-05-28 10:05] lixiaomeng8520 commented on #155
@robertsLando

I just want to get the sub error  in mqtt.js. Below is my client code:

[code]

[2020-05-29 06:35] robertsLando commented on #155
@lixiaomeng8520 Based on MQTT specs you should not reveive the error there, instead you should check the granted qos of the subscription, if it is 128 it means the subscription has been rejected. Check suback response [here](http://docs.oasis-open.org/mqtt/mqtt/v3.1.1/os/mqtt-v3.1.1-os.html#_Toc385349323-)

[2020-05-30 00:20] timepp commented on #470
Thanks!

[2020-06-01 21:39] automateAll opened #498 "Client connects and disconnects immediately"
I am writing some Integration tests between as JS app and Aedes server over websocket.
I have observed that, my test cases (involving 2 Paho-mqtt clients) are successfully able to **connect** to aedes broker, **publish** &**subscribe** the messages and also **close** the connection at the end when ran individually.
However, when ran  as a suite, only first test case runs fine but the 2nd test case

[2020-06-02 15:33] automateAll commented on #498
Ok, i was able to fix it. I realized that i am supposed to close 2 connections:
1) Websocket connection
2) httpServer connection

something like this:
[code]

[2020-06-02 15:34] automateAll commented on #498
I must say, Aedes is a great work. Kudos to the team :)

[2020-06-02 15:34] #498 closed

[2020-06-02 15:46] mschwartz opened #499 "[feat] Docker Container"
I've been using Mosca for a couple of years or more.  It is particularly useful for me because there is a Docker image for it on DockerHub.

I see no mention of Docker in this repo.

Also, for Mosca, the docs say to use /var/db for the Mosca data directory, and that does not work on MacOS.  /var is unwritable, even as root!

[2020-06-03 06:27] robertsLando commented on #499
@mschwartz Thtat's for sure something interesting, I need to speak with @mcollina about this.

@mcollina Do you think we should add docker to this repo or create an aedes-docker repo for that?

We could use buildx and github actions to make automated builds when something changes on aedes repo

[2020-06-03 06:28] robertsLando commented on #498
@automateAll Glad you fixed it :)

[2020-06-03 11:11] mcollina commented on #499
I think we should have an easy to use executable for starting Aedes. Managing cli arguments and config is a significant feature. However, I'm -1 on this being on this repo, as it would bloat things considerably and make it harder to maintain as the main use case of Aedes it to be used as a module.

I've said several times that I would like that project to be Mosca and things were built / layered t

[2020-06-03 11:44] robertsLando commented on #499
Yes I know that, we started aedes-cli repo for that purpose but unfortunally the collaborator that should have worked on that has disappear... I could take a look at it once I found some time.

Completely rewrite a module isn't always the best practise in my opinion, mosca is really different then aedes, I think that we could keep this on the todos list for now and start thinking about the aedes-c

[2020-06-03 12:57] mogupta commented on #483
@robertsLando so it was working fine till today. I added back the authorizeSubscribe and authorizePublish and the same problem came back just after a few hours after the update. Any suggestions , I used your branch.

[2020-06-03 13:13] robertsLando commented on #483
But at least with that fix things was working better? I mean before adding authorize functions?

[2020-06-03 13:15] mogupta commented on #483
Yes , everything worked fine. Please note that for the past 8 days the authenticate function was there but not the Authorize functions.

[2020-06-03 13:19] robertsLando commented on #483
So the fix has partially fixed something, we need to understand why and how authorize functions can create problems

[2020-06-03 13:31] mcollina commented on #499
Creating a docker image is removing all that modularity and solidifying it in one single image.

[2020-06-03 13:51] mschwartz commented on #499
FWIW,

I am almost done writing a book about Docker.  In it, I use Mosca and its Docker image.  Now that I see the repo is archived, I may have to rewrite all the sections that mention Mosca and use something else.

What I like about Mosca is the Docker image and ease of deployment.  A simple "docker run" command and you have an MQTT broker up and running.

I appreciate that you have a new vision

[2020-06-03 13:58] robertsLando commented on #499
Sure but docker is not the only way users will use this. I think that if we create an aedes-cli plugin all those probelms are solved and it can be used inside the docker container then

[2020-06-03 14:05] mcollina commented on #499
Having an aedes-cli it's just a matter of naming things :).

[2020-06-03 14:11] robertsLando commented on #499
I think that I could use some of the work made in aedes-tests repo to start with that. Will keep you updated :)

[2020-06-03 14:13] mschwartz commented on #499
[code]

[2020-06-03 14:17] robertsLando commented on #499
https://github.com/moscajs/aedes-cli

[2020-06-03 20:08] mschwartz commented on #499
Please, please, please...

Keep the mosca container image on docker hub!

[2020-06-03 20:45] robertsLando commented on #499
Don’t worry it will not be removed, there is no reason for that, mosca is just archived.

Aedes will be a full replacement of it just need to find some more collaborators and sponsors that believe in it :)

---

Daniel

[2020-06-04 07:37] robertsLando commented on #483
@mogupta Could you please paste here your authorize functions? Did you remove async from them?

[2020-06-04 07:40] mogupta commented on #483
@robertsLando the pastbin link at the top has everything you need. Yes I did remove async .

[2020-06-04 07:41] mogupta commented on #483
Here it is

[2020-06-04 07:43] robertsLando commented on #483
@mogupta Yes I checked it but it still has async functions and I would like to check how you fixed it, also you have pasted the authenticate function here and based on what [you said](https://github.com/moscajs/aedes/issues/483#issuecomment-638189519) it was working good with that.

[2020-06-04 08:15] mogupta commented on #483
https://pastebin.com/xDY7Sn6H
Here is the complete code. I just noticed I didn't remove the async functions from validateRequest function which is part of the authorizeSubscribe  and authorizPublish

[2020-06-04 08:19] robertsLando commented on #483
Try with:

[code]

[2020-06-06 04:12] mogupta commented on #483
@robertsLando same problem reappeared. Not sure what to do. Here is my updated code
https://pastebin.com/0UfFUwnv
I am using 0.42.1 of aedes which has the fix.

[2020-06-08 07:19] robertsLando commented on #483
The strange thing here is that if you run the code without your autorize functions there is no problem, so I don't know how and why but seems those functions are creating problem and it's not really something related to aedes itself. I say this because authorize functions (authorizePublish and authorizeSubscribe) are used even when not defined by the user so it couldn't be a memory leak with callb

[2020-06-08 15:48] robertsLando commented on #499
@mschwartz Once [this] is merged I will start with docker container for Aedes :)

[2020-06-10 10:02] robertsLando commented on #499
@mschwartz aedes-cli@0.1.0 is out now :tada: Docker container is coming soon :)

[2020-06-11 12:51] bhirave commented on #483
Hello All,
did you guys resolved this issue ? i am in the process of migration of `mosca` to `aedes`. We use Auth hooks heavily. Any particular reason that `async/await` should be changed `promise` based handling in `auth` hooks ?.

[2020-06-11 13:21] robertsLando commented on #499
@mschwartz firs version available on docker https://hub.docker.com/repository/docker/moscajs/aedes :tada:

[2020-06-11 13:33] robertsLando commented on #483
Because aedes treats them as functions and not promises. When you call `fn(cb)` and `fn` is `async` it will return a promise

[2020-06-11 14:08] bhirave commented on #483
@robertsLando thanks. Is it same case for `authenticate` hook as well ?

[2020-06-11 14:11] robertsLando commented on #483
@bhirave Yes

[2020-06-11 14:18] mschwartz commented on #499
I appreciate it!

How do you use it with MongoDB back end?  Or any other persistence?

[2020-06-11 14:20] robertsLando commented on #499
Check repo readme :) You just have to specify an `--config` option and
point it to a file in the form specified in readme

Il giorno gio 11 giu 2020 alle ore 16:19 Michael Schwartz <
notifications@github.com> ha scritto:

--
--

*Daniel Lando - Ufficio Tecnico R&D**daniel@innovation-system.it*
*0424 1863023*

*Innovation System S.r.l. *
*Via Motton, 83 36061 Bassano del Grappa (VI)*

*Sede Operati

[2020-06-11 14:22] mschwartz commented on #499
So --config will see from inside the container a config file that is in the host file system?

Just to be clear :)

[2020-06-11 14:43] robertsLando commented on #499
@mschwartz nope you have to use docker volumes, you have to map the local folder that contains the config files to a folder inside the container and then refer it in the image.

Example:

[code]

[2020-06-11 14:55] mschwartz commented on #499
You should put that on the docker hub page, if you haven't already:)

[2020-06-11 14:59] robertsLando commented on #499
I'm working on docs now

[2020-06-11 15:33] bhirave commented on #483
@robertsLando but when i use `async/await` on these hooks, seems like its working fine so far. But i havent done any load testing as @mogupta performed. Here is my code snippet-

`
async function authorizeSubscribe(client, sub, cb) {
    let authorized = false;
    let errorMessage = "";
    try {
        if (someCondition == true) {
            authorized = await callBackEndAPI();
        }

[2020-06-11 15:36] robertsLando commented on #483
I didn't say it would not work, it works but could cause some memory leaks problems, expecially with high loads

[2020-06-11 15:43] bhirave commented on #483
Thanks @robertsLando . I am really looking forward to hear solution / fix for original thread @mogupta  started. so i could take care of it before we perform migration from **mosca** to **aedes**. Let me run some benchmarking tools, see what happens with it.

[2020-06-11 15:55] #499 closed

[2020-06-11 19:19] bhirave commented on #483
@mogupta @robertsLando  i also found that, if you dont set `maxClientsIdLength`, default value is 23 (?). So i am running benchmark tool right now, my client was generating random id (and length was more than 23).

three observations
- if client id length is more than 23, and auth/authz hooks are async/await, with 150 clients, broker stopped responding without any error

- if client id length is m

[2020-06-11 21:03] robertsLando commented on #483
That’s interesting! I would like to know if @mogupta is using clientsId with 23 or more charaters. There must be a memory leak in connect handler when return code is 2. I will dig into this tomorrow

---

Daniel

[2020-06-12 02:04] bhirave commented on #483
@mogupta i would recommend you to add following subscriptions, so you can get more logging, why subscription being stopped

`aedes.on('connectionError', function (client, err) {
    console.log('client connection Error:', clientInfo.id, "==>", err.message);
    // disconnect client
    client.close();
});

aedes.on('clientError', function (client, err) {
    console.log('client error:', clientInfo

[2020-06-12 02:19] bhirave opened #506 "Live probeness Check"
Hello Team,
what approach would you suggest to check live probeness of `aedes-mqtt-broker` using kubernetes ?

i was thinking following two approaches:

1) at certain frequency, attempt to connect/subscribe/disconnect a new client
OR
2) at certain frequency, just check `aedes` server status

Thank you.

[2020-06-12 04:22] mogupta commented on #483
Hi @bhirave
Example
Device Client's id is **IOTSSClient-b5e4** 16 char
User Client id (APP) **5d7115f6d7ec8c00c5454e34** 24 char
Username - **user-5d7115f6d7ec8c00c5454e34**  29 Char
password - **98d7ff8e-ac63-11ea-bb37-0242ac130002** 36 Char

 I noticed that when the problem happens, on publishing requests from APP and MQTT no error occurers . The client  stays connected but is unable to receive

[2020-06-12 04:25] bhirave commented on #483
@mogupta whats max number of connections will be connected at that point when error occures ?

[2020-06-12 04:26] mogupta commented on #483
@bhirave ~400

[2020-06-12 04:28] bhirave commented on #483
and messages published / subscribed - what is QoS ? just out of curiosity - did you MongoDB status - which is your message persistance ? We had mongo+mosca, but we are moving away from that to aedes+redis.

[2020-06-12 04:30] mogupta commented on #483
@bhirave QOS 0 . Persistence is mongo+aedes

[2020-06-12 04:38] bhirave commented on #483
@mogupta might be adding those events (https://github.com/moscajs/aedes/issues/483#issuecomment-643023613), can help you to monitor situation.

[2020-06-12 04:40] bhirave commented on #483
@mogupta what are you using for monitoring - https://github.com/moscajs/aedes/issues/483#issuecomment-639976851 indicates that broker is flooded and it cant accept new connections any more ?

[2020-06-12 04:49] mogupta commented on #483
@bhirave I will try those tomorrow morning IST (when my users are sleeping) . The broker doesn't seem to be flooded. No matter how I try and how many connections are alive, the broker stops accepting publish messages. no error is returned on the client. I tried with Mqttfx when the broker was misbehaving.

[2020-06-12 04:50] mogupta commented on #483
@bhirave for the monitor I am just publishing a random number every 60 seconds and expecting the same message back using mqttjs. If it fails for 5 consecutive times , docker restarts the container.

[2020-06-12 06:04] robertsLando commented on #506
@bhirave You could just listen for aedes heartbeats `$SYS/<aedes.id>/heartbeat`

[2020-06-12 08:30] robertsLando commented on #483
Just found this bug, @mogupta @bhirave could you please give a try to `fix#connect` branch ?

[2020-06-12 13:28] mogupta commented on #483
@bhirave can you please load test again to see if the issue is resolved. I can't push testing code to production often.

[2020-06-13 00:13] mogupta commented on #483
@robertsLando @bhirave Deployed to production with the fix and also the [Comment](https://github.com/moscajs/aedes/issues/483#issuecomment-643023613)

[2020-06-15 07:11] robertsLando commented on #483
@mogupta Is it working now?

[2020-06-15 07:12] mogupta commented on #483
@robertsLando I would need at least a week to confirm if the problem is resolved. It happens spordiacly

[2020-06-18 00:30] mogupta commented on #483
@robertsLando everything is fine till now . I just noticed the following message today.

`(node:17) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 ready listeners added to [MongoPersistence]. Use emitter.setMaxListeners() to increase limit`

[2020-06-18 06:27] robertsLando commented on #483
@mogupta I suggest you to pass to aedes the db connection instead of the url and wait for persistence ready to start the server, that could happen when aedes receives lot messages and the persistence is not ready

[2020-06-18 23:55] mogupta commented on #483
@robertsLando the server stopped publishing twice yesterday. I think the logs are not more elaborate. Thanks to @bhirave . See below. So right after the following messages , aedes stopped publishing new message. If you want the entire logs I can email you . thanks

[code]

[2020-06-18 23:57] mogupta commented on #483
I have made the following changes and deployed. The mongoPersistence object doesn't seem to return anything. So not sure how do I make sure that mongoPersistence has instantitated properly before Aedes starts up ?
[code]

[2020-06-19 01:56] bhirave commented on #483
@mogupta Thanks. Not sure this help. But i usually disconnect / close client on `client error`

[code]

[2020-06-19 06:11] robertsLando commented on #483
Ok I have checked your code again @mogupta, seems you are using mqemitter-mongodb, if you are not using aedes with clusters there is no reason to use that emitter, also in my tests mqemitter-mongodb seems to have some serious memory leak on high loads. I suggest you to use the default emitter `mqemitter` or `mqemitter-redis`. That kind of error could be caused by some memory leaks with that emitte

[2020-06-19 06:15] robertsLando commented on #483
It's useless to call `client.close` on clientError as it's already called immediatly after that event is emitted:
https://github.com/moscajs/aedes/blob/master/lib/client.js#L192

[2020-06-19 08:05] mogupta commented on #483
@robertsLando I moved to `mqemitter` a while back.

[2020-06-19 08:56] robertsLando commented on #483
try to set an higher concurrency on mqemitter

[2020-06-19 08:57] robertsLando commented on #483
About mongodb persistence, you should wait for 'ready` event before starting the server. Check https://github.com/moscajs/aedes-cli/blob/master/lib/cli.js#L325

[2020-06-19 12:37] robertsLando commented on #483
@mogupta Also are you using wos 0 1 or 2 for your messages? I have found some bugs with qos 2 messages

[2020-06-19 12:38] mogupta commented on #483
QOS 0

On Fri, 19 Jun, 2020, 6:07 PM Daniel Lando, <notifications@github.com>
wrote:

[2020-06-19 13:15] robertsLando opened #509 "[bug] 'connection closed' and 'no such packet' errors when multiple clients pub QoS 2"
**System Information**
- Aedes: 0.42.2
- NodeJS: 12.13.1
- OS: Ubuntu 18.04
- Arch: x86_64

**Describe the bug**

When there is only one client that publish QoS 2 messages everything works fine but starting with 2 or more clients simultaneously publishing QoS 2 messages such errors occurs.

[2020-06-19 13:24] robertsLando commented on #483
@mogupta Could you try to use this https://github.com/moscajs/aedes/pull/508

[2020-06-22 18:13] #506 closed

[2020-06-22 19:00] Jaarson opened #510 "Is there an easy way to list all connected clients, when using multiple instances of Aedes?"
I'm using Docker Swarm and have couple of replicas of Aedes running. I can easily get IP addresses of all of them, then implement a logic to ask them for client list one by one (aedes.clients) .
But, is there an easier way? Since Aedes won't allow to connect two clients with the same ID, even if they try to connect to different instances - there is already a logic which keeps a list of all clients

[2020-06-23 07:23] robertsLando commented on #510
@Jaarson Aedes to ensure unique clients ids in a cluster env subscribes to `$SYS/+/new/clients` and checks if he has an existing client with that id, if so it will close the connection.

So to answer your question, a solution would be to create a client that subscribes to `$SYS/+/new/clients` and `$SYS/+/disconnect/clients` to keep an update clients list.

Another solution could be to listen to `c

[2020-06-23 07:32] #510 closed

[2020-06-23 07:33] #354 closed

[2020-06-23 07:33] #428 closed

[2020-06-23 07:34] robertsLando commented on #483
@mogupta @bhirave any news?

[2020-06-23 07:35] mogupta commented on #483
Need a week more. No good or bad news yet. 😀

On Tue, 23 Jun, 2020, 1:04 PM Daniel Lando, <notifications@github.com>
wrote:

[2020-06-24 16:58] ilomon10 opened #513 "[question] How to prevent abuser subscribing to topic?"
hello, I just know mqtt

how to set [access control](https://mosquitto.org/man/mosquitto-conf-5.html) on a particular topic / client to prevent other clients from receiving sensitive messages, they can subscribe to wildcards to get all topic messages.

Maybe it's like socket.io which can create room and make clients join to certain rooms with unique keys so that other clients cannot easily listen.

[2020-06-24 18:08] robertsLando commented on #513
https://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices/

Start from there. On aedes side there are authenticate and authorize functions that could help in this. Best practice in general from what you are looking for is to embed an id to topics and use aedes aithorize functions to enable some clients to subscribe/publish to certain topics

---

Daniel

[2020-06-24 18:09] #513 closed

[2020-06-25 09:07] ilomon10 commented on #513
@robertsLando thank you for fast respond. It can be done with [authorize function](https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-authenticate-client-username-password-callback), with compare stored authenticated client and i can [revoke](https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-authorizesubscribe-client-subscription-callback) client who trying to subs

[2020-06-25 13:10] #509 closed

[2020-06-29 08:22] #483 closed

[2020-07-01 09:44] robertsLando commented on #483
@mogupta Is this finally fixed so?

[2020-07-01 18:17] mauriceLC92 commented on #270
@gnought I would love to start contributing here. Could I perhaps take this on please?

[2020-07-01 18:20] robertsLando commented on #270
@mauriceLC92 Go with it :) @gnought isn’t active from almost 2 months

[2020-07-01 22:21] demian85 opened #515 "[bug] password is a Buffer in AuthenticateCallback"
Based on latest typings:
[code]

I'm getting a Buffer instead of a string for argument `password` in the actual callback, but I'm not sure which is the expected type. Either the type declaration or the actual implementation is wrong.
It doesn't seem right to me that the password is a Buffer.
Can someone please check this behavior? I can fix the type if you want.

Thanks.

[2020-07-02 06:13] robertsLando commented on #515
@demian85 I think the type is wrong in types declaration bacause AFAIK it is correct that password is a Buffer for security reason. But to be sure I have to ask to @mcollina

[2020-07-02 07:29] mcollina commented on #515
Yes, the types are wrong, password is a buffer as the MQTT protocol does not specify its encoding.

[2020-07-02 08:49] robertsLando commented on #515
@demian85 Fell free to submit a pr to fix the types so

[2020-07-03 00:09] demian85 commented on #498
Why are you closing connections? I don't understand the purpose of it. Isn't it a long running server? why do you need to close connections?
I'm running into a similar issue, getting the following error:

[code]

[2020-07-03 00:27] demian85 commented on #515
it's been fixed and I never knew it, npm did not upgrade the lib automatically :/

[2020-07-03 00:27] #515 closed

[2020-07-03 00:37] demian85 opened #516 "[bug] Connection closed"
**System Information**
- Aedes: 0.42
- NodeJS: 12.16
- OS: Amazon Linux AMI

Hello,

I started to get the following errors:

[code]

The broker is rejecting almost every connection and it is running almost in production. I don't understand how this started to happen because I haven't made changes to the code for the past 3 days and the broker has been running just fine.

Does anyone have a clue wh

[2020-07-03 01:12] demian85 commented on #516
So it appears that it broke after upgrading from v0.40 to v0.42, rolled back and it is working as expected. Please review the latest release because there is some nasty bug hidden.

[2020-07-03 06:11] robertsLando commented on #516
@demian85 Are you using version 0.42 or 0.42.4?

Can you add some console.log in aedes events ? Like `publish` `connect` etc..

Once the error occurs we can understand what is causing it. I'm using aedes in production too but I never faced this error

[2020-07-03 08:23] robertsLando commented on #498
A test suite needs all connections to be closed in order to complete or it will hang. When a client connects to a broker there is a socket opened and that socket needs to be closed once the test is finished

[2020-07-03 13:41] demian85 commented on #516
I'm using the latest version 0.42.4
I'm also listening to all possible events and logging to Cloudwatch, but there is no useful information to debug this issue.

I'm pasting the most important part of the code, leaving the most important stuff:

index.ts
[code]

broker.ts
[code]

Thanks for your help.

[2020-07-03 13:46] robertsLando commented on #516
The error occurs after a wos publish, I would like to see the entire log output to try to understand what is going on there...

Also a working a working code (https://repl.it/languages/nodejs) that reproduces the problem would be the best

[2020-07-03 13:49] robertsLando commented on #516
Use clusters could be one

[2020-07-03 13:56] demian85 commented on #516
I think it would be easier to review which commits were added between version 0.40 and the latest one.
The stack trace I posted in my first message is the only thing I have.
I'm not using QoS 2, which appears to be the cause of an open issue.

[2020-07-03 13:59] robertsLando commented on #516
There are lot things that has changed in latest commits, there was many leaks fixed, the roout cause could be https://github.com/moscajs/aedes/commit/b8543838453731836d9cb9cac13720c247f3c358 , if so downgrading to version 0.42.2 should solve the problem.

Anyway I don't have many info to help you with the code/logs you provided

[2020-07-05 23:47] mogupta commented on #483
@robertsLando yeah , problem resolved. I will keep you posted if the problem reappears.

[2020-07-06 09:53] robertsLando opened #518 "[question] Can ack packet be undefined?"
[outgoincClearMessageId](https://github.com/moscajs/aedes-persistence/blob/master/persistence.js#L237) could return an undefined packet, when we emit the [ack](https://github.com/moscajs/aedes/blob/master/lib/handlers/puback.js#L6) it could be undefined, is this correct? @mcollina

[2020-07-06 09:57] robertsLando commented on #518
https://github.com/moscajs/aedes/blob/c5d5b8e03944737adaea2761c1b571b5f7bb53e4/lib/handlers/puback.js#L6

I mean could this be `origPacket || packet`? Or should we send that event just if origPacket is defined?

[2020-07-06 14:01] demian85 commented on #516
I cannot find a way to test the rollback to v0.42.2. This is already in production and I would have to simulate thousands of devices for testing purposes. v0.40 is up and running with no problems.
As I said, that stack trace is the only thing I can share.

[2020-07-06 14:08] robertsLando commented on #516
@demian85 https://github.com/moscajs/aedes/pull/517 could be a possbile fix to this errors

[2020-07-07 06:35] robertsLando commented on #516
@demian85 Try with Aedes@0.42.5

[2020-07-07 19:01] pantalejmon opened #520 "[feat] Option to disable $SYS publish"
Please add the option to disable log information on topic "$SYS"

For example
[code]

best regards :)

[2020-07-08 09:35] robertsLando commented on #520
@pantalejmon Unfortunally this cannot be done as $SYS topics are used by aedes instances in a cluster environment

[2020-07-08 09:35] #520 closed

[2020-07-09 14:25] gailingmic opened #521 "[bug] sending multiple publish will only send a few"
**System Information**
- Aedes: 0.42.4
- NodeJS: 12.5.0
- OS: Windows 10, Mac OSX, Arch
- Arch: x86_64

**Describe the bug**
If you publish a bunch of messages in rapid succession not all of the messages will be send.

**To Reproduce**
[code]

[2020-07-09 14:39] robertsLando commented on #521
@gailingmic why are you using `await` in aedes.publishj? It's not async, also I don't understad why you set the cmd and dup parameters

[2020-07-09 14:46] gailingmic commented on #521
@robertsLando sorry the await was a copy paste error from my real codebase (i wrapped the function in a promise)
And i set cmd and dup because of the docs here: https://github.com/mqttjs/mqtt-packet#publish but removing those 2 changes nothing. the issue is still there!

also i edited the code example to be correct

[2020-07-09 14:55] robertsLando commented on #521
@gailingmic It is working: https://repl.it/@robertsLando/aedes521

[2020-07-09 14:58] gailingmic commented on #521
@robertsLando could you please try it on your local machine and connect to it with a websocket mqtt client? because the event is firing for me locally aswell but it isnt getting send to any client (i tried multiple)

[2020-07-09 15:01] robertsLando commented on #521
Could you setup an example using mqttjs?

[2020-07-09 15:03] gailingmic commented on #521
oh my god! thank you so much... it was a bug in an old mqttjs version... 😅

[2020-07-09 15:03] #521 closed

[2020-07-12 22:08] franzon opened #522 "[bug] Subscribe not working for retained messages"
**System Information**
- Aedes: 0.42.5
- NodeJS: 12.18.2
- OS: Ubuntu 20.04
- Arch: x86_64

**Describe the bug**
If a message with the retained flag is published, and at a later point in time the server subscribes to the topic of the message, the message is not received.

**To Reproduce**
Steps to reproduce the behavior:
1. Run aedes broker
2. Use `setTimeout` to simulate a future event which subs

[2020-07-13 12:42] robertsLando commented on #522
Could you create a working example with code that reproduce the issue? Also, what persistence/emitter are you using?

[2020-07-13 18:35] franzon commented on #522
I'm using `aedes-persistence-mongodb`. Here is an example:

[code]

[2020-07-13 18:38] robertsLando commented on #522
broker subscribe function isn’t like client subscribe, it doesn’t fetch retained. Try to do the same example using mqttjs and you will see it works

---

Daniel

[2020-07-13 18:41] robertsLando commented on #518
@mcollina

[2020-07-13 18:59] franzon commented on #522
Yes, it works. Thanks!

[2020-07-13 19:34] #522 closed

[2020-07-14 08:30] #516 closed

[2020-07-20 13:34] basickarl opened #524 "[question] Better examples"
https://github.com/moscajs/aedes/blob/master/docs/Examples.md

While it is nice to have a file with code examples, I feel that they lack quite a lot of things...

Graceful shutdown of the server for example (including kicking of client sockets manually) is one thing I'd like to see.

[2020-07-20 14:15] robertsLando commented on #524
@basickarl What you are speaking about is something related to the http module, it is the server that handles sockets. There are lot online examples about how to keep track of sockets and gracefully close them (I think there are also some modules for this).

For example: https://github.com/tellnes/http-close

[2020-07-21 05:03] jaaambee opened #525 "Aedes closes after client disconnection"
Hi! I'm trying to use LWT to check the status of a IOT hardware. But when I disconnect my device and the broker sends the LWT "offline" message on "/event/deviceID/status" topic, I get the next error and the aedes client closes.

**/Users/jaambee/.nvm/versions/node/v12.18.0/lib/node_modules/aedes-cli/lib/cli.js:363
    logger.debug('ACK of %s received from client \x1b[33m%s\x1b[0m, broker %s', pac

[2020-07-21 05:33] robertsLando commented on #525
Please update aedes-cli to larest version, this has been already fixed

[2020-07-21 05:33] #525 closed

[2020-07-21 07:30] #524 closed

[2020-07-22 07:06] zengleyi opened #526 "[question] When does data tables of `incoming`, `outgoing` and `will` have data?"
Excuse me, can you explain to me under what conditions the data tables of incoming, outgoing and will have data? I found that mine was always empty. Thank you very much！
The more detailed the better！

[2020-07-22 07:06] #526 closed

[2020-07-25 14:40] vinayk7 opened #527 "[question] How to get the client IP"
Is it possible to get IP address of the client in any event or method?
[code]

**METHOD**
`aedes.authenticate = function (client, username, password, callback) {
 //can I get client's ip here?
}`

**EVENT**
`aedes.on('client', (client)=>{
 //or here?
})
`

[2020-07-27 08:45] robertsLando commented on #527
You should be able to get it from  `client.req`

[2020-07-27 08:45] #527 closed

[2020-07-27 13:59] demian85 opened #529 "[question] Can I mutate client.id in authenticate handler?"
Hello guys, I'm trying to normalize the client.id based on the username/password and I'm not sure where could be the right place to do that.
I need to identify the client by the actual user id in our database, but I cannot rely on the client putting the correct client.id when connecting, that can be any value...
So, when authenticating, I can actually extract the userId from my JWT and set it as t

[2020-07-27 16:05] robertsLando commented on #529
I suggest to use another client property, like `client.user` where you add all user informations added on client connect event. You will be able to access to them even on other events as the client object will be the same

[2020-07-27 16:05] #529 closed

[2020-07-31 19:46] jsponz opened #530 "[bug] Devices sending JSON disconnect"
**System Information**
- Aedes: 0.40.1
- NodeJS: 12.13.1
- OS: Ubuntu 18.04
- Arch: x86_64

**Describe the bug**
Devices publishing a JSON are continuously disconnected. They connect and disconnect.

On the device bug:

...
[056946] [MQTT] Connecting to broker at localhost:1883
[056946] [MQTT] Client ID: A813D6
[056947] [MQTT] QoS: 0
[056947] [MQTT] Retain flag: 1
[056947] [MQTT] Keepalive time: 3

[2020-07-31 21:45] robertsLando commented on #530
Firstly update aedes to latest version please

---

Daniel

[2020-08-01 09:37] jsponz commented on #530
I am using the lastest version. I did not update the issue template

[2020-08-03 07:11] robertsLando commented on #530
@jsponz Could you please send me the entire aedes logs and also a working example that replicate the issue? You can create one here: https://repl.it/languages/nodejs

[2020-08-06 15:55] bhirave commented on #405
@robertsLando do you have example on how to use 'ws' package with aedes ?

[2020-08-07 07:57] robertsLando commented on #405
@bhirave https://github.com/moscajs/aedes-cli/blob/master/lib/cli.js#L236

[2020-08-12 22:17] Misiu commented on #192
@urmik any updates on this?
I'd like to run a couple of instances of aedes, but I'm new to it and can't find anything about clustering and any example config.

[2020-08-13 22:24] bhirave opened #531 "[bug]messages are not being delivered in multi-container environment"
**System Information**
- Aedes: 0.42.5
- NodeJS: 12.13.1
- OS: Ubuntu 18.04
- Arch: x86_64
- redis (single instance)

**Describe the bug**
in cloud, we have 1 cluster, 4 nodes, 4 container setup, so there are 4 instances of mqtt broker. We have HaProxy load-balancer to balance TCP/WS connections. With this setup, published messages (with QoS1) are not being delivered to subscribers. I am not setti

[2020-08-14 06:51] robertsLando commented on #531
Are you using redis for mqitter and persistence too?

[2020-08-14 06:53] bhirave commented on #531
I am just using aedes-redis-persistance package. Not using mqEmitter.

Thanks,
Bapu Hirave

Sent from my Android phone, please embrace the typos

________________________________
From: Daniel Lando <notifications@github.com>
Sent: Friday, August 14, 2020 1:51:58 AM
To: moscajs/aedes <aedes@noreply.github.com>
Cc: Bapu Hirave <Bapu.Hirave@brunswick.com>; Author <author@noreply.github.com>
Subject:

[2020-08-14 06:55] bhirave commented on #531
I am just using aedes-redis-persistance library, not using emitter.

[2020-08-14 07:00] bhirave commented on #531
Additional comments: we were using Mosca in above setup, and it was working fine.

[2020-08-14 09:31] robertsLando commented on #531
You MUST  use mqemitter-redis or mqemitter mongo in a cluster environment. That’s the reason why it’s not working :)

---

Daniel

[2020-08-14 09:34] robertsLando commented on #531
@bhirave it's impossibile Mosca was working, it doesn't support clusters 😅

[2020-08-14 11:17] Misiu opened #532 "[question] Best way to store messages into DB."
I'm new to Aedes, I'd like to point that out at first, so please be gentle :)
I'm trying to create a solution that will allow me to store readings from sensors into DB.
I've based my solution on https://medium.com/better-programming/how-to-design-a-complete-iot-solution-using-node-js-674787409e57
This involves creating a couple of services:
-broker with Aedes (it is also responsible for authentica

[2020-08-14 12:31] bhirave commented on #531
@robertsLando let me setup mqemitter-redis.

here is my redisOptions looks like, do i need to change anything to support redis-cluster configuration ? somewhere i read that i should pass an array of all redis instances connection info ?

[code]

[2020-08-17 08:18] robertsLando commented on #531
@bhirave Please read the docs, everything it's documented

[2020-08-17 08:18] #531 closed

[2020-08-17 08:21] robertsLando commented on #532
It depends, but you could see how telegraf does it: https://www.influxdata.com/integration/mqtt-monitoring/

Sure

[2020-08-17 08:21] #532 closed

[2020-08-17 09:03] Misiu commented on #532
@robertsLando thanks for the reply.
I've seen that integration, but unfortunately, I can't change the message format (the integration expects Telegraf Input Data Format).

The thing that I must decide now is how to store the messages:
1: create a separate service
2: add message storing to broker service

1 will be easier to create but will be harder to cluster. 2 will be easier to cluster (as each

[2020-08-17 09:23] robertsLando commented on #532
I would store messages by using the process that is running aedes and get published messages by subscribing to aedes `published` event

[2020-08-17 09:44] #530 closed

[2020-08-21 04:58] mogupta opened #533 "Mqtt client doesn't receive QOS 0 or QOS 1 messages sporadically."
**System Information**
- Aedes: 0.42.5
- NodeJS: 12.16.1
- OS: Ubuntu 18.04
- Arch: x86_64

**Describe the bug**
Mqtt client doesn't receive QOS 0 or QOS 1 messages sporadically. I can reproduce using the following code
[code]
broker.emqx.io broker always sends messages but aedes sometimes miss the delivery to the client
I am using mqttfx as client. Sometimes the client only receives 3 out of 4 me

[2020-08-21 06:03] robertsLando commented on #533
@mogupta What's the qos used by the mqtt client to subscribe?

The publish is QoS1 but if the subscribe is QoS 0 it could be the reason why some messages are missed

[2020-08-21 06:44] mogupta commented on #533
Tried both. QOS 1 on both and likewise QoS 0

On Fri, 21 Aug, 2020, 11:34 am Daniel Lando, <notifications@github.com>
wrote:

[2020-08-21 06:48] robertsLando commented on #533
Could you also give a try to redis emitter?

[2020-08-29 21:03] ahmedwahdan opened #536 "No msg on heartbeat topic"
Hi,

I changed the heartbeatinterval to 1000 but I didn't receive msgs on the heartbeat topic!

`const aedes = require('aedes')({heartbeatInterval : 1000})`

[2020-08-29 21:59] ahmedwahdan commented on #536
The problem happens because I set the server id to a certain value
server.listen(port, function () {
  console.log('server started and listening on port ', port)
  aedes.id = '64651736-072b-4dda-9981-6ea7f2601bc3'
  console.log(aedes.id)
})
what is the correct way to do this?

[2020-08-29 22:03] ahmedwahdan commented on #536
This way fixed the problem
[code]

[2020-08-29 22:03] #536 closed

[2020-09-01 09:35] robertsLando commented on #533
@mogupta Could you please give a try to: https://github.com/robertsLando/mqemitter-mongodb/tree/patch-1 and tell me if the bug is still present?

`npm install robertsLando/mqemitter-mongodb#patch-1`

[2020-09-03 08:21] #357 closed

[2020-09-03 08:21] #359 closed

[2020-09-03 08:21] #358 closed

[2020-09-07 08:25] mogupta commented on #533
@robertsLando was on vacation. Will try it out soon.

[2020-09-10 01:45] bobbydog opened #540 "[feat] Could it support client subscribe/unsubscribe notification to other client?"
I used mosca.js before, which provide the topic "$SYS/+/new/subscribes"  "$SYS/+/new/unsubscribes"   to let my service client knows that the app client had subscribed the particular topic, but in aedes  it did not publish this message with similar topic.

[2020-09-10 15:52] robertsLando commented on #540
Yes it could. Feel free to open a PR or just wait some days until I find some time to sort this out :)

[2020-09-14 13:28] robertsLando commented on #533
@mogupta With mqemitter-mongodb@7.0.4 everything should work perfectly!

[2020-09-15 07:36] #540 closed

[2020-09-24 18:40] ahmedwahdan opened #542 "TLS two way authentication with unique identity per connection"
Hello,

I would like to have TLS layer with unique certificate, keys for each device like AWS IOT.
Where to start?

Regards,

[2020-09-25 08:38] robertsLando commented on #542
Could you better explain what you are looking for in details?

[2020-09-25 10:44] ahmedwahdan commented on #542
I can see how to use TLS but how to create unique identity for each device so each device will be authenticated with unique keys and certificate. is it clear now?

[2020-09-26 11:28] ahmedwahdan commented on #542
I got the idea how to do this.
The point is we just verify the client certificate using the CA certificate.
My question is how to revoke a client certificate?

[2020-09-28 07:12] robertsLando commented on #542
You could use aedes `preConnect` https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-preconnect-client-callback or handle this in tls server manually by listening for `connection` event and manually close the socket when you don't want to allow that client to connect https://nodejs.org/api/tls.html#tls_event_connection

[2020-09-28 09:32] nfrolov opened #543 "[bug] Client error publishing two messages during same tick with overlapping subs"
**System Information**
- Aedes: 0.42.6
- NodeJS: 12.13.1
- OS: macOS 10.14.6
- Arch: x86_64

**Describe the bug**
If two QoS 1/2 messages with same topic are published during single tick and client has overlapping subscriptions, then client error `no such packet` is emitted and client is disconnected.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `aedes`
2. Copy test into `test` d

[2020-09-28 09:47] robertsLando commented on #543
I think [your fix](https://github.com/nfrolov/aedes/commit/ebf53b8e8e1c6409085efde1bd66206717129ad5) could be the real fix needed for this problem.

Thoughts @mcollina ?

[2020-09-28 09:54] robertsLando commented on #543
I think [your fix](https://github.com/nfrolov/aedes/commit/ebf53b8e8e1c6409085efde1bd66206717129ad5) could be a possible solution but I don't think it's correct to call `outgoingClearMessageId` when messageId is undefined.

Thoughts @mcollina ?

[2020-09-28 11:43] robertsLando commented on #543
I think we are missing a `new QoSPacket(packet)` construtor in `aedes.publish` [functions](https://github.com/moscajs/aedes/blob/master/aedes.js#L243) when qos is > 0.

Maybe here: https://github.com/moscajs/aedes/blob/master/aedes.js#L181?

[2020-09-28 12:35] robertsLando commented on #543
Maybe I'm missing something here but in aedes-persistence outgoingEnqueue new Packet is called:

https://github.com/moscajs/aedes/blob/master/aedes.js#L254

And that will result in messageId to be undefined:

https://github.com/moscajs/aedes-packet/blob/master/packet.js#L17

So there should be no reason to call `outgoingClearMessageId` without a previous  `outgoingUpdate`

[2020-09-28 13:53] vipin-kiwi opened #544 "Client disconnected after 3-4 min if app won't be in use."
When we did not use app then after 3-4 min client disconnected. if i am opening the app from the last position. then unable to post the message. i have checked the server. 'keepaliveTimeout' event trigger with in 4 min.

[2020-09-28 13:57] robertsLando commented on #544
This is not a bug with aedes, if keepaliveTimeout is triggered it means youir client isn't sending any ping to broker. Try to increese the keepAlive in client (it's a connect parameter) or dig into your client code to understand why it's not sending a ping to broker.

http://www.steves-internet-guide.com/mqtt-keep-alive-by-example/

[2020-09-28 13:57] #544 closed

[2020-09-28 15:40] mcollina commented on #543
I currently have no time to look into this.

[2020-09-28 22:41] FIRAT-URASLI commented on #191
`aedes.authorizeSubscribe = async function (client, sub, callback) {

    console.log(client._parser.settings.username)

}`

[2020-09-29 06:42] robertsLando commented on #543
@nfrolov Could you please send a pr with the `setImediate` fix and the test?

[2020-10-01 09:04] tienvv1234 opened #545 "[question] Can i apply the X.509 Client Certificate Authentication"
I want to create an authentication flow, that's similar to the IoT core,
- X.509 certificates authenticate the client and device connections to the broker
https://docs.aws.amazon.com/iot/latest/developerguide/x509-client-certs.html
if yes, how can I implement it

[2020-10-01 12:59] robertsLando commented on #545
Could try to use `preConnect` hook https://github.com/moscajs/aedes/blob/master/docs/Aedes.md#handler-preconnect-client-callback

[2020-10-02 03:20] tienvv1234 commented on #545
Yes, I can, but I don't know how to send certificates from client to broker and how the broker access to certificates

`const mqtt = require('mqtt');
const client = mqtt.connect('mqtt://localhost:8883', {
    // username: 'test',
    // password: 'test',
    key: fs.readFileSync("./private.pem.key"),
    cert: fs.readFileSync("./certificate.pem.crt"),
});`

[2020-10-02 07:49] robertsLando commented on #545
I think you could try to give a look also to https://github.com/moscajs/aedes/blob/master/lib/client.js#L77

I think `decodeProtocol` function isn't documented yet but it's used for example in https://github.com/moscajs/aedes-protocol-decoder to decode the protocol. Try to give a look at them @mcollina thoughts?

[2020-10-02 08:00] mcollina commented on #545
This is totally possible and every single time I forget on how to do it. I'd recommend to look on how to do it with bare tcp/Node.js and then port it on top of Aedes/MQTT.

[2020-10-02 08:14] robertsLando commented on #545
To parse/validate certs you could use [node-forge](https://www.npmjs.com/package/node-forge)
https://stackoverflow.com/questions/48377731/using-node-js-to-verify-a-x509-certificate-with-ca-cert

@mcollina What I don't understand is when does the parse should happen, I mean what I would do is to do it in `aedes.decodeProtocol`, here I would popolate the client with the `key` and `cert` coming from

[2020-10-02 08:18] robertsLando commented on #545
Something like:

[code]

[2020-10-02 08:41] tienvv1234 commented on #545
thank you guys for quick response, I will try it

[2020-10-05 07:13] robertsLando commented on #545
@tienvv1234 Let us know :) Could be useful to other users too

[2020-10-07 14:34] robertsLando commented on #545
@tienvv1234 Pay attention that with latest release 0.43.0 the preconnect signature has changed

[2020-10-08 08:06] tienvv1234 commented on #545
ok thank you

[2020-10-16 12:55] jing-tw commented on #187
You can find the usage at the example, https://github.com/moscajs/aedes/blob/master/examples/clusters/index.js.

[2020-10-16 14:18] peterpoetzi opened #550 "[question] Publish message to a single client"
Is it possible to publish a message to a topic where multiple clients are subscribed, but I want that particular message only to be delivered to one client?

[2020-10-16 14:21] robertsLando commented on #550
Yes, use `client.publish`

[2020-10-16 14:33] peterpoetzi commented on #550
Thank you

[2020-10-16 14:34] #550 closed

[2020-10-21 09:33] ahmedwahdan opened #551 "aedes.publish only publish to one client not all subscribed clients"
Hello,

Based on the example below, I'm sending packet form client and the broker sends back another packet to a topic 'test'.

Expected behavior:
All clients subscribed to 'test' topic should receive the packet.

Actual behavior:
Only the publisher get the packet.

[code]

[2020-10-22 06:20] robertsLando commented on #551
@ahmedwahdan I cannot reproduce your issue

[2020-10-23 13:32] ccravens commented on #194
@muka I'm interested in MQTTv5 req/resp, but I didn't see a PR number. Have you submitted a PR yet? Is this something in progress? @robertsLando thanks for that comprehensive list!

[2020-10-23 14:10] mcollina commented on #194
@ccravens I do not think this is being worked on atm.

[2020-10-23 14:18] robertsLando commented on #194
@ccravens Actually there isn't any work in progress on Mqtt5 support

[2020-10-26 10:25] #551 closed

[2020-10-26 10:26] robertsLando commented on #545
Closing this for now

[2020-10-26 10:26] #542 closed

[2020-10-26 10:29] robertsLando commented on #398
This could be closed with the introduction of aedes-server-factory

[2020-10-26 10:29] #398 closed

[2020-10-26 10:29] robertsLando commented on #364
@getlarge Could we close this now?

[2020-10-26 10:30] robertsLando commented on #405
Fixed by introducing aedes-server-factory

[2020-10-26 10:30] #405 closed

[2020-10-26 10:31] robertsLando commented on #338
@getlarge should this be moved to aedes-server-factory or protocol decoder libs instead?

[2020-10-26 10:46] getlarge commented on #545
@robertsLando  Maybe we could keep track of that issue as reference for a feature we could add in the server-factory ?

[2020-10-26 10:48] robertsLando commented on #545
Ok I will move this there

[2020-10-26 10:54] getlarge commented on #338
Good question, protocol-decoder might be a better place. We could still reuse that logic inside the server-factory via an option that could be overridden by user like `protocolDecoder`, `serverFactory`.

[2020-10-26 10:55] getlarge commented on #364
yes

[2020-10-26 12:41] #364 closed

[2020-10-28 02:52] JaosnHsieh opened #553 "[bug] unable to publish with in memory mqemitter after some mqtt clients connected"
**System Information**
- Aedes: 0.44.0
- NodeJS: 12.13.1
- OS: Ubuntu 18.04
- Arch: x86_64

**Describe the bug**

Unable to publish after clients connected and publish some messages while using default in memory mqemitter.

**To Reproduce**

Default `mqemitter` concurrency number is `100` in aedes so it happened when more clients connected, it's easy to reproduce it when `concurrency` set to `2`

[2020-10-28 13:44] robertsLando commented on #553
It's a very basic functionality I suggest to check your code, the error is there, if your bug would be true no one could use aedes

[2020-10-28 14:14] JaosnHsieh commented on #553
it doesn't happen too often due to default concurrency `100` which able to handle quite a lot of messages. Set to `2` for easier reproduce only.

Couldn't  see errors either on broker side or mqtt.js client side.

server.js
[code]

client.js

[code]

Share with someone who also encountered same issue.